{% set _build_num = 1 %}
{% set _build = '?b=' ~ _build_num %}

{% macro jsLits(_h, list, build) %}
	{% for item in list %}
		{% if item|slice(0, 4) == 'http' %}
		<script src="{{ item }}"></script>
		{% else %}
		<script src="/assets/js/{{ item }}.js{{ build }}"></script>
		{% endif %}
	{% endfor %}
{% endmacro %}

{% macro cssLits(_h, list, build) %}
	{% for item in list %}
		{% if item|slice(0, 4) == 'http' %}
		<link rel="stylesheet" type="text/css" href="{{ item }}" >
		{% else %}
		<link rel="stylesheet" type="text/css" href="/assets/css/{{ item }}.css{{ build }}" >
		{% endif %}
	{% endfor %}	
{% endmacro %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it">
<head>
	<link rel="icon" href="/assets/img/favicon.png{{ _build }}" type="image/x-icon" >
	<link rel="shortcut icon" href="/assets/img/favicon.png{{ _build }}" type="image/x-icon" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=device-dpi">
	<meta http-equiv="Content-Language" content="IT">
	<meta name="copyright" content="Powered by Lab.Info. - Copyright (c) 2016 - All Rights Reserved">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Balestri e Balestri</title>
	<link rel="stylesheet" href="/assets/css/base.css{{ _build }}">
	<link rel="stylesheet" href="/assets/css/layout.css{{ _build }}">
	<link rel="stylesheet" href="/assets/css/form.css{{ _build }}">
	{{ _self.cssLits(_h, css, _build) }}
	<script src="/assets/js/plugin/jquery-1.11.3.min.js{{ _build }}"></script>
	<script src="/assets/js/plugin/json2.js{{ _build }}"></script>
	<script src="/assets/js/h/h.js{{ _build }}"></script>
	<script src="/assets/js/h/h-datepicker.js{{ _build }}"></script>
	<script src="/assets/js/h/h-validator.js{{ _build }}"></script>
	<script src="/assets/js/h/h-form.js{{ _build }}"></script>
	<script src="/assets/js/base.js{{ _build }}"></script>
	{{ _self.jsLits(_h, js, _build) }}
	<script>
	H.imagesUrl = '{{ _h.url('assets/img') }}';
	H.build = {{ _build_num }};
	H.url_logout = '{{ _h.url('my/logout') }}';
	H.url_my_index = '{{ _h.url('my/index') }}';
	</script>
</head>
<body class="loading-layer manager">