<div class="layer layer-strong window">
<div>
	<form>
		<div class="toolbar">
			<a href="{{ _h.url('index') }}" title="home page" class="button button-style link"><img src="/assets/img/ico/ico-home.png"></a>
		</div>
		<div id="form">
			<h1>Balestri e Balestri</h1>
			<div class="field-line-text">
			Isyweb.ch Sàrl<br>
			Postfach<br>
			3961 Vissoie
			</div>		
			<div class="field-line-text">
			<a href="http://www.balestriebalestri.it" target="_blank">www.balestriebalestri.it</a>
			</div>			
		</div>
	</form>
</div>
</div>