<div class="layer layer-strong window">
	<h1>Errore interno</h1>
	<p>Si è verificato un errore interno al server. Ci scusiamo per l'inconveniente. Lo staff è già stato avvisato del problema, riprovare più tardi.</p>
</div>