
		</div>
	</div>
  
	<footer class="hrow">
		<div class="hrow">
			<section class="coll logo-gray">
				<img src="/assets/img/logo-footer.png" alt="Balestri e Balestri">
			</section>
			<section class="coll">
				<ul>	
					<li><a href="/" class="link">Home</a></li>
					<li><a href="{{ _h.url('richiesta-contatto') }}" class="link">Richiedi contatto</a></li>
					<li><a href="http://www.balestriebalestri.it" class="link">Balestri e Balestri</a></li>
				</ul>
			</section>
		</div>
		<section class="copy">
			Balestri e Balestri &copy; 2016
		</section>
	</footer>
</div>

</body>
</html>