<div id="wrapper">
	<div id="main">
		<header class="hrow">
			<a class="logo link" href="/index" title="Balestri e Balestri">
				<img src="/assets/img/logo.png" alt="Balestri e Balestri">
			</a>
		</header>
		
		<div id="content">