
<div class="layer layer-strong login">
<div>
	<form>
		<div class="toolbar">
			<a href="{{ _h.url('my/logout') }}" title="esci" class="button button-style link"><img src="/assets/img/ico/ico-exit.png"></a>
		</div>
		<div id="form">
			<h1>Imposta password</h1>
			<div class="field-line-text">
			Inserisci la tua nuova password di accesso:
			</div>
			<div class="field-line">
				<div class="field" data-tips="la password deve essere lunga almeno 8 caratteri, contenere almeno una lettera maiuscola, una lettera minuscolae un numero">
					<label>Nuova password</label>
					<input type="password" name="password" maxlength="50" class="valida-required valida-check-password valida-password">
				</div>
			</div>
			<div class="field-line">
				<div class="field" data-tips="ripetere la password inserita">
					<label>Conferma password</label>
					<input type="password" name="conferma_password" maxlength="50" class="valida-required valida-confermapassword">
				</div>
			</div>
			<div class="field-button">
				<a class="action-submit-form button-submit action-return-submit button" data-action='{"url": "{{ _h.url('ex-imposta-password') }}", "onComplete": {"type": "url", "url": "{{ _h.url('my/index') }}"}}'><span>imposta</span></a>
			</div>
		</div>
	</form>
</div>
</div>