<div class="layer layer-strong login">

	<div class="center">
	<img src="/assets/img/ico-login.png" alt="login" class="ico-login">
	</div>
	<form>
		<input type="hidden" name="open" value="{{ open }}">
		<div class="field-line">
			<div class="field" data-tips="inserire l'indirizzo di posta elettronica utilizzato per accedere al portale">
				<label>E-Mail</label>
				<input type="text" name="e_mail" maxlength="100" class="valida-required valida-emailsuper">
			</div>
		</div>
		<div class="field-line">
			<div class="field" data-tips="inserire la password personale assegnata, per questioni di sicurezza assicurati che nessuno stia guardando">
				<label>Password</label>
				<input type="password" name="password" maxlength="50" class="valida-required">
			</div>
		</div>
		<div class="field-line field-line-checkbox">
			<div class="hrow" data-tips="abilitando questa opzione non sarà necessario ripetere il login per gli accessi successivi, mettere questa spunta solo se utilizzi solo tu questo computer">
				<span data-value="1" class="checkbox"><input type="hidden" value="" name="ricordami"></span>
				<label>Ricordami</label>
			</div>
		</div>
		<div class="field-button">
			<a class="action-submit-form button-submit action-return-submit button" data-action='{"url": "{{ _h.url('ex-login') }}", "onComplete": {"type": "url", "url": "{{ _h.url('my/index') }}"}}'><span>entra</span></a>
		</div>
		<div class="field-text" {% if not(ext) %}style="margin-top: 20px;"{% endif%}>
			<a class="link" href="{{ _h.url('recupero-password') }}" title="recupera password">Dimenticato la password?</a>
		</div>
	</form>
</div>