<div class="layer layer-strong login">
<div>
	<form>
		<div class="toolbar">
			<a href="{{ _h.url('login') }}" title="home page" class="button button-style link"><img src="/assets/img/ico/ico-home.png"></a>
		</div>
		<div id="form">
			<h1>Reset password</h1>
			<div class="field-line-text">
			Per recuperare la password inserire l'indirizzo di posta elettronica utilizzato per accedere al portale. Se troveremo nei nostri archivi corrispondenza riceverai un e-mail con le istruzioni per reimpostare la password.
			</div>
			<div class="field-line">
				<div class="field" data-tips="inserire l'indirizzo di posta elettronica utilizzato per accedere al portale">
					<label>E-Mail</label>
					<input type="text" name="e_mail" maxlength="100" class="valida-required valida-email">
				</div>
			</div>
			<div class="field-button">
				<a class="action-submit-form button-submit action-return-submit button" data-action='{"url": "{{ _h.url('ex-recupero-password') }}", "onComplete": {"type": "show", "show": "#msg_confirm", "hide": "#form"}}'><span>recupera</span></a>
			</div>
		</div>
		<div id="msg_confirm" class="confirm-hidden-block">
			<div class="field-line-text">
			Se troveremo nei nostri archivi corrispondenza con l'e-mail inserita, riceverai a breve un e-mail con le istruzioni per recuperare la password.<br>
			Nel caso non visualizzi l'e-mail verifica anche nella cartella spam della tua posta elettronica.<br>
			Il link fornito ha una validità di 24 ore.
			</div>
			<div class="field-line-text">
			Puoi ripetere l'invio del link per il reset attraverso il seguente link: <a href="{{ _h.url('recupero-password') }}" class="link">Recupera password</a>
			</div>
		</div>
	</form>
</div>
</div>