<div class="layer layer-strong login">
	<form>
		<div class="toolbar">
			<a href="{{ _h.url('login') }}" title="home page" class="button button-style link"><img src="/assets/img/ico/ico-home.png"></a>
		</div>
		{% if ref_token %}
		<div id="form">
			<input type="hidden" name="ref_id" value="{{ ref_id }}">
			<input type="hidden" name="ref_token" value="{{ ref_token }}">
			<h1>Reset password</h1>
			<div class="field-line-text">
			Per reimpostare la password inserire l'indirizzo di posta elettronica utilizzato per accedere al portale e la nuova password.
			</div>
			<div class="field-line">
				<div class="field" data-tips="inserire l'indirizzo di posta elettronica utilizzato per accedere al portale">
					<label>E-Mail</label>
					<input type="text" name="e_mail" maxlength="100" class="valida-required valida-email">
				</div>
			</div>
			<div class="field-line">
				<div class="field" data-tips="la password deve essere lunga almeno 8 caratteri, contenere almeno una lettera maiuscola, una lettera minuscolae un numero">
					<label>Password</label>
					<input type="password" name="password" maxlength="50" class="valida-required valida-check-password valida-password">
				</div>
			</div>
			<div class="field-line">
				<div class="field" data-tips="ripetere la password inserita">
					<label>Conferma password</label>
					<input type="password" name="conferma_password" maxlength="50" class="valida-required valida-confermapassword">
				</div>
			</div>
			<div class="field-button">
				<a class="action-submit-form button-submit action-return-submit button" data-action='{"url": "{{ _h.url('ex-reset-password') }}", "onComplete": {"type": "show", "show": "#msg_confirm", "hide": "#form"}}'><span>imposta</span></a>
			</div>
		</div>
		<div id="msg_confirm" class="confirm-hidden-block">
			<h1>Password modificata</h1>
			<div class="field-line-text">
			La tua password è stata correttamente modificata. Accedi alla pagina di <a href="{{ _h.url('index') }}">Login</a> per entrare nel sistema.
			</div>
		</div>
		{% else %}
			<h1>Reset password</h1>
			<div class="field-line-text">
			Non è possibile procedere con il reset della password in quanto i parametri non risultano corretti o l'utente è disabilitato o non presente in archivio.
			</div>
			<div class="field-line-text">
			Ricordati che il link fornito per il reset della password ha una validità di 24 ore a partire dalla richiesta.
			</div>
			<div class="field-line-text">
			Puoi ripetere l'invio del link per il reset attraverso il seguente link: <a href="{{ _h.url('recupero-password') }}" class="link">Recupera password</a>
			</div>
		{% endif %}
	</form>
</div>