<div class="layer layer-strong window">
<div>
	<form>
		<div class="toolbar">
			<a href="{{ _h.url('login') }}" title="home page" class="button button-style link"><img src="/assets/img/ico/ico-home.png"></a>
		</div>
		<div id="form">
			<h1>Richiesta contatto</h1>
			<div class="field-line-text">
			Per metterti in contatto con il supporto <strong>Balestri e Balestri</strong> compila il form qui sotto
			</div>
			<div class="field-line">
				<div class="field" data-tips="inserire il nome del richiedente">
					<label>Nome<span>*</span></label>
					<input type="text" name="nome" maxlength="50" class="valida-required">
				</div>
			</div>
			<div class="field-line">
				<div class="field" data-tips="inserire il cognome del richiedente">
					<label>Cognome<span>*</span></label>
					<input type="text" name="cognome" maxlength="50" class="valida-required">
				</div>
			</div>
			<div class="field-line">
				<div class="field" data-tips="inserire l'indirizzo di posta elettronica dove ricevere il contatto">
					<label>E-Mail<span>*</span></label>
					<input type="text" name="e_mail" maxlength="100" class="valida-required valida-email">
				</div>
			</div>
			<div class="field-line">
				<div class="field" data-tips="inserire il numero di telefono dove ricevere contatto">
					<label>Telefono</label>
					<input type="text" name="telefono" maxlength="50">
				</div>
			</div>
			<div class="field-line field-line-textarea">
				<div class="field" data-tips="messaggio da inviare allo staff">
					<label>Testo del messaggio</label>
					<textarea name="testo" data-maxlength="1000"></textarea>
				</div>
			</div>
			<div class="field-button">
				<a class="action-submit-form button-submit button" data-action='{"url":"{{ _h.url('ex-richiesta-contatto') }}","onComplete": {"type":"show","show":"#msg_confirm","hide":"#form"}}'><span>invia</span></a>
			</div>
		</div>
		<div id="msg_confirm" class="confirm-hidden-block">
			<div class="field-line-text">
			Ti ringraziamo per averci scritto, lo staff ti contatterà a breve.
			</div>
		</div>
	</form>
</div>
</div>