<div data-merge-content="item">
	<div class="item-info-details">
		[[? it.utente ]]
		<div class="item-info-details-last">
			<div>[[=it.data_operazione  || '' ]]</div>
			<div>[[=it.tipo_operazione  || '' ]]</div>
			<div><em>da:</em> [[=it.utente.nome || '']] [[=it.utente.cognome || '']]</div>
		</div>
		<div class="item-info-details-all action-info-item-all" data-action='{"id": [[=it.id_risorsa]], "type": "[[=it.tipo_risorsa]]"}'>visualizza tutte</div>
		[[??]]
		informazioni non disponibili
		[[?]]
	</div>
</div>