<div class="window-base window-base-no-toolbar">
	<div class="window-title">
	Azioni
	</div>
	<div class="window-content">
	<div id="list_info" class="action-load-data action-autoupdate table-wrapper" data-update-content="info" data-load-params='' data-action='{"mergeTemplate": {"template": "list", "dataType": "list", "insertType": "prepend"}, "loadData": {"url": "info/list", "params": {"id": %id%, "type": "%type%"}}}'>
		<div data-merge-template="list">
		[[ var type = ''; ]]
		[[~it.list :item:index]]
			<table>
			<tr data-ip="[[=item.ip]]" data-id-utente="[[=item.id_utente ]]">
				<td><div class="td-simple">[[=item.data_operazione]]</div></td>
				<td><div class="td">[[=item.tipo_operazione]]</div></td>
				<td><div class="td">[[=item.utente.nome || '']] [[=item.utente.cognome || '']]</div></td>
				<td><div class="td-simple">[[=item.ip ]]</div></td>
				<td>
					<div class="td-simple"><a class="button button-style action-item" data-action='{"options": "menu-context-info-list"}'><img src="/assets/img/ico/ico-action.png"></a></div>
				</td>
			</tr>
			</table>
		[[~]]
		</div>
		<div data-content="menu-context-info-list">
		<a class="button action-utente-scrivi">Scrivi a utente</a>
		<a class="button action-confirm" data-action='{"title": "Blocco IP", "text": "Procedere con il blcocco IP?", "url": "system/ip/ex-blocco", "paramId": "data-ip"}'>Blocca IP</a>
		</div>

		<table class="table-single-selection-shift table table-fix-header">
		<colgroup>
			<col class="col col-datetime">
			<col class="col col-100">
			<col class="col">
			<col class="col col-ip">
			<col class="col col-action">
		</colgroup>
		<thead>
			<tr>
				<th data-order="data_operazione" data-order-type="desc"><div class="th">Data</div></th>
				<th><div class="th">Azione</div></th>
				<th><div class="th">Effettuata da</div></th>
				<th><div class="th">IP</div></th>
				<th></th>
			</tr>
		</thead>
		<tbody data-merge-content="list"></tbody>
		</table>
	</div>
	</div>
</div>