<div class="window-base window-base-bottombar window-base-tab tab">
    <div class="window-title">
        Tipo Cartello
    </div>
    <form data-merge-content="item">
        <input type="hidden" name="id" value="[[=it.id || '']]">
        <div class="window-content-header">
            <div data-tab-rif="principali">Generale</div>
            <div data-tab-rif="immagine">Logo</div>
        </div>
        <div class="window-content">
            <div data-tab="principali">
                <div class="window-content-inner">
                    <div class="field-line">
                        <div class="field" data-tips="nome del tipo cartello">
                            <label>Nome<span>*</span></label>
                            <input type="text" name="nome" maxlength="100" class="valida-required" value="[[=it.nome || '']]">
                        </div>
                    </div>
                    <div class="field-line">

                        <div class="field" data-tips="codice interno del gestionale">
                            <label>Codice</label>
                            <input type="text" name="codice" maxlength="150" value="[[=it.codice || '']]">
                        </div>

                    </div>
                    <div class="field-line-text">
                        <em>I campi con <span class="obbligatorio">*</span> (asterisco) sono obbligatori</em>
                    </div>
                </div>
            </div>
            <div data-tab="immagine" scale-window='{"width":"550", "height":"500"}'>
                <div class="window-content-inner">
                    {% set vars = {
                    'show_preview': true,
                    'show_alternativo': false,
                    'key': 'icona',
                    'url_upload': 'my/data/upload-image'
                    } %}
                    {% include 'my/template/blocks/img_edit.html.twig' with vars %}
                </div>
            </div>
        </div>
        <div class="window-bottombar">
            <a class="button button-close button-style action-layer-close-button">Annulla</a>
            <a class="button action-submit-form button-submit" data-action='{"url": "{{ _h.url('my/data/tipocartello/ex-edit') }}", "onComplete": {"type": "close-win", "update": "tipocartello"}}'><span>salva</span></a>
        </div>
    </form>
</div>