<div class="window-base">
    <div class="window-title">
        Tipo Cartello
    </div>
    <div class="window-toolbar">
        <div class="window-toolbar-button">
            {% if _h.session.params.user.sola_lettura == '0' %}
            {% if _h.session.profile == 'super' %}
            <a class="button button-style action-template" data-alttext="crea nuovo" data-action='{"template": "tipocartello/edit", "css": "layer-mini-edit"}'><img src="/assets/img/ico/ico-add.png"></a>
            {%endif%}
            {% if _h.session.params.user.profile >= 10 %}
            <a class="button button-style action-update" data-alttext="modifica dati" data-action='{"select": {"from": "#list_tipocartello", "check": 1}, "url": "tipocartello/load", "template": "tipocartello/edit", "css": "layer-mini-edit"}'><img src="/assets/img/ico/ico-mod.png"></a>
            {%endif%}
            {% if _h.session.profile == 'super' %}
            <a class="button button-style action-delete" data-alttext="elimina" data-action='{"select": {"from": "#list_tipocartello", "check": 0}, "title": "Elimina", "url": "tipocartello/ex-delete"}'><img src="/assets/img/ico/ico-del.png"></a>
            {%endif%}
            <span class="button-separator"></span>
            {%endif%}
            <!--<a class="button button-style action-upload-file" data-alttext="icona" data-action='{"select": {"from": "#list_tipocartello", "check": 1}, "fileType": ["jpg", "jpeg", "png", "gif"], "url": "{{ _h.url('my/data/tipocartello/ex-image-icona') }}", "onComplete": {"update": "tipocartello"}}'><img src="/assets/img/ico/ico-image.png"></a>-->
        </div>
    </div>
    <div class="window-content">
        <div id="list_tipocartello" class="action-load-data action-autoupdate table-wrapper" data-update-content="tipocartello" data-action='{"mergeTemplate": {"template": "list", "dataType": "list", "insertType": "prepend"}, "loadData": {"url": "tipocartello/list"}}'>
            <div data-merge-template="list">
                [[~it.list :item:index]]
                <table>
                    <tr data-id="[[=item.id]]" data-uid="tipocartello_[[=item.id]]">
                        <td class="cell-checkbox"><div class="td-simple"><span data-value="[[=item.id]]" class="checkbox"><input type="hidden" value="" name="id"></span></div></td>
                        <td class="details-cell"><div class="td-simple">[[?item.icona != '']]<img src="/my/img/80x80/[[=item.icona]]" style="max-width: 50px; max-height: 50px;">[[?]]</div></td>
                        <td class="details-cell"><div class="td">[[=item.nome]]</div></td>
                        {% if _h.session.profile == 'super' %}
                        <td>
                            <div class="td-simple"><a class="button button-style action-item" data-action='{"options": "menu-context-tipocartello-list"}'><img src="/assets/img/ico/ico-action.png"></a></div>
                        </td>
                        <td><div class="td-simple"><a class="button button-style action-info-item item-info-button" data-action='{"type": "tipo_cartello"}'><img src="/assets/img/ico/ico-info.png"></a></div></td>
                        {%endif%}
                    </tr>
                </table>
                [[~]]
            </div>
            <div data-content="menu-context-tipocartello-list">
                <a class="button action-update" data-action='{"url": "tipocartello/load", "template": "tipocartello/edit"}', "css": "layer-mini-edit">Modifica</a>
                <a class="button action-delete" data-action='{"title": "Elimina", "url": "tipocartello/ex-delete"}'>Elimina</a>
                <a class="button action-info-item-all" data-action='{"type": "tipo_cartello"}'>Informazioni</a>
            </div>

            <table class="table-single-selection-shift table table-fix-header">
                <colgroup>
                    <col class="col col-checkbox">
                    <col class="col col-100">
                    <col class="col">
                    {% if _h.session.profile == 'super' %}
                    <col class="col col-action">
                    <col class="col col-action">
                    {%endif%}
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th><div class="th">icona</div></th>
                        <th data-order="nome" data-order-type="asc"><div class="th">Nome</div></th>
                        {% if _h.session.profile == 'super' %}
                        <th></th>
                        <th></th>
                        {%endif%}
                    </tr>
                </thead>
                <tbody data-merge-content="list"></tbody>
            </table>
        </div>
    </div>
</div>