{# tamplate indirizzo #}

<div class="field-line-multi field-line-80-20">
    <div class="field-line">
        <div class="field" data-tips="via">
            <label>Via</label>
            <input type="text" name="recapito_via" maxlength="100" class="" value="[[=it.recapito_via || '']]">
        </div>
    </div>
    <div class="field-line">
        <div class="field" data-tips="numero civico">
            <label>N. Civ.</label>
            <input type="text" name="recapito_num_civico" maxlength="10" class="" value="[[=it.recapito_num_civico || '']]">
        </div>
    </div>
</div>
<div class="field-line-multi field-line-30-70">
    <div class="field-line">
        <div class="field" data-tips="CAP">
            <label>CAP</label>
            <input type="text" name="recapito_cap" maxlength="10" class="" value="[[=it.recapito_cap || '']]">
        </div>
    </div>
    <div class="field-line">
        <div class="field" data-tips="comune">
            <label>Comune</label>
            <input type="text" name="recapito_comune" maxlength="100" class="" value="[[=it.recapito_comune || '']]">
        </div>
    </div>
</div>
<div class="field-line-multi field-line-50-50">
    <div class="field-line">
        <div class="field" data-tips="provincia cartello">
            <label>Provincia<span>*</span></label>
            <select name="recapito_id_provincia" class="valida-required" selected-value="[[=it.recapito_id_provincia || '']]">
                <option></option>
                {% for item in list_provincia %}
                    <option value="{{ item.id }}">{{ item.nome }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

