{# Template used to uplaod an image. Specific variables must be initialized #}
{% set dimens = ["1024x768", "320x240", "80x80"] %}
{%if key is not defined%}
    {set key = 'foto'}
{%endif%}
<div class="field-group">
    <div class="field-line-text">
        Caricamento immagine
    </div>
    <div class="field-line field-line-file">
        <div class="field-anteprime">
            <!--anteprima 200x200-->
            <span id="img_frame" class="field-anteprima-immagine"
                  style="background-image: url('/my/img/200x200/[[=it.{{key}} || 'void']]')">
            </span>
        </div>
        {%if show_preview%}
            <div class="field-line-text" >
                {#anteprime#}
                <ul id="preview_list">
                    [[?it.{{key}}]]
                    {% for dim in dimens %}
                        <li><a href="/my/img/{{ dim }}/[[=it.{{key}}]]" class="open-visualizer">{{dim}} </a></li>
                        {%endfor%}
                    [[?]]
                </ul>
            </div>
        {%endif%}
    </div>
    <div class="field-line-multi field-line-50-50">
    </div>

    {%if show_alternativo %}
        <div class="field-line">
            <div class="field" data-tips="Breve descrizione dell'immagine.">
                <label>Testo alternativo</label>
                <input type="text" name="alt_text" maxlength="50" value="[[=it.foto_alt|| '']]">
            </div>
        </div>
    {%endif%}
    <input type="hidden" name="filename" value="[[=it.{{key}} || '']]">

    <div class="field-line-text">
        <em>Per una migliore visualizzazione, utilizzare immagini la cui altezza è pari alla larghezza.</em>
    </div>
    <div class="field-line">
        <div class="bottombar">
            <a class="button button-submit button-submit-base action-upload-file" data-action='{"fileType": ["png","jpg","jpeg","gif","bmp"], "url": "{{ _h.url(url_upload) }}", "onComplete": { "event": "upload-image-complete"}}'>carica file</a>
            <!--<a class="button button-submit button-submit-forza action-upload-file" data-action='{"fileType": ["png","jpg","jpeg","gif","bmp"], "params": {"forza_inserimento": 1}, "url": "{{ _h.url('my/data/upload') }}", "onComplete": {"event": "upload-cliente-file-complete"}}' style="display: none">ripeti e forza caricamento</a>-->
        </div>
    </div>
</div>