{# Template used to uplaod an image. Specific variables must be initialized #}
<div class="field-group">
    <div class="field-line-text">
        <ul>
            <li>Caricamento immagini</li>
            <li>Selezionare l'immagine principale</li>
        </ul>
    </div>
    <div class="field-line field-line-file">
        <div id="imgs_container" class="field-anteprime">
            [[~it.list_immagini :item:index]]
            <!--anteprima 200x200-->
            {#<span filename="" class="field-anteprima-immagine"
                  style="background-image: url('[[?item.image]]
                  [[=item.image.url.p1 || '']]
                  [[?]]')">
            </span>#}
            [[~]]
        </div>
    </div>
    <div class="field-line-multi field-line-50-50">
        
    </div>
    
{#    parametri modificati durante la selezione e l'evento upload-image-complete#}
    
    <input type="hidden" name="immagine_principale" value="[[=it.immagine_principale || '']]">
    <input type="hidden" name="immagini" value="[[=it.immagini || '']]">
    
    <div class="field-line">
        <div class="bottombar">
            <a class="button button-remove" >elimina selezionato</a>
            <a class="button button-submit button-submit-base action-upload-file" data-action='{"fileType": ["png","jpg","jpeg","gif","bmp"], "url": "{{ _h.url('my/data/upload') }}", "onComplete": { "event": "upload-image-complete-multi"}}'>carica file</a>
            <!--<a class="button button-submit button-submit-forza action-upload-file" data-action='{"fileType": ["png","jpg","jpeg","gif","bmp"], "params": {"forza_inserimento": 1}, "url": "{{ _h.url('my/data/upload') }}", "onComplete": {"event": "upload-cliente-file-complete"}}' style="display: none">ripeti e forza caricamento</a>-->
        </div>
    </div>
</div>
