
{#    MAPPA#}

<input type="hidden" name="latitudine" data-latitudine value="[[=it.recapito_latitudine || '']]">
<input type="hidden" name="longitudine" data-longitude value="[[=it.recapito_longitudine || '']]">
<div class="map-container">
    <div class="autoload-google-map google-map map-frame" data-draggable="true">
        caricamento in corso...
    </div>
    <div class="field-group" id="fields-container">
        <div class="field-line-text">
            <em>Spostare il cursore sulla posizione da salvare.</em>
        </div>
        <div class="field-line">
            <div class="field" data-tips="per eseguire una ricerca veloce sulla ">
                <label>Ricerca Indirizzo</label>
                <input type="text" name="address" maxlength="100"
                       value="[[=it.recapito_via || '']] [[=it.recapito_num_civico || '']] [[=it.recapito_comune || '']]">
            </div>
        </div>
        <div class="field-line">
            <div class="bottombar">
                <input class='button button-submit' id="submit-address" type="button" value="Cerca Posizione">
            </div>
        </div>
        <div class="field-line-multi field-line-50-50">
            <div class="field-line">
                <div class="field">
                    <label>Latitudine</label>
                    <input type="text" class="autoupdate"
                           name="latitudine_fix" maxlength="100" value="[[=it.recapito_latitudine || '']]">
                </div>
            </div>
            <div class="field-line">
                <div class="field">
                    <label>Longitudine</label>
                    <input type="text" name="longitudine_fix" maxlength="100" class="autoupdate"
                           value="[[=it.recapito_longitudine || '']]">
                </div>
            </div>
        </div>
        <div class="field-line">
            <div class="bottombar">
                <input class='button button-submit' id="update-latlon" type="button" value="Aggiorna Posizione">
            </div>
        </div>
    </div>
</div>

