<div class="window-base window-base-bottombar">
	<div class="window-title">
	Impostazioni di sistema
	</div>
	<form data-merge-content="item">
		<div class="window-content">
			<div class="window-content-inner">
				<div class="field-line-multi field-line-50-50">
					<div class="field-line">
						<div class="field" data-tips="numero massimo tentativi di accesso prima di blocco account">
							<label>Num. tentativi accesso<span>*</span></label>
							<input type="text" name="max_tentativi_accesso" maxlength="2" class="valida-required valida-digitnumber" value="[[=it.max_tentativi_accesso || '']]">
						</div>
					</div>
				</div>				
				<div class="field-line">
					<div class="field" data-tips="indirizzo di posta elettronica dove vengono inviate le notifiche di multipli tentativi di accesso errati da parte di un utente">
						<label>E-mail notifica accessi<span>*</span></label>
						<input type="text" name="email_notifiche_accessi" maxlength="100" class="valida-required valida-email" value="[[=it.email_notifiche_accessi || '']]">
					</div>
				</div>
				<div class="field-line">
					<div class="field" data-tips="e-mail supporto in footer e-mail">
						<label>E-mail supporto</label>
						<input type="text" name="e_mail_supporto" class="valida-email" value="[[=it.e_mail_supporto || '']]">
					</div>
				</div>
				<div class="field-line-text">
					<em>I campi con <span class="obbligatorio">*</span> (asterisco) sono obbligatori</em>
				</div>
			</div>		
		</div>
		<div class="window-bottombar">
			<a class="button button-close button-style action-layer-close-button">Annulla</a>
			<a class="button action-submit-form button-submit" data-action='{"url": "{{ _h.url('my/data/impostazioni/ex-edit') }}", "onComplete": {"type": "close-win"}}'><span>salva</span></a>
		</div>
	</form>
</div>