<div class="window-base window-base-bottombar">
	<div class="window-title">
	Impostazioni di sistema
	</div>
	<form data-merge-content="item">
		<div class="window-content">
			<div class="window-content-inner">
				<div class="field-line-text">
					<em>È stata lanciata la procedura per l'estazione dei cartelli e negozi.</em>
				</div>
			</div>		
		</div>
		<div class="window-bottombar">
<!--			<a class="button button-close button-style action-layer-close-button">Annulla</a>
			<a class="button action-submit-form button-submit" data-action='{"url": "{{ _h.url('my/data/impostazioni/ex-edit') }}", "onComplete": {"type": "close-win"}}'><span>salva</span></a>-->
		</div>
	</form>
</div>