<div class="window-base window-base-bottombar window-base-tab tab">
	<div class="window-title">
	Dettaglio
	</div>
	<div data-merge-content="item">
		<input type="hidden" name="id" value="[[=it.id ]]">
		
		<div class="window-content-header">
			<div data-tab-rif="evento">Punto vendita</div>
			<div data-tab-rif="immagini">Logo</div>
			<div data-tab-rif="indirizzo">Indirizzo</div>
		</div>
		
		<div class="window-content">
			<div data-tab="evento">
				<div class="window-content-inner">
					<table class="table">
					<colgroup>
						<col class="col col-details-label">
						<col class="col col-details-value">
					</colgroup>
					<tbody>
					<tr>
						<td><div class="td">Cliente</div></td>
						<td><div class="td">[[=it.cliente_nome ]]</div></td>
					</tr>
					<tr>
						<td><div class="td">Nome</div></td>
						<td><div class="td">[[=it.nome ]]</div></td>
                                        </tr>
                                        <tr>
						<td><div class="td">Descrizione</div></td>
						<td><div class="td">[[=it.descrizione ]]</div></td>
                                        </tr>
					</tbody>				
					</table>		
				</div>		
			</div>
			<div data-tab="immagini">
				<div class="window-content-inner">
					<table class="table">
					<colgroup>
						<col class="col col-details-label">
						<col class="col col-details-value">
					</colgroup>
					<tbody>
					<tr>
						<td><div class="td">Logo</div></td>
						<td><div class="td"><img src="/my/img/320x240/[[=it.logo]]" style="max-width: 320px; max-height: 240px;"></div></td>
					</tr>
					</tbody>				
					</table>					
				</div>
			</div>
			<div data-tab="indirizzo">
				<div class="window-content-inner">
					<table class="table">
					<colgroup>
						<col class="col col-details-label">
						<col class="col col-details-value">
					</colgroup>
					<tbody>
					<tr>
						<td><div class="td">Via</div></td>
						<td><div class="td">[[=it.recapito_via ]]</div></td>
					</tr>
					<tr>
						<td><div class="td">Num. Civico</div></td>
						<td><div class="td">[[=it.recapito_num_civico ]]</div></td>
					</tr>
					<tr>
						<td><div class="td">CAP</div></td>
						<td><div class="td">[[=it.recapito_cap ]]</div></td>
					</tr>
					<tr>
						<td><div class="td">Comune</div></td>
						<td><div class="td">[[=it.recapito_comune ]]</div></td>
					</tr>
					<tr>
						<td><div class="td">Provincia</div></td>
						<td><div class="td">[[=it.provincia_nome ]]</div></td>
					</tr>
					</tbody>				
					</table>		
				</div>		
			</div>
		</div>
		<div class="window-bottombar">
			{% if not _h.session.params.user.sola_lettura %}
			<a class="button button-close button-style action-update action-layer-close-button" data-action='{"id": [[=it.id ]], "url": "cliente/negozio/load", "template": "cliente/negozio/edit"}'>Modifica</a>
			{% endif %}
		</div>
	</div>
</div>