<div class="window-base window-base-bottombar window-base-tab tab">
    <div class="window-title">
        Punto vendita
    </div>
    <form data-merge-content="item">
        [[? it.id ]]
        <input id="item-id" type="hidden" name="id" value="[[=it.id ]]">
        [[??]]
        <input type="hidden" name="id_cliente" value="%id_cliente%">
        [[?]]
        <div class="window-content-header">
            <div data-tab-rif="principali">Generale</div>
            <div data-tab-rif="indirizzo">Indirizzo</div>
            <div data-tab-rif="posizione">Posizione</div>
        </div>
        <div class="window-content">
            <div data-tab="principali" scale-window='{"width":"550", "height":"500"}'>
                <div class="window-content-inner">
                    <div class="field-line">
                        <div class="field" data-tips="ragione sociale / nome del punto vendita">
                            <label>Nome<span>*</span></label>
                            <input type="text" name="nome" class="valida-required" maxlength="100" value="[[=it.nome || '']]">
                        </div>
                    </div>
                    <div class="field-line field-line-textarea">
                        <div class="field">
                            <label>Descrizione</label>
                            <textarea name="descrizione">[[=it.descrizione || '']]</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div data-tab="indirizzo" scale-window='{"width":"550", "height":"500"}'>
                <div class="window-content-inner">
                    {% include 'my/template/blocks/address_edit.html.twig' %}
                    <div class="field-line-text">
                        <em>I campi con <span class="obbligatorio">*</span> (asterisco) sono obbligatori</em>
                    </div>
                </div>
            </div>
            <div data-tab="posizione" scale-window='{"width":"1200"}'>
                <div class="window-content-inner">
                    <div class="window-content-inner">
                        {% include 'my/template/blocks/map_edit.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="window-bottombar">
            <a class="button button-close button-style action-layer-close-button">Annulla</a>
            <a class="button action-submit-position-alert button-submit" data-action='{"url": "{{ _h.url('my/data/cliente/negozio/ex-edit') }}", "onComplete": {"type": "close-win", "update": "negozio"}}'><span>salva</span></a>
        </div>
    </form>
</div>