<div class="window-base">
	<div class="window-title">
	Punti vendita
	</div>
	<div class="window-toolbar">
		<div class="window-toolbar-button">
                    {% if _h.session.params.user.sola_lettura %}
                    <!--<em> Account abilitato in sola lettura.</em>-->
                    {%else%}
			<a class="button button-style action-template" data-alttext="crea nuovo" data-action='{"template": "cliente/negozio/edit", "paramsTemplate":{"id_cliente": %id_cliente%}}'><img src="/assets/img/ico/ico-add.png"></a>
			<a class="button button-style action-update" data-alttext="modifica dati" data-action='{"select": {"from": "#list_negozio", "check": 1}, "url": "cliente/negozio/load", "template": "cliente/negozio/edit"}'><img src="/assets/img/ico/ico-mod.png"></a>
			<a class="button button-style action-delete" data-alttext="elimina" data-action='{"select": {"from": "#list_negozio", "check": 0}, "title": "Elimina", "url": "cliente/negozio/ex-delete"}'><img src="/assets/img/ico/ico-del.png"></a>
                        <span class="button-separator"></span>
                        <a class="button button-style action-upload-file" data-alttext="carica logo" data-action='{"select": {"from": "#list_negozio", "check": 1}, "fileType": ["jpg", "jpeg", "png", "gif"], "url": "{{ _h.url('my/data/cliente/negozio/ex-image') }}", "onComplete": {"update": "negozio"}}'><img src="/assets/img/ico/ico-image.png"></a>
                        
                        {%endif%}
                        <a class="button button-style action-download" data-alttext="export elenco" data-action='{"url": "{{ _h.url('my/data/cliente/negozio/export') }}", "params":{"id_cliente":%id_cliente%}}'><img src="/assets/img/ico/ico-download.png"></a>
		</div>
	</div>
	<div class="window-content">
		<div id="list_negozio" class="action-load-data action-autoupdate table-wrapper" data-update-content="negozio" data-load-params='{"id_cliente": %id_cliente%}' data-action='{"mergeTemplate": {"template": "list", "dataType": "list", "insertType": "prepend"}, "loadData": {"url": "cliente/negozio/list"}}'>
			<div data-merge-template="list">
			[[~it.list :item:index]]
				<table>
				<tr data-id="[[=item.id]]" data-uid="negozio_[[=item.id]]" class="action-details-cell" data-action='{"action-update": {"url": "cliente/cartello/load", "template": "cliente/negozio/edit"}, "action-details": {"url": "cliente/negozio/load", "template": "cliente/negozio/details"}}'>
					<td class="cell-checkbox"><div class="td-simple"><span data-value="[[=item.id]]" class="checkbox"><input type="hidden" value="" name="id"></span></div></td>
                                        <td class="details-cell"><div class="td-simple"><img src="/my/img/320x240/[[=item.logo || 'void' ]]" style="max-width: 80px; max-height: 60px;"></div></td>
					<td class="details-cell"><div class="td">[[=item.nome]]</div></td>
					<td class="details-cell"><div class="td-simple">[[=item.provincia_nome]]</div></td>
					<td class="details-cell"><div class="td-simple">[[=item.numero_cartelli]]</div></td>
					<td>
						<div class="td-simple"><a class="button button-style action-item" data-action='{"options": "menu-context-negozio-list"}'><img src="/assets/img/ico/ico-action.png"></a></div>
					</td>
					<td><div class="td-simple"><a class="button button-style action-info-item item-info-button" data-action='{"type": "negozio"}'><img src="/assets/img/ico/ico-info.png"></a></div></td>
				</tr>
				</table>
			[[~]]
			</div>
			<div data-content="menu-context-negozio-list">
                            {% if _h.session.params.user.sola_lettura == '0'%}
			<a class="button action-update" data-action='{"url": "cliente/negozio/load", "template": "cliente/negozio/edit"}'>Modifica</a>
			<a class="button action-delete" data-action='{"title": "Elimina", "url": "cliente/negozio/ex-delete"}'>Elimina</a>
                        <a class="button action-info-item-all" data-action='{"type": "negozio"}'>Informazioni</a>
                        {%endif%}
			<a class="button action-details" data-action='{"url": "cliente/negozio/load", "template": "cliente/negozio/details"}'>Dettaglio</a>
			
			</div>

			<table class="table-single-selection-shift table table-fix-header">
			<colgroup>
				<col class="col col-checkbox">
                                <col class="col col-100">
				<col class="col">
				<col class="col col-250">
				<col class="col col-75">
				<col class="col col-action">
				<col class="col col-action">
			</colgroup>
			<thead>
				<tr>
					<th></th>
                                        <th><div class="th">Logo</div></th>
					<th data-order="nome" data-order-type="desc"><div class="th">Nome</div></th>
					<th data-order="provincia_nome"><div class="th">Provincia</div></th>
					<th data-order="numero_cartelli"><div class="th">Num. Cart.</div></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody data-merge-content="list"></tbody>
			</table>
		</div>
	</div>
</div>