<div class="window-base">
	<div class="window-title">
	IP bloccati
	</div>
	<div class="window-toolbar">
		<div class="window-toolbar-button">
			<a class="button button-style action-template" data-alttext="aggiunti IP" data-action='{"template": "system/ip/new", "css": "layer-mini-edit"}'><img src="/assets/img/ico/ico-add.png"></a>
			<a class="button button-style action-delete" data-alttext="sblocca IP" data-action='{"select": {"from": "#list_ip", "check": 0}, "title": "Sblocca IP", "text": "Rimuovere dal blocco?", "callback": "delete", "url": "system/ip/ex-sblocca"}'><img src="/assets/img/ico/ico-del.png"></a>
		</div>
	</div>
	<div class="window-content">
	<div id="list_ip" class="action-load-data action-autoupdate table-wrapper" data-update-content="ip" data-load-params='' data-action='{"mergeTemplate": {"template": "list", "dataType": "list", "insertType": "prepend"}, "loadData": {"url": "system/ip/list"}}'>
		<div data-merge-template="list">
		[[~it.list :item:index]]
			<table>			
			<tr data-id="[[=item.ip]]" data-uid="ip_[[=item.ip]]">
				<td class="cell-checkbox"><div class="td-simple"><span data-value="[[=item.ip]]" class="checkbox"><input type="hidden" value="" name="id"></span></div></td>
				<td><div class="td">[[=item.ip]]</div></td>
				<td><div class="td">[[=item.data_inserimento]]</div></td>
				<td>
					<div class="td-simple"><a class="button button-style action-item" data-action='{"options": "menu-context-ip-list"}'><img src="/assets/img/ico/ico-action.png"></a></div>
				</td>
			</tr>
			</table>
		[[~]]
		</div>
		<div data-content="menu-context-ip-list">
		<a class="button action-confirm" data-action='{"title": "Sblocca IP", "text": "Procedere con lo sblocco IP?", "url": "system/ip/ex-sblocco", "callback": "delete"}'>Sblocca IP</a>
		</div>

	<table class="table-single-selection-shift table table-fix-header">
	<colgroup>
		<col class="col col-checkbox">
		<col class="col">
		<col class="col col-datetime">
		<col class="col col-action">
	</colgroup>
	<thead>
		<tr>
			<th></th>
			<th data-order="ip"><div class="th">IP</div></th>
			<th data-order="data_inserimento" data-order-type="desc"><div class="th">Data ins.</div></th>
			<th></th>
		</tr>
	</thead>
	<tbody data-merge-content="list"></tbody>
	</table>
	</div>
	</div>
</div>