<div class="window-base window-base-bottombar">
	<div class="window-title">
	IP
	</div>
	<form data-merge-content="item">
		<div class="window-content">
			<div class="window-content-inner">
				<div class="field-line-text">
					IP da bloccare
				</div>
				<div class="field-line">
					<div class="field" data-tips="indirizzo IP da bloccare">
						<label>IP<span>*</span></label>
						<input type="text" name="id" maxlength="50" class="valida-required" value="">
					</div>
				</div>
				<div class="field-line-text">
					<em>I campi con <span class="obbligatorio">*</span> (asterisco) sono obbligatori</em>
				</div>
			</div>		
		</div>
		<div class="window-bottombar">
			<a class="button button-close button-style action-layer-close-button">Annulla</a>
			<a class="button action-submit-form button-submit" data-action='{"url": "{{ _h.url('my/data/system/ip/ex-edit-new') }}", "onComplete": {"type": "close-win", "update": "ip"}}'><span>salva</span></a>
		</div>
	</form>
</div>