*, *:before, *:after {
    box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

ul, ol {
	list-style-type: none;
}

img {
	border: 0;
}

a {
	text-decoration: none;
}
.hrow:after,
.hrow:before {
	content: '';
    display: table;
    line-height: 0;
	clear: both;
}

.layer {
	background: #fff;
}

.loading-layer {
	overflow: hidden;
}
body.loading-layer:before,
body.loading-layer:after {
	position: fixed;
}

.loading-layer:after {
	content: url('../img/loading.gif');
}
.loading-layer:before,
.loading {
	content: ' ';
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100000;
}
.loading-autoupdate {
	height: 30px;
	background: rgba(0, 0, 0, .5);
}
.loading-layer:before,
.loading-simple {
	top: 0;
	background: rgba(255, 255, 255, .85);
}
.loading-layer:after,
.loading:after {
	content: url('../img/loading.gif');
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -8px;
	margin-left: -8px;
	z-index: 100001;
}

.confirm-hidden-block {
	display: none;
}

.not-visible {
	display: none;
}

.visible {
	display: block;
}