input[type='password'],input[type='text'], select, textarea {
	border: 1px solid #dddcdc;
	background: #fff;
}
input[type='image'] {
	clear: both;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
input:focus,
textarea:focus,
select:focus {
	outline: 0 none;
}
textarea {
    resize: none;
}
.checkbox {
	display: block;
	width: 17px;
	height: 17px;
	margin-right: 5px;
	background-image: url('../img/base-checkbox.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	float: left;
	cursor: pointer;
}
.checkbox:hover {
	background-position: 0 -50px;
}
.checkbox-checked.checkbox:hover,
.checkbox-checked {
	background-position: 0 bottom;
}
.button-close {
	color: #414042;
}
.button, .button * {
	text-decoration: none;
	cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.button:before {
	content: '';
	display: inline-block;
	height: 100%; 
	vertical-align: middle;
}
.button span {
	display: inline-block;
	cursor: pointer;
}
.button-img span {
	margin-left: 10px;
}
.button-style {
	opacity: 0.6;
	filter: alpha(opacity=60);
}
.button-style.selected,
.button-style:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
.button img {
	display: inline-block;
	vertical-align: middle;
}
.field {
	border: 1px solid #dddcdc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	position: relative;
	background: #fff;
	overflow: hidden;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1) inset;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.1) inset;
	-o-box-shadow: 0 2px 5px rgba(0,0,0,0.1) inset;
	height: 36px;
	display: block;
}

.field label {
	position: absolute;
	left: 7px;
	top: 12px;
	height: 24px;
	line-height: 24px;
}

.field select,
.field input, 
.field textarea {
	border: none;
	width: 100%;
	font-size: 14px;
	background: transparent;
}
.field select {
	padding: 15px 6px 0 6px;
	height: 36px;
	color: #444;
	position: relative;
}
.field input, 
.field textarea {
	position: absolute;
	margin: 0;
	left: 5px;
	bottom: 0;
}
.field input {
	height: 24px;
	line-height: 24px;
}
.field textarea {
	left: 5px;
	height: 92px;
}
.field-line {
	height: 56px;
	position: relative;
}
.field-line-text {
	height: auto;
	margin-bottom: 15px;
	text-align: left;
}
.field-line-checkbox *,
.field-line-checkbox {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	cursor: pointer;
}
.field-line-label,
.field-line-file,
.field-line-checkbox {
	text-align: left;
	padding-bottom: 18px;
	height: auto;
}
.field-line-label {
	padding-left: 6px;
}
.field-line-label .field label{
	position: relative;
	font-size: 10px;
	top: 0;
	left: 0;
}
.field-line-label .field{
	background: none;
	border: none;
	box-shadow: none;
	overflow: normal;
	height: auto;
}
.field-line-file .button {
	margin-left: 20px;
	text-transform: uppercase;
}
.field-line-file .field-info-ico {
	top: 0;
}
.field-line-file .wrapp-button .button-cancel {
	color: #414042;
	display: none;
}
.field-line-file.field-is-file .wrapp-button  .button-cancel {
	display: inline-block;
}
.field-line-file .field-anteprima {
	margin-top: 4px;
	line-height: 18px;
	font-weight: bold;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-left: 20px;
}
.field-line-small.field-line-checkbox,
.field-line-small .field-line-checkbox {
	padding-bottom: 10px;
}
.field-line-textarea {
	height: 138px;
}
.field-line-textarea .field {
	height: 110px;
}
.field-line-textarea-small {
	height: 92px;
}
.field-line-textarea-small .field {
	height: 70px;
}
.field-line-textarea-small .field textarea {
	height: 52px;
}
.field-line-textarea-big {
	height: 292px;
}
.field-line-textarea-big .field {
	height: 270px;
}
.field-line-textarea-big .field textarea {
	height: 252px;
}

.keypress label {
	font-size: 10px;
	position: absolute;
	top: 0;
	height: 14px;
	line-height: 14px;
}
.keypress label span{
	display: none;
}
.field.focus label {
	color: #dddcdc;
}
.field.focus label span {
	color: #dddcdc;
}
.field-error .error-text {
	display: block;
}
.form-error .form-error-message {
	display: block;
}
.form-error-message {
	display: none;
	margin-bottom: 15px;
	font-weight: bold;
}
.error-text {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 2px 5px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	font-size: 12px;
	display: none;
	font-style: normal;
	position: relative;
	z-index: 1;
	background: #fff;
	margin-top: -1px;
}
.error-text:before {
	content: ' ';
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
    height: 0;
    width: 0;
    left: 10px;
    position: absolute;
    top: -5px;
	border-bottom: 5px solid #e70e00;
}
.error-text:after {
	content: ' ';
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
    height: 0;
    width: 0;
    left: 10px;
    position: absolute;
    top: -4px;
	border-bottom: 5px solid #fff;
}
.field label {
	color: #777;
}
.field-line-checkbox label {
	padding-top: 1px;
	cursor: pointer;
}
.focus.keypress label{
	color: #777;
}
.field-visualeditor label span,
.field-line-file label span,
.obbligatorio,
.field label span {
	color: #e70e00;
}
.focus.field{
	border: 1px solid #3da6ff;
}
.field-error .field{
	border: 1px solid #e70e00;
}
.field-error label{
	color: #e70e00;
}
.form-error-message {
	color: #e70e00;
}
.error-text {
	border: 1px solid #e70e00;
	color: #e70e00;
}
.field-button .button {
	display: inline;
}

.form-loading .action-submit-form span{
	display: none;
}
body .form-loading .action-submit-form {
	background: none;
	border: none;
	cursor: wait;
}
.form-loading .action-submit-form:before {
	content: url('../img/loading.gif');
}
.form-simple .field-line {
	height: 30px;
	margin-bottom: 10px;
}
.form-simple .field {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	background: transparent;
	height: 30px;
	border: 1px solid #aaacac;
}
.form-simple .field input {
	bottom: 2px;
}
.form-simple .field label {
	top: 2px;
	color: #aaa;
}
.form-simple .keypress label {
	display: none;
}
.form-simple .keypress.field,
.form-simple .focus.field {
	background: #fff;
	border: 1px solid #dddcdc;
}
.field-line-multi .field-line {
	float: left;
}
.field-line-multi:after {
	content: "";
    display: table;
    line-height: 0;
	clear: both;
}
.field-line-multi .field-line:first-child {
	margin-right: 2%;
}
.field-line-button-right input {
	right: 30px;
}
.field-line-button-right .button {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
}
.field-line-50-50 .field-line {
	width: 49%;
}
.field-line-20-80 .field-line {
	width: 79%;
}
.field-line-80-20 .field-line {
	width: 19%;
}
.field-line-30-70 .field-line {
	width: 69%;
}
.field-line-70-30 .field-line {
	width: 29%;
}
.field-line-20-80 .field-line:first-child {
	width: 19%;
}
.field-line-30-70 .field-line:first-child {
	width: 29%;
}
.field-line-80-20 .field-line:first-child {
	width: 79%;
}
.field-line-70-30 .field-line:first-child {
	width: 69%;
}
.field-line-33-33-33 .field-line {
	width: 32%;
}
.field-group {
	border: 1px solid #dddcdc;
	padding: 5px 10px;
	margin-bottom: 10px;
}
.field-group-title {
	margin-bottom: 5px;
	font-size: 12px;
}
.field-info-ico span {
	display: none;
}
.field-info-ico {
	position: absolute;
	background: url('../img/ico/ico-info.png') no-repeat 0 0;
	right: 0;
	top: 9px;
	cursor: pointer;
	opacity: 0.5;
	filter: alpha(opacity=50);
	width: 18px;
	height: 18px;
	z-index: 2;
}
.field-line-checkbox .field-info-ico {
	top: 0;
}
.field-line-checkbox.field-info {
	padding-right: 20px;
}
.field-info-ico:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
.field-info-ico:hover span {
	right: 20px;
	margin-top: -10px;
	width: 200px;
	background: #f1f1f1 url('../img/ico/ico-info.png') no-repeat 2px 5px;
	display: block;
	font-size: 12px;
	padding: 5px 10px 5px 25px;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	z-index: 1;
	position: absolute;
}
.field-info .error-text,
.field-info .field {
	margin-right: 22px;
}

.message-wrapper {
	position: fixed;
	left: 10px;
	right: 10px;
	padding: 15px 20px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	z-index: 10000;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.message-wrapper-confirm {
	background: #3da82c;
}
.message-wrapper-error {
	background: #e70e00;
}

.progress {
	width: 200px;
	height: 30px;
	position: relative;
}
.progress-line-wrapper {
	width: 150px;
	border: 1px solid #414042;
	float: left;
	margin-right: 10px;
	padding: 2px;
}
.progress-line {
	background: #e70e00;
	width: 1%;
	height: 10px;
}
.progress-text {
	float: left;
	line-height: 14px;
	font-size: 12px;
}
.progress-details {
	clear: both;
	font-size: 10px;
	padding-top: 2px;
}

.datepicker {
	top:0;
	left:0;
	padding:4px;
	margin-top:1px;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
}
.datepicker:before {
	content:'';
	display:inline-block;
	border-left:7px solid transparent;
	border-right:7px solid transparent;
	border-bottom:7px solid #00784a;
	border-bottom-color:#00784a;
	position:absolute;
	top:-7px;
	left:6px;
}
.datepicker:after {
	content:'';
	display:inline-block;
	border-left:6px solid transparent;
	border-right:6px solid transparent;
	border-bottom:6px solid #ffffff;
	position:absolute;
	top:-6px;
	left:7px;
}
.datepicker >div { display:none; }
.datepicker table {
	width:100%;
	margin:0;
}
.datepicker td, .datepicker th {
	text-align:center;
	width:20px;
	height:20px;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
}
.datepicker td.day:hover {
	background:#efefef;
	cursor:pointer;
}
.datepicker td.day.disabled { color:#efefef; }
.datepicker td.old, .datepicker td.new { color:#919191; }
.datepicker td.active, .datepicker td.active:hover {
	color:#ffffff;
	background-color:#e20500;
	font-weight:bold;
}
.datepicker td span {
	display:block;
	width:47px;
	height:54px;
	line-height:54px;
	float:left;
	margin:2px;
	cursor:pointer;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
}
.datepicker td span:hover { background:#efefef; }
.datepicker td span.active {
	color:#ffffff;
	background-color:#e20500;
}
.datepicker td span.old { color:#919191; }
.datepicker th.switch { width:145px; }
.datepicker th.next, .datepicker th.prev { font-size:14px; }
.datepicker thead tr:first-child th { cursor:pointer; }
.datepicker thead tr:first-child th:hover { background:#efefef; }
.input-append.date.add-on i, .input-prepend.date.add-on i {
	display:block;
	cursor:pointer;
	width:16px;
	height:16px;
}
.dropdown-menu {
	background-clip:padding-box;
	background-color:#ffffff;
	border:1px solid #00784a;
	border-radius:6px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	display:none;
	float:left;
	left:0;
	list-style:none outside none;
	margin:2px 0 0;
	min-width:160px;
	padding:5px 0;
	position:absolute;
	top:100%;
	z-index:1000000;
}

[data-update-with-value] {
	display: none;
}

[data-update-with-value="void"] {
	display: block;
}

.field-group-expand {
	background: #aaacac;
}
.field-group-expand .field-group-title {
	margin-bottom: 0;
	color: #fff;
	cursor: pointer;
	background: url('../img/ico-plus-white.png') no-repeat right center;
}
.field-group-expand .field-group-body{
	display: none;
}
.field-group-expand.field-group-expand-open .field-group-title {
	margin-bottom: 5px;
	color: #414042;
	background: url('../img/ico-line-black.png') no-repeat right center;
}
.field-group-expand.field-group-expand-open {
	background: transparent;
}