html, body, #wrapper {  
	min-height: 100%;  
	width: 100%;  
	height: 100%; 
	margin: 0;  
	padding: 0;  
} 

html > body, html > body #wrapper {  
	height: auto; 
}  

#wrapper {
	position: absolute;  
	top: 0;  
	left: 0;  
}   
 
footer { 
	position: absolute;  
	bottom: 0;  
	height: 150px;
	width: 100%;
	padding: 0 10px;
}   

#main {  
	margin-bottom: 150px;
	height: auto;    
} 

header {
	text-align: center;
}

.logo {
	display: inline-block;
	margin: 15px auto 25px auto;
	color: #fff;
}
.logo img,
.logo span {
	float: left;
	height: 50px;
}
.logo span {
	line-height: 50px;
	font-size: 16px;
	border-left: 1px solid #fff;
	margin-left: 10px;
	padding-left: 10px;
}

footer .coll {
	margin-top: 20px;
	float: left;
	margin-right: 50px;
}
.logo-gray img {
	width: 60px;
}
.copy {
	margin-top: 20px;
	margin-left: 110px;
	font-size: 12px;
}
footer h4 {
	text-transform: uppercase;
	margin-bottom: 7px;
}
footer li {
	margin-bottom: 5px;
}
footer,
.copy,
footer a {
	color: #fff;
}
footer a:hover {
	text-decoration: underline;
}

.login {
	margin: auto;
	width: 360px;
	padding: 15px 0;
}
.login form {
	margin: 15px 20px;
}

.window {
	margin: auto;
	padding: 30px 40px;
	max-width: 800px;
}

h1 {
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: normal;
}

.login .field-text a {
	color: #777;
}
.login .field-text a:hover {
	text-decoration: underline;
}

.window .button-submit,
.login .button-submit {
    background: #3da82c none repeat scroll 0 0;
    border: 1px solid #0c774b;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
	text-transform: uppercase;
}

.ico-login {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 100px;
}

.toolbar {
	margin-bottom: 15px;
}

.center {
	text-align: center;
}