* {
	font-family: 'Open Sans',Arial,sans-serif;
}

body {
	font-size: 14px;
	font-weight: 500;
	color: #414042;
	background: #6f7c82;
}

a {
	color: #3da6ff;
}

.layer-base {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.65);
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.65);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.65);
	-o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.65);
}
.layer-light {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
	-o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}
.layer-strong {
	box-shadow: 0 0 20px rgba(0, 0, 0, 1);
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 1);
	-o-box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}