/*.window-base {*/
    /*position: absolute;*/
    /*margin: auto;*/
    /*width: 1200px;*/
    /*height: 800px;*/
    /*!*border: solid crimson 2px;*!*/
/*}*/

.viewer-container {
    position: relative;
    height: 600px;
    /*border: solid blueviolet 2px;*/
}

.image-box {
    position: absolute;
    width: 80%;
    height: 100%;
    left: 10%;
    /*border: solid lightsalmon 2px;*/
}

.image-box .image-frame {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0px auto;
}

.viewer-container .arrow-left {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    left: 0;
    right: auto;
}

.viewer-container .arrow-right {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    right: 0;
    left: auto;
}

.image-box * {
    margin: auto;
}

.loading-frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.loading-frame img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/*image list*/

.image-list {
    border-top: 1px solid #D3D3D3;
    margin-top: 4px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 5px;
}

.image-list img {
    margin-left: 15px;
    vertical-align: middle;
    max-height: 120px;
    width: auto;
}

.image-list img.selected {
    border: 2px #D3D3D3 solid;
}
