.layer-window {
	position: absolute;
}
.layer-menu {
	border: 1px solid #dddcdc;
	padding: 5px 0;
	min-width: 100px;
	white-space: nowrap;
}
.layer-menu .button {
	display: block;
	padding: 5px 15px;
	color: #414042;
}
.window-toolbar .layer-menu .button {
	float: none;
	height: auto;
	min-height: auto;
	text-align: left;
}
.layer-menu .button:hover {
	background: #efefef;
}
.window-toolbar .layer-menu .button:hover {
	border: none;
}
.layer-overlay-show {
	overflow: hidden;
}
.layer-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .25);
}
.layer-upload,
.layer-mini-edit,
.layer-modifica-password,
.layer-modifica-dati,
.layer-message,
.layer-confirm,
.layer-confirm-message,
.layer-info,
.layer-mid,
.layer-cartello,
.layer-note,
.layer-small-edit {
	position: fixed;
	top: 50%;
	left: 50%;
}
.layer-big {
	position: fixed;
	top: 30px;
	bottom: 30px;
	left: 30px;
	right: 30px;
}
.layer-image{
    position: fixed;
	height: 752px;
	margin-top: 100px;
	margin-bottom: auto;
	left: 80px;
	right: 80px;
}
.layer-note {
	width: 800px;
	height: 440px;
	margin-left: -350px;
	margin-top: -220px;
}
.layer-confirm-message {
	width: 400px;
	height: 360px;
	margin-left: -200px;
	margin-top: -180px;
}
.layer-upload {
	width: 240px;
	height: 60px;
	margin-left: -120px;
	margin-top: -30px;
	padding: 20px;
}
.layer-mid {
	width: 900px;
	height: 600px;
	margin-left: -450px;
	margin-top: -300px;
}
.layer-mini-edit {
	width: 250px;
	height: 250px;
	margin-left: -125px;
	margin-top: -125px;
}
.layer-info {
	width: 600px;
	height: 400px;
	margin-left: -300px;
	margin-top: -200px;
}
.layer-modifica-dati {
	width: 400px;
	height: 400px;
	margin-left: -200px;
	margin-top: -200px;
}
.layer-modifica-password {
	width: 300px;
	height: 350px;
	margin-left: -150px;
	margin-top: -175px;
}
.layer-confirm {
	width: 300px;
	height: 180px;
	margin-left: -150px;
	margin-top: -90px;
}
.layer-small-edit {
	width: 500px;
	height: 500px;
	margin-left: -250px;
	margin-top: -250px;
}
.layer-mini-edit {
	width: 400px;
	height: 250px;
	margin-left: -200px;
	margin-top: -125px;
}
.layer-message {
	width: 500px;
	height: 400px;
	margin-left: -250px;
	margin-top: -200px;
}
.layer-close-button {
	position: absolute;
	top: -13px;
	right: -13px;
	width: 26px;
	height: 26px;
	background: #999;
	cursor: pointer;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	overflow: hidden;
	border: 3px solid #fff;
	z-index: 1;
}
.layer-close-button:after {
	content: url('../img/ico/ico-close-white.png');
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -8px;
	margin-left: -8px;
}
.layer-close-button:hover {
	background: #414042;
}