.table {
	width: 100%;
    border-spacing: 0;
    padding: 0;
    table-layout: fixed;
    width: 100%;
	border-collapse: collapse;
}
.table th,
.table td {
	border-bottom: 1px solid #dddcdc;
	vertical-align: middle;
	white-space: nowrap;
	position: relative;
}
.table th {
	text-align: left;
	font-size: 10px;
	text-transform: uppercase;
	background: #dfdfdf;
}
.table .cell-checkbox,
.table th, th * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} 

.table th[data-order] {
	cursor: pointer;
	background-image: url('../img/ico/ico-arrow-order.png');
	background-repeat: no-repeat;
	background-position: left center;
}
.table th[data-order]:hover,
.table th[data-order-type=asc],
.table th[data-order-type=desc] {
	color: #3399ff;
}
.table th[data-order-type=asc] {
	background-image: url('../img/ico/ico-arrow-asc.png');
}
.table th[data-order-type=desc] {
	background-image: url('../img/ico/ico-arrow-desc.png');
}
.th,
.td-simple,
.td {
	empty-cells: show;
	overflow: hidden;
	padding: 10px;
}
.table th[data-order] .th {
	padding-left: 15px;
}
.th,
.td {
	white-space: nowrap;
	text-overflow: ellipsis;
}
.td-text {
	white-space: normal;
	text-overflow: clip;
	overflow: auto;
}
.col {
	border-collapse: collapse;
	border-spacing: 0;
}
.col-details-label {
	width: 120px;
	background: #efefef;
	vertical-align: top;
}
.col-action {
	width: 34px;
	padding-left: 6px;
}
.col-checkbox {
	width: 40px;
}
.col-username {
	width: 130px;
}
.col-profilo {
	width: 130px;
}
.col-nomeaccount {
	width: 180px;
}
.col-nome {
	width: 150px;
}
.col-cognome {
	width: 180px;
}
.col-numero {
	width: 70px;
}
.col-date {
	width: 100px;
}
.col-datetime {
	width: 140px;
}
.col-date {
	width: 100px;
}
.col-abilitato {
	width: 8px;
}
.col-utente {
	width: 200px;
}
.col-piva {
	width: 150px;
}
.col-ragione-sociale {
	width: 250px;
}
.col-ip {
	width: 120px;
}
.col-telefono {
	width: 150px;
}
.col-25 {
	width: 25px;
}
.col-30 {
	width: 30px;
}
.col-50 {
	width: 50px;
}
.col-75 {
	width: 75px;
}
.col-100 {
	width: 100px;
}
.col-120 {
	width: 120px;
}
.col-150 {
	width: 150px;
}
.col-200 {
	width: 200px;
}
.col-250 {
	width: 250px;
}
.col-300 {
	width: 300px;
}
.td-abilitato-0 {
	background: #999;
}
.td-abilitato-1 {
	background: #3da82c;
}

[data-background='#efefef'] {
	background: #efefef;
}

[data-background='#efffff'] {
    background: #efffff;
}

.item-info-button.show .item-info-content {
	display: block;
}
.item-info-button .item-info-content {
	display: none;
}

.item-info-details {
	font-size: 12px;
	padding: 0 10px;
}
.item-info-details-all {
	margin-top: 10px;
	text-align: right;
	cursor: pointer;
	color: #3399ff;
}