
.floating-panel-right {
    position: relative;
    top: 10px;
    right: -50%;
    width: 50%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
}

.field-anteprima-immagine {
    width: 200px;
    height: 200px;
    background-size: 200px auto;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #dddcdc;
    display: inline-block;
    margin: 10px;
    float: left;
}

.field-anteprima-empty {
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 10px;
    float: left;
}

.field-anteprima-empty .field-line {
    margin: 10px;
    float: none;
    display: inline;
}

.field-anteprima-immagine-2 {
    width: 80px;
    height: 80px;
    background-color: #dddcdc;
    display: inline-block;
    margin: 10px;
    float: left;
}

.field-anteprima-immagine-half {
    width: 100px;
    height: 100px;
    background-color: #dddcdc;
    display: inline-block;
    margin: 10px;
    float: left;
}

.bottombar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    border-top: 1px solid #dddcdc;
    text-align: right;
    padding: 0 10px;
}

.bottombar .button-submit {
    background: #3da82c none repeat scroll 0 0;
    border: 1px solid #0c774b;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    padding: 0 20px;
}

.bottombar .button {
    margin-top: 10px;
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    margin-left: 20px;
}

/*map*/

.marker-logo {
    width: 100px;
    height: auto;
    max-height: 50px;
}

.marker-logo img {
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 50px;
    vertical-align: middle;
}

.map-container {
    width: 1160px;
}

.map-container .map-frame {
    width: 100%;
    height: 1000px;
}

.map-container .field-group {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 250px;
    background: white;
}

.bottombar-big {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 240px;
    border-top: 1px solid #dddcdc;
    background: white;
}

.window-bottombar-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
}

.window-bottombar-content {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
}

.window-bottombar-toolbar .button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

.info-container {
    display: block;
    height: 100%;
    padding-top: 20px;
    min-width: 20%;
    max-width: 45%;
    float: left;
    border-left: 1px solid #dddcdc;
}

.info-container table {
    width: 100%;
}

.info-container table td.line {
    padding: 5px;
    background: #F1F1F1;
    width: 120px;
}

.info-container table td {
    padding-left: 5px;
}

.info-container table tr {
    margin: 0px;
    border: 0px;
}

.info-container-image {
    height: 100%;
    width: 320px;
    float: right;
    border-left: 1px solid #dddcdc;
    overflow: hidden;
}

.info-container-image img {
    max-height: 240px;
    max-width: 320px;
    height: auto;
    width: auto;
    margin: auto auto;
    display: block;
}

.search-field input[type=text] {
    padding: 5px;
    margin: 2px;
    width: 400px
}

.search-field button {
    height: 100%;
    padding: 5px;
}

/*image crop*/
.img-crop {
    max-height: 80px;
    height: auto;
    overflow: hidden;
}

.img-crop img {
    display: block;
    max-width: 80px;
    height: auto;
    margin: auto;
}