
.window-content-visualizer{
    height: 100%;
}

.window-content-visualizer .arrow-right{
    display: block;
    width: 8%;
    height: 100%;
    background: url('../img/arrow-right.png') no-repeat center;
    float: left;
}
.window-content-visualizer .arrow-left{
    display: block;
    width: 8%;
    height: 100%;
    float: left;
    background: url('../img/arrow-left.png') no-repeat center;
}

.window-content-visualizer .arrow-left:hover,
.window-content-visualizer .arrow-right:hover{
    cursor: pointer;
}

.image-box{
    display: block;
    width: 84%;
    height: 100%;
    float: left;
}

.image-box img{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    max-width: 1024px;
    max-height: 1000px;
}


