h1 {
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 20px;
}

.window-message {
	margin: 20px 25px;
}
.window-base {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.window-title {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 20px;
	text-transform: uppercase;
	font-size: 10px;
	line-height: 20px;
	padding-left: 10px;
	color: #e70e00;
	font-weight: bold;
}
.window-toolbar {
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	height: 40px;
	border-bottom: 1px solid #dddcdc;
}
.window-content {
	position: absolute;
	overflow: auto;
	top: 60px;
	left: 0;
	right: 0;
	bottom: 0;
}
.window-base-tab .window-content {
	top: 90px;
}
.window-base-tab.window-base-bottombar  .window-title  {
	border-bottom: none; 
}
.window-content-header {
	position: absolute;
	overflow: auto;
	top: 30px;
	height: 28px;
	left: 0;
	right: 0;
	border-bottom: 1px solid #dddcdc;
}
.window-base-bottombar .window-content,
.window-base-no-toolbar .window-content {
	top: 20px;
}
.window-base-tab.window-base-bottombar .window-content,
.window-base-tab.window-base-no-toolbar .window-content {
	top: 58px;
}
.window-base-bottombar .window-content{
	bottom: 50px;
}
.window-base-bottombar .window-title {
	border-bottom: 1px solid #dddcdc;
}
.window-bottombar {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	border-top: 1px solid #dddcdc;
	background: #efefef;
	text-align: right;
	padding: 0 10px;
}
.window-bottombar .button-submit {
    background: #3da82c none repeat scroll 0 0;
    border: 1px solid #0c774b;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
    color: #fff;
	padding: 0 20px;
}
.window-bottombar .button {
	margin-top: 10px;
	text-transform: uppercase;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	margin-left: 20px;
}
.window-filter .field-group {
	border: 1px solid #aaacac;
}
.window-filter {
	position: absolute;
	right: 0;
	bottom: 0;
	top: 0;
	width: 270px;
	background: #dfdfdf;
	border-left: 1px solid #aaacac;
	display: none;
}
.window-filter-toolbar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	border-bottom: 1px solid #fff;
}
.window-filter-toolbar span {
	position: absolute; 
	bottom: 10px;
	left: 10px;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
}
.window-filter-toolbar .button {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	text-align: center;
}
.window-toolbar-button .button-separator {
	float: left;
	height: 40px;
	width: 1;
	border-left: 1px solid #dddcdc;
}
.window-toolbar-button {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 40px;
}
.window-filter-content {
	position: absolute;
	left: 0;
	bottom: 40px;
	right: 0;
	top: 60px;
	overflow: auto;
	padding: 15px 10px;
}
.window-filter-bottombar .button {
	text-transform: uppercase;
	line-height: 40px;
	display: inline-block;
	margin-left: 20px;
}
.window-filter-bottombar .button-action {
	font-weight: bold; 
}
.window-filter-bottombar {
	text-align: right;
	padding-right: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	border-top: 1px solid #fff;
	height: 40px;
}
.window-toolbar-button-filter {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 80px;
}
.window-toolbar-total {
	position: absolute;
	top: 0;
	right: 80px;
	bottom: 0;
	width: 80px;
	text-align: right;
	font-size: 10px;
	line-height: 40px;
	text-transform: uppercase;
}
.window-toolbar-total strong {
	font-size: 12px;
}
.window-toolbar .window-toolbar-button-filter .button {
	float: right;
}
.button-reset-filtro {
	display: none;
}
.window-filter-active .button-reset-filtro {
	display: block;
}
.window-show-filter .window-filter{
	display: block;
}
.window-show-filter .window-base{
	right: 270px;
}
.window-toolbar .button {
	height: 40px;
	float: left;
	min-width: 40px;
	text-align: center;
}
.window-title, .window-title *,
.window-filter-toolbar, .window-filter-toolbar *,
.window-toolbar, .window-toolbar * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.window-toolbar .button:hover {
	border: 1px solid #dddcdc;
}
.window-toolbar .button:active {
	background: #efefef;
}
.window-content-inner {
	margin: 25px 20px;
}

.window-content .block-template-inner {
	padding: 35px 20px 0 20px;
	overflow: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}