[data-content],
[data-merge-template] {
	display: none;
}

.logo {
	display: inline-block;
	margin-left: 15px;
	margin-top: 10px;
	color: #fff;
}
.logo img,
.logo span {
	float: left;
	height: 30px;
}
.logo span {
	line-height: 30px;
	font-size: 14px;
	border-left: 1px solid #fff;
	margin-left: 10px;
	padding-left: 10px;
}

#content {
	position: fixed;
	left: 235px;
	top: 60px;
	bottom: 0;
	right: 0;
}

#content_menu {
	position: fixed;
	left: 0;
	top: 60px;
	width: 235px;
	bottom: 0;
	z-index: 1;
}
.button-expand {
	position: absolute;
	right: 5px;
	top: 0;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: center center;
}
.menu-expand .button-expand {
	background-image: url('../img/arrow-right.png');
}
.menu-implode .button-expand {
	background-image: url('../img/arrow-left.png');
}
.menu-expand footer {
	display: none;
}
.menu-toolbar {
	position: absolute;
	top: 60px;
	bottom: 0;
	left: 0;
	width: 35px;
	display: none;
}
.menu-wrapper {
}
.menu-wrapper .button {
	display: block;
	height: 40px;
	padding-left: 15px;
	border-left: 5px solid transparent;
	color: #414042;
	background: #fff;
	text-transform: uppercase;
}
.menu-wrapper .button:hover {
	border-left: 5px solid #aaa;
}
.menu-wrapper .button.selected {
	background: #fff;
	border-left: 5px solid #e70e00;
	color: #e70e00;
}
.menu-wrapper .button .img-selected,
.menu-wrapper .button.selected .img-base {
	display: none;
}
.menu-wrapper .button.selected .img-selected{
	display: inline-block;
}
.button-list-section-wrapper {
	background: #fff;
}
.button-list-section{
	display: none;
}
.button-list-section img {
	margin-left: 33px;
}
header {
	position: relative;
	z-index: 1;
}
footer {
	position: absolute;
	left: 15px;
	bottom: 0;
	right: 15px;
	height: 20px;
	line-height: 20px;
	font-size: 11px;
	color: #fff;
}

.copy {
	font-size: 9px;
	line-height: normal;
}

footer a {
	color: #fff;
}
footer a:hover {
	text-decoration: underline;
}
footer li {
	display: inline-block;
	margin-right: 15px;
}

.header-find {
	position: relative;
	display: inline-block;
	width: 400px;
	margin-left: 50px;
}
.header-find .field-line {
	background: #6f7c82;
}
.header-find .field input {
	width: 340px;
}
.header-find .button {
	position: absolute;
	top: 0;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	display: inline-block;
}
.button-cerca {
	right: 30px;
}
.button-cerca-avanzata {
	right: 0;
}
.alttext-wrapper {
	position: absolute;
	z-index: 10000;
	font-size: 12px;
}
.alttext {
	color: #fff;
	max-width: 350px;
	padding: 4px 6px;
	background: #212121;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.alttext-arrow-up-alt {
	position: relative;
	border-bottom: 6px solid #212121;
	height: 0;
	width: 0;
	border-left: 6px solid rgba(0, 0, 0, 0);
	border-right: 6px solid rgba(0, 0, 0, 0);
}

.togglemenu {
	display: none;
}

.toolbar {
	float: right;
	margin-right: 15px;
	width: 240px;
	margin-top: 10px;
}
.user img {
	height: 30px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #777;
	float: left;
}
.toolbar .user {
	width: 200px;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	display: block;
	float: left;
}
.toolbar .user-impostazioni {
	margin-top: 5px;
	display: inline-block;
}
.toolbar .user span {
	width: 150px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	height: 30px;
	line-height: 30px;
}

.item-list-inline {
	display: inline-block;
	line-height: 18px;
	margin-right: 20px;
	border: 1px solid #dddcdc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #efefef;
	padding: 5px 10px;
}
.item-list-inline-delete {
	padding-left: 28px;
	background-image: url('../img/ico/ico-close.png');
	background-repeat: no-repeat;
	background-position: 5px center;
	cursor: pointer;
}

[data-tab] {
	clear: both;
}

[data-tab-rif] {
	background: #efefef;
	border-top: 1px solid #fff;
	border-left: 1px solid #efefef;
	border-right: 1px solid #efefef;
	padding: 5px 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float: left;
	cursor: pointer;
	color: #999;
	margin-left: 3px;
}
[data-tab-rif].open {
	background: #fff;
	border-top: 1px solid #dddcdc;
	border-left: 1px solid #dddcdc;
	border-right: 1px solid #dddcdc;
}

[data-block-template],
[data-block-template-resources] {
	display: none;
}
.block-template {
	padding-top: 20px;
}
.button-block-template-add {
	position: absolute;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	top: 5px;
	left: 10px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	background: #3da82c;
}
.button-block-template-add:after {
	content: url('../img/ico/ico-add-white.png');
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -9px;
	margin-left: -9px;
}

.block-template-wrapper {
	margin-bottom: 30px;
	border: 1px solid #dddcdc;
	padding: 30px 10px 5px 10px;
	position: relative;
}

.button-block-template-delete {
	position: absolute;
	top: -13px;
	right: -13px;
	width: 26px;
	height: 26px;
	background: #999;
	cursor: pointer;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	overflow: hidden;
	border: 3px solid #fff;
}
.button-block-template-delete:after {
	content: url('../img/ico/ico-close-white.png');
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -8px;
	margin-left: -8px;
}
.button-block-template-delete:hover {
	background: #414042;
}

.button-count {
	position: relative;
}
.button-count em {
	background: #e70e00;
	color: #fff;
	font-size: 9px;
	font-weight: bold;
	font-style: normal;
	position: absolute;
	top: 5px;
	left: 0;
	margin-left: 25px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 14px;
	height: 14px;
	text-align: center;
	line-height: 14px;
}
.button-count em[data-num='0'] {
	display: none;
}

.info-dhasboard {
	margin: 20px 25px;
}
.info-line {
	border-bottom: 1px solid #dddcdc;
	padding: 10px 20px;
}
.info-line span{
	float: left;
	width: 20%;
	font-style: italic;
	margin-right: 1%;
}
.info-line strong{
	float: left;
	width: 79%;
}
.info-line strong em{
	font-weight: normal;
}

.image-tessera {
	display: block;
	text-align: center;
	vertical-align: middle;
}
.image-tessera-30{
	width: 30px;
	height: 30px;
}
.image-tessera-30 img{
	max-width: 30px;
	max-height: 30px;
}
.image-tessera-50{
	width: 50px;
	height: 50px;
}
.image-tessera-50 img{
	max-width: 50px;
	max-height: 50px;
}
.image-tessera-100{
	width: 100px;
	height: 100px;
}
.image-tessera-100 img{
	max-width: 100px;
	max-height: 100px;
}
.image-tessera-200{
	width: 200px;
	height: 200px;
}
.image-tessera-200 img{
	max-width: 200px;
	max-height: 200px;
}