@media screen and (max-width: 980px) {
.header-find {
	width: 300px;
}
.header-find .field input {
	width: 240px;
}
}

@media screen and (max-width: 860px) {
.header-find {
	width: 200px;
}
.header-find .field input {
	width: 140px;
}
}

@media screen and (max-width: 760px) {
.toolbar .user {
	display: none;
}
.toolbar {
	width: 70px;
}
}

@media screen and (max-width: 560px) {
#content_menu {
	display: none;
}
#content {
	position: relative;
	bottom: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: auto;
}
footer {
	display: none;
}
.toolbar {
	display: none;
}
.header-find {
	width: auto;
	margin: 0 10px;
	display: block;
}
.togglemenu {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	float: right;
	width: 40px;
	height: 40px;
}
}