@media screen and (max-width: 800px) {
.window {
	margin: 0 10px;
}
}
@media screen and (max-width: 450px) {
footer,
#wrapper {
	position: relative;
}
#main {
	margin-bottom: 30px;
}
footer {
	height: auto;
}
footer .coll {
	width: auto;
	float: none;
	margin-left: 20px;
	margin-right: 20px;
}
.copy {
	margin-left: 0;
	text-align: center;
	margin-bottom: 20px;
}
.login {
	width: auto;
	margin: 0 10px;
}
}