<div class="window-base window-base-bottombar window-base-tab tab">
    <div class="window-title">
        Filtri
    </div>
    <form data-merge-content="item">
        <div class="window-content-header">
            <div data-tab-rif="generale">Generale</div>
            <div data-tab-rif="cliente">Cliente</div>
            <div data-tab-rif="negozio">Punto Vendita</div>
            <div data-tab-rif="cartello">Cartello</div>
        </div>
        <div class="window-content">
            <div data-tab="generale">
                <div class="window-content-inner">
                    <!--GENERALE-->
                    <div class="field-group">
                        <div class="field-group-title">Provincia</div>
                        <div class="field-line">
                            <div class="field" >
                                <label>Provincia</label>
                                <select name="recapito_id_provincia">
                                    <option></option>
                                    {% for item in list_provincia %}
                                    <option value="{{ item.id }}">{{ item.nome }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field-group">
                        <div class="field-group-title">Data inizio</div>
                        <div class="field-line-multi field-line-50-50">
                            <div class="field-line">
                                <div class="field">
                                    <label>Dal</label>
                                    <input type="text" name="data_dal" maxlength="10" class="valida-datasimple input-datepicker">
                                </div>
                            </div>
                            <div class="field-line">
                                <div class="field">
                                    <label>Al</label>
                                    <input type="text" name="data_al" maxlength="10" class="valida-datasimple input-datepicker">
                                </div>
                            </div>
                        </div>	
                    </div>
                </div>
            </div>
            <div data-tab="cliente">
                <div class="window-content-inner">
                    {% if _h.session.params.user.profile > 8 %}
                    {% if list_cliente and list_cliente|length > 0 %}
                    {% for item in list_cliente %}
                    <div class="field-line field-line-checkbox">
                        <div class="hrow">
                            <span data-value="{{ item.id }}" class="checkbox"><input type="hidden" value="" name="id_cliente[]"></span>
                            <label>{{ item.nome }}</label>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}	
                    {% endif %}
                </div>
            </div>

            <div data-tab="negozio">
                <div class="window-content-inner">
                    {% if _h.session.params.user.profile > 8 %}
                    {% if list_negozio and list_negozio|length > 0 %}
                    {% for item in list_negozio %}
                    <div class="field-line field-line-checkbox">
                        <div class="hrow">
                            <span data-value="{{ item.id }}" class="checkbox"><input type="hidden" value="" name="id_negozio[]"></span>
                            <label>{{ item.nome }}</label>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}	
                    {% endif %}
                </div>
            </div>

            <div data-tab="cartello">
                <div class="window-content-inner">
                    <div class="field-line-text">
                        <span>Fornitori</span>
                    </div>
                    {% for item in list_fornitore %}
                    <div class="field-line field-line-checkbox">
                        <div class="hrow">
                            <span data-value="{{ item.id }}" class="checkbox"><input type="hidden" value="" name="id_fornitore[]"></span>
                            <label>{{ item.nome }}</label>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="field-line-text">
                        <span>Tipo Cartello</span>
                    </div>
                    {% for item in list_tipocartello %}
                    <div class="field-line field-line-checkbox">
                        <div class="hrow">
                            <span data-value="{{ item.id }}" class="checkbox"><input type="hidden" value="" name="id_tipo_cartello[]"></span>
                            <label>{{ item.nome }}</label>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="window-bottombar">
            <a class="button button-close button-style action-layer-close-button">Annulla</a>
            <a class="button action-download button-submit" data-action='{"urls": ["{{ _h.url('my/data/cliente/export') }}","{{ _h.url('my/data/cliente/concorrente/export') }}","{{ _h.url('my/data/cliente/negozio/export') }}","{{ _h.url('my/data/cliente/cartello/export') }}"], "onComplete": {"type": "close-win"}}'><span>Scarica</span></a>
        </div>
    </form>
</div>