<div class="window-base window-base-bottombar">
    <div class="window-title">
        Fornitore
    </div>
    <form data-merge-content="item">
        <input type="hidden" name="id" value="[[=it.id || '']]">
        <div class="window-content">

            <div class="window-content-inner">

                <div class="field-line">
                    <div class="field" data-tips="nome/ragione sociale del fornitore">
                        <label>Nome<span>*</span></label>
                        <input type="text" name="nome" maxlength="100" class="valida-required" value="[[=it.nome || '']]">
                    </div>
                </div>
                <div class="field-line field-line-textarea">
                    <div class="field">
                        <label>Descrizione</label>
                        <textarea name="descrizione">[[=it.descrizione || '']]</textarea>
                    </div>
                </div>
                <div class="field-line-text">
                    <em>I campi con <span class="obbligatorio">*</span> (asterisco) sono obbligatori</em>
                </div>
            </div>

        </div>

        <div class="window-bottombar">
            <a class="button button-close button-style action-layer-close-button">Annulla</a>
            <a class="button action-submit-form button-submit" data-action='{"url": "{{ _h.url('my/data/fornitore/ex-edit') }}", "onComplete": {"type": "close-win", "update": "fornitore"}}'><span>salva</span></a>
        </div>
    </form>
</div>