<div class="window-base">
	<div class="window-title">
	Fornitori
	</div>
	<div class="window-toolbar">
		<div class="window-toolbar-button">
			{% if _h.session.params.user.sola_lettura %}
                    <!--<em>Account abilitato in sola lettura.</em>-->
			{%else%}
				{% if _h.session.profile == 'super' %}
			<a class="button button-style action-template" data-alttext="crea nuovo" data-action='{"css": "layer-small-edit", "template": "fornitore/edit"}'><img src="/assets/img/ico/ico-add.png"></a>
				{%endif%}
			<a class="button button-style action-update" data-alttext="modifica dati" data-action='{"select": {"from": "#list_fornitore", "check": 1}, "url": "fornitore/load", "template": "fornitore/edit", "css": "layer-small-edit"}'><img src="/assets/img/ico/ico-mod.png"></a>
				{% if _h.session.profile == 'super' %}
			<a class="button button-style action-delete" data-alttext="elimina" data-action='{"select": {"from": "#list_fornitore", "check": 0}, "title": "Elimina", "url": "fornitore/ex-delete"}'><img src="/assets/img/ico/ico-del.png"></a>
			{% endif %}
            <span class="button-separator"></span>
						{% if _h.session.params.user.profile >= 10 and _h.session.params.user.sola_lettura == '0' %}
            <form>
			<a class="button button-style action-submit-form" data-alttext="aggiorna elenco" data-action='{"url": "{{ _h.url('my/data/fornitore/import') }}", "onComplete": {"update": "fornitore"}}'><img src="/assets/img/ico/ico-repeat.png"></a>
            </form>
						{%endif%}
				{%endif%}

		</div>
		
	</div>
	<div class="window-content">
	<div id="list_fornitore" class="action-load-data action-autoupdate table-wrapper" data-update-content="fornitore" data-action='{"mergeTemplate": {"template": "list", "dataType": "list", "insertType": "prepend"}, "loadData": {"url": "fornitore/list"}}'>
		<div data-merge-template="list">
		[[~it.list :item:index]]
			<table>
			<tr data-id="[[=item.id]]" data-uid="fornitore_[[=item.id]]">
				
				<td class="cell-checkbox"><div class="td-simple"><span data-value="[[=item.id]]" class="checkbox"><input type="hidden" value="" name="id"></span></div></td>
				<td class="details-cell"><div class="td">[[=item.nome]]</div></td>
				<td class="details-cell"><div class="td-simple">[[=item.descrizione || '']]</div></td>
				<td><div class="td-simple"><a class="button button-style action-info-item item-info-button" data-action='{"type": "fornitore"}'><img src="/assets/img/ico/ico-info.png"></a></div></td>
			</tr>
			</table>
		[[~]]
		</div>

	<table class="table-single-selection-shift table table-fix-header">
	<colgroup>
		<col class="col col-checkbox">
		<col class="col ">
		<col class="col ">
		<col class="col col-action">
	</colgroup>
	<thead>
		<tr>
			
			<th></th>
			<th data-order="nome" data-order-type="asc"><div class="th">Nome</div></th>
			<th data-order="descrizione"><div class="th">Descrizione</div></th>
			<th></th>
		</tr>
	</thead>
	<tbody data-merge-content="list"></tbody>
	</table>
	</div>
	</div>
</div>