<div class="window-base window-base-bottombar">
	<div class="window-title">
	Documento
	</div>
	<form data-merge-content="item">
		[[ var is_file = ''; ]]
		[[? it.id ]]
			<input type="hidden" name="id" value="[[=it.id ]]">
			[[ is_file = ' field-is-file'; ]]
			[[ var url_entita = '' ]]
		[[??]]
			<input type="hidden" name="id_entita" value="%id_entita%">
			[[ var url_entita = '/cliente/%url_entita%' ]]
		[[?]]
		
		<div class="window-content">
			<div class="window-content-inner">
				<input type="hidden" name="abilitato" value="1">
				<div class="field-line field-line-file[[= is_file || '']]">
					<div class="row">
						<label>File<span>*</span>:</label>
						<div class="field-anteprima">[[=it.nome || '']]</div>
						<div class="wrapp-button">
							<a href="javascript:void(0);" class="button button-submit action-upload-file button-style" data-action='{"url": "/my/upload"}'>carica file</a>
							<a href="javascript:void(0);" class="button button-cancel action-upload-file-reset button-style">Cancella</a>
						</div>
						<input type="hidden" name="file" class="field-file" value="[[=it.id || '']]">
						<input type="hidden" name="file_name" class="field-file-name">					
					</div>
				</div>
				<div class="field-line field-line-textarea">
					<div class="field">
						<label>Commento</label>
						<textarea name="commento" maxlength="500">[[=it.commento || '']]</textarea>
					</div>
				</div>
			</div>
		</div>
		<div class="window-bottombar">
			<a class="button button-close button-style action-layer-close-button">Annulla</a>
			<a class="button action-submit-form button-submit" data-action='{"url": "{{ _h.url('my/data') }}[[= url_entita]]/documento/ex-edit", "onComplete": {"type": "close-win", "update": "documento"}}'><span>salva</span></a>
		</div>
	</form>
</div>