<div class="window-base">
	<div class="window-title">
	Documenti
	</div>
	<div class="window-toolbar">
                                        {% if _h.session.params.user.sola_lettura == '0' %}
		<div class="window-toolbar-button">
			<a class="button button-style action-template" data-alttext="crea nuovo" data-action='{"template": "documento/edit", "paramsTemplate":{"id_entita": %id_entita%, "url_entita": "{{ url_entita }}"}}'><img src="/assets/img/ico/ico-add.png"></a>
			<a class="button button-style action-update" data-alttext="modifica" data-action='{"select": {"from": "#list_documento", "check": 1}, "url": "documento/load", "template": "documento/edit"}'><img src="/assets/img/ico/ico-mod.png"></a>
			<a class="button button-style action-delete" data-alttext="elimina" data-action='{"select": {"from": "#list_documento", "check": 0}, "title": "Elimina", "url": "documento/ex-delete"}'><img src="/assets/img/ico/ico-del.png"></a>
		</div>
                                        {%endif%}
	</div>
	<div class="window-content">
		<div id="list_documento" class="action-load-data action-autoupdate table-wrapper" data-update-content="documento" data-load-params='{"id": %id_entita%}' data-action='{"mergeTemplate": {"template": "list", "dataType": "list", "insertType": "prepend"}, "loadData": {"url": "cliente/{{ url_entita }}/documento/list"}}'>
			<div data-merge-template="list">
			[[~it.list :item:index]]
				<table>
				<tr data-id="[[=item.id]]" data-uid="documento_[[=item.id]]">
					<td class="cell-checkbox"><div class="td-simple"><span data-value="[[=item.id]]" class="checkbox"><input type="hidden" value="" name="id"></span></div></td>
					<td class="details-cell"><div class="td">[[=item.nome]]</div></td>
					<td class="details-cell"><div class="td">[[=item.commento]]</div></td>
					<td class="details-cell"><div class="td-simple">[[=item.data_inserimento]]</div></td>
				</tr>
				</table>
			[[~]]
			</div>

			<table class="table-single-selection-shift table table-fix-header">
			<colgroup>
				<col class="col col-checkbox">
				<col class="col col-200">
				<col class="col">
				<col class="col col-datetime">
			</colgroup>
			<thead>
				<tr>
					<th></th>
					<th><div class="th">File</div></th>
					<th><div class="th">Commento</div></th>
					<th><div class="th">Data ins.</div></th>
				</tr>
			</thead>
			<tbody data-merge-content="list"></tbody>
			</table>
		</div>
	</div>
</div>