<div class="window-base">
	<div class="window-title">
		Mappa
	</div>
	<div class="window-toolbar">
		<div class="window-toolbar-button">
			<a class="button button-style action-toggle-infobox" data-alttext="mostra nomi" data-action='{}'><img
					src="/assets/img/ico/ico-info.png"></a>
			<span class="button-separator"></span>
			<div class="search-field">
				<input type="text" name="ricerca" placeholder="cerca posizione, luogo">
				<button class="action-cerca">Cerca</button>
			</div>
		</div>

		<div class="window-toolbar-button-filter">
			<a class="button button-style action-attiva-filtro" data-alttext="filtra"><img
					src="/assets/img/ico/ico-filter.png"></a>
			<a class="button button-style action-reset-filtro button-reset-filtro" data-alttext="annulla filtro"><img
					src="/assets/img/ico/ico-filter-remove.png"></a>
		</div>
	</div>
	<div class="window-content" id="map-container">
		<!--mappa-->
		<div id="map" class="autoload-google-map-main google-map" style="width: 100%; height: 100%;">
			<em>Caricamento in corso...</em>
		</div>
		<div id="map-info-container" class="bottombar-big" style="display: none">
			<div class="window-bottombar-toolbar">
				<div class="window-title">
					Mappa info
				</div>
				<a class="button button-style action-chiudi-info" data-alttext="chiudi"><img
						src="/assets/img/ico/ico-close.png"></a>
				<div class="window-bottombar-content">
					<div class="info-container">

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--FILTRO-->
<div class="window-filter">
	<form>
		<div class="window-filter-toolbar">
			<span>Filtro punti</span>
			<a class="button button-style action-attiva-filtro" data-alttext="chiudi"><img
					src="/assets/img/ico/ico-close.png"></a>
		</div>
		<div class="window-filter-content">
			<!--generale-->
			<div class="field-group field-line-small field-group-expand">
				<div class="field-group-title">Generale</div>
				<div class="field-group-body">
					<div class="field-line field-line-checkbox">
						<div class="hrow">
							<span data-value="1" class="checkbox checkbox-checked">
								<input type="hidden" data-default-value="1" value="1" name="show_negozi"></span>
							<label>Negozi</label>
						</div>
						<div class="hrow">
							<span data-value="1" class="checkbox checkbox-checked">
								<input type="hidden" data-default-value="1" value="1" name="show_cartelli"></span>
							<label>Cartelli</label>
						</div>
						<div class="hrow">
							<span data-value="1" class="checkbox checkbox-checked">
								<input type="hidden" data-default-value="1" value="1" name="show_concorrenti"></span>
							<label>Concorrenti</label>
						</div>
					</div>
				</div>
			</div>

			<!--FILTRO CLIENTI-->
			{% if _h.session.params.user.profile > 8 %}
			{% if list_cliente and list_cliente|length > 0 %}
			<div class="field-group field-line-small field-group-expand">
				<div class="field-group-title">Cliente</div>
				<div class="field-group-body update-with-data"
					 data-action='{"updateWithData":{"content": "cliente"}}'>
					{% for item in list_cliente %}
					<div class="field-line field-line-checkbox ">
						<div class="hrow">
							<span data-value="{{ item.id }}" class="checkbox"><input type="hidden" value=""
																					 name="id_cliente[]"></span>
							<label>{{ item.nome }}</label>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			{% endif %}
			{%endif%}

			<!--filtro negozi-->
			{% if list_negozio and list_negozio|length > 0 %}
			<div class="field-group field-line-small field-group-expand">
				<div class="field-group-title">Punto vendita</div>
				<div class="field-group-body"
					 data-content-update-with-data="cliente">
					{% for item in list_negozio %}
					<div class="field-line field-line-checkbox" data-id-data="{{item.id_cliente}}">
						<div class="hrow">
							<span data-value="{{ item.id }}" class="checkbox"><input type="hidden" value=""
																					 name="id_negozio[]"></span>
							<label>{{ item.nome }}</label>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			{% endif %}

			<div class="field-group">
				<div class="field-group-title">Cartello</div>
				<div class="field-line field-line-checkbox">
					<div class="hrow">
						<span data-value="1" class="checkbox"><input type="hidden" value="" name="abilitati"></span>
						<label>Nascondi temporanei</label>
					</div>
				</div>

				<!--FILTRO FORNITORI-->
				{% if _h.session.params.user.profile > 8 %}
				<div class="field-group field-line-small field-group-expand">
					<div class="field-group-title">Fornitore</div>
					<div class="field-group-body">
						{% for item in list_fornitore %}
						<div class="field-line field-line-checkbox">
							<div class="hrow">
								<span data-value="{{ item.id }}" class="checkbox"><input type="hidden" value=""
																						 name="id_fornitore[]"></span>
								<label>{{ item.nome }}</label>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				{%endif%}
				<!--FILTRO TIPI CARTELLO-->
				<div class="field-group field-line-small field-group-expand">
					<div class="field-group-title">Tipo Cartello</div>
					<div class="field-group-body">
						{% for item in list_tipocartello %}
						<div class="field-line field-line-checkbox">
							<div class="hrow">
								<span data-value="{{ item.id }}" class="checkbox"><input type="hidden" value=""
																						 name="id_tipo_cartello[]"></span>
								<label>{{ item.nome }}</label>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				<!--DATA INIZIO-->
				<div class="field-group">
					<div class="field-group-title">Data inizio</div>
					<div class="field-line-multi field-line-50-50">
						<div class="field-line">
							<div class="field">
								<label>Dal</label>
								<input type="text" name="data_inizio_dal" maxlength="10"
									   class="valida-datasimple input-datepicker">
							</div>
						</div>
						<div class="field-line">
							<div class="field">
								<label>Al</label>
								<input type="text" name="data_inizio_al" maxlength="10"
									   class="valida-datasimple input-datepicker">
							</div>
						</div>
					</div>
				</div>
				<!--DATA FINE-->
				<div class="field-group">
					<div class="field-group-title">Data fine</div>
					<div class="field-line-multi field-line-50-50">
						<div class="field-line">
							<div class="field">
								<label>Dal</label>
								<input type="text" name="data_fine_dal" maxlength="10"
									   class="valida-datasimple input-datepicker">
							</div>
						</div>
						<div class="field-line">
							<div class="field">
								<label>Al</label>
								<input type="text" name="data_fine_al" maxlength="10"
									   class="valida-datasimple input-datepicker">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="window-filter-bottombar">
			<a class="button action-reset-filtro button-close button-style">Azzera</a>
			<a class="button action-filtro-map button-action">Filtra</a>
		</div>
	</form>
</div>