<div class="window-base window-base-bottombar">
	<div class="window-title">
	Password Account
	</div>
	<form data-merge-content="item">
		<input type="hidden" name="id" value="[[=it.id || '']]">
		
		<div class="window-content">
			<div class="window-content-inner">
				<div class="field-line-text">
					Modifica password account <strong>[[=it.e_mail || '']]</strong>.
				</div>

				<div class="field-line-multi field-line-50-50">
					<div class="field-line">
						<div class="field" data-tips="la password deve essere lunga almeno 8 caratteri, contenere almeno una lettera maiuscola, una lettera minuscolae un numero">
							<label>Password<span>*</span></label>
							<input type="password" name="password" maxlength="50" class="valida-required valida-check-password valida-password">
						</div>
					</div>
					<div class="field-line">
						<div class="field" data-tips="ripetere la password inserita">
							<label>Conferma password<span>*</span></label>
							<input type="password" name="conferma_password" maxlength="50" class="valida-required valida-confermapassword">
						</div>
					</div>
				</div>
				
				<div class="field-line-text">
					<em>I campi con <span class="obbligatorio">*</span> (asterisco) sono obbligatori</em>
				</div>
			</div>		

		</div>
		<div class="window-bottombar">
			<a class="button button-close button-style action-layer-close-button">Annulla</a>
			<a class="button action-submit-form button-submit" data-action='{"url": "{{ _h.url('my/data/account/ex-edit-update-password') }}", "onComplete": {"type": "close-win"}}'><span>salva</span></a>
		</div>
	</form>
</div>