<div class="window-base window-base-bottombar">
	<div class="window-title">
	Modifica dati personali
	</div>
	<form data-merge-content="item">
		<input type="hidden" name="id" value="[[=it.id || '']]">
                <input type="hidden" name="e_mail" value="[[=it.e_mail]]">
		<div class="window-content">
			<div class="window-content-inner">
				<div class="field-line-text">
					I tuoi dati personali
				</div>
				<div class="field-line-text">
					<em style="margin-right: 10px;">E-mail</em>
					<strong>[[=it.e_mail || '']]</strong>
				</div>
				<div class="field-line">
					<div class="field" data-tips="inserire il nome dell'utente">
						<label>Nome<span>*</span></label>
						<input type="text" name="nome" maxlength="50" class="valida-required" value="[[=it.nome || '']]">
					</div>
				</div>
				<div class="field-line">
					<div class="field" data-tips="inserire il cognome dell'utente">
						<label>Cognome<span>*</span></label>
						<input type="text" name="cognome" maxlength="50" class="valida-required" value="[[=it.cognome || '']]">
					</div>
				</div>
							
				<div class="field-line-text">
					<em>I campi con <span class="obbligatorio">*</span> (asterisco) sono obbligatori</em>
				</div>
			</div>		
		</div>
		<div class="window-bottombar">
			<a class="button button-close button-style action-layer-close-button">Annulla</a>
			<a class="button action-submit-form button-submit" data-action='{"url": "{{ _h.url('/my/data/account/ex-modifica-dati') }}", "onComplete": {"type": "close-win", "event": "modifica-dati-utente"}}'><span>salva</span></a>
		</div>
	</form>
</div>