<div class="window-base">
	<div class="window-title">
	Gallery
	</div>
    {% if _h.session.params.user.sola_lettura == '0' %}
	<div class="window-toolbar">
		<div class="window-toolbar-button">
			<a class="button button-style action-upload-file" data-alttext="nuovo" data-action='{"fileType": ["jpg", "jpeg", "png", "gif"], "params": {"id": %id_entita%}, "url": "{{ _h.url('my/data/cliente/' ~ url_entita ~ '/gallery/ex-image') }}", "onComplete": {"reload": "gallery"}}'><img src="/assets/img/ico/ico-add.png"></a>
			<a class="button button-style action-delete" data-alttext="elimina" data-action='{"select": {"from": "#list_gallery", "check": 0}, "title": "Elimina", "url": "cliente/{{ url_entita }}/gallery/ex-delete"}'><img src="/assets/img/ico/ico-del.png"></a>
		</div>
	</div>
    {%endif%}
	<div class="window-content">
		<div id="list_gallery" class="action-load-data action-autoupdate table-wrapper" data-update-content="gallery" data-load-params='{"id": %id_entita%}' data-action='{"mergeTemplate": {"template": "list", "dataType": "list", "insertType": "prepend"}, "loadData": {"url": "cliente/{{ url_entita }}/gallery/list"}}'>
			<div data-merge-template="list">
			[[~it.list :item:index]]
				<table>
				<tr data-id="[[=item.id]]" data-uid="gallery_[[=item.id]]">
                                    {% if _h.session.params.user.sola_lettura == '0' %}
					<td class="cell-checkbox"><div class="td-simple"><span data-value="[[=item.id]]" class="checkbox"><input type="hidden" value="" name="id"></span></div></td>
                                        {%endif%}
					<td class="details-cell"><div class="td">
					<img src="/my/img/320x240/[[=item.immagine ]]" style="max-width: 160px; max-height: 120px;">
					</div></td>
				</tr>
				</table>
			[[~]]
			</div>

			<table class="table-single-selection-shift table table-fix-header">
			<colgroup>
                            {% if _h.session.params.user.sola_lettura == '0' %}
				<col class="col col-checkbox">
                                {%endif%}
				<col class="col">
			</colgroup>
			<thead>
				<tr>
                                        {% if _h.session.params.user.sola_lettura == '0' %}
					<th></th>
                                        {%endif%}
					<th><div class="th">Foto</div></th>
				</tr>
			</thead>
			<tbody data-merge-content="list"></tbody>
			</table>
		</div>
	</div>
</div>