<div class="window-base">
    <div class="window-content-viewer">
        <!--        <div class="image-info">
                    <span>testo di prova</span>
                </div>-->
        <div class="viewer-container">
            <div class="image-box">
                <img class="image-frame" src="img/80x80/[[=it]]"/>
                <div class="loading-frame">
                    <img src="/assets/img/loading.gif"/>
                </div>
            </div>
            <div class="arrow-left">
                <img src="/assets/img/arrow-left.png">
            </div>
            <div class="arrow-right">
                <img src="/assets/img/arrow-right.png">
            </div>
        </div>
        <div class="image-list">

        </div>
    </div>
</div>