<!DOCTYPE html>

<html>
    <head>
        <title>*</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
	{%if sessionid%}
	<p>{{sessionid}}</p>
	<p>{{user.e_mail}}</p>
	<form action="/service/my/logout">
	    <input type="submit" value="Logout"/>
	</form>
	{%else%}
	<div>Login cliente</div>
        <form action="/service/login" method="post">
            email:<br>
            <input value="test@test.it" type="text" name="email"><br>
            password:<br>
            <input value="Prova123" type="password" name="password"><br>
            <input type="submit" value="submit">
        </form>

	{%endif%}
	<p></p>

	<div>Check-login (sessionid)</div>
	<form action="/service/my/check-login" method="post">
	    sessionid <br>
	    <input value="" type="text" name="sessionid"><br>
	    <input type="submit" value="Submit">
	</form>

	<p>------</p>

        <div>Carica foto cartello</div>
        <form action="/service/my/cartello/ex-add-foto" method="post" enctype="multipart/form-data">
            <input value="1" type="text" name="id"><br>
            <input type="file" name="file"><br>
            <input type="submit" value="carica foto">
        </form>

        <p>------</p>

        <p>---Inserisci / Modifica cartello ---</p>
	<p>La presenza o meno del parametro id comporta l'aggiunta o modifica di un cartello</p>
	<form action="/service/my/cartello/ex-edit" method="post">
	    <p>id* :
	    <input type="text" name="id" value="1"> </p>
	    <p>id_cliente* :
	    <input type="text" name="id_cliente" value="1210"> </p>
		<p>data_modifica (per controllo) :
			<input type="text" name="data_modifica" value="22/10/2011 10:23:00"> </p>
	    <p>id_negozio :
	    <input type="text" name="id_negozio" value="1"></p>
	    <p>id_tipo_cartello :
	    <input type="text" name="id_tipo_cartello" value="1"></p>
	    <p>codice :
	    <input type="text" name="codice" value="123477"></p>
	    <p>id_fornitore :
	    <input type="text" name="id_fornitore" value="0"></p>
	    <p>data_dal :
	    <input type="text" name="data_dal" value="11/02/2007"></p>
	    <p>data_al :
	    <input type="text" name="data_al" value="12/02/2008"></p>
	    <p>latitudine :
	    <input type="text" name="latitudine" value="11.404"></p>
	    <p>longitudine :
	    <input type="text" name="longitudine" value="11.406"></p>
	    <p>recapito_via :
	    <input type="text" name="recapito_via" value="via manzoni"></p>
	    <p>recapito_num_civico :
	    <input type="text" name="recapito_num_civico" value="44"></p>
	    <p>recapito_cap :
	    <input type="text" name="recapito_cap" value="73024"></p>
	    <p>racapito_comune :
	    <input type="text" name="recapito_comune" value="Maglie"></p>
	    <p>reacapito_id_provincia :
	    <input type="text" name="recapito_id_provincia" value="70"></p>
	    <p>recapito_ubicazione :
	    <input type="text" name="recapito_ubicazione" value="ubicazione _test"></p>
	    <p>num_contratto :
	    <input type="text" name="num_contratto" value="10"></p>
	    <p>descrizione :
		<input type="text" name="descrizione" value="descrizione di prova"></p>
	    <p></p>
	    <input type="submit" value="invia dati">
	</form>
        <p>------</p>
    </body>
</html>
