<!DOCTYPE html>

<html>
    <head>
        <title>*</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
	{%if sessionid%}
	<p>{{sessionid}}</p>
	<p>{{user.e_mail}}</p>
	<form action="/service/my/logout">
	    <input type="submit" value="Logout"/>
	</form>
	{%else%}
	<div>Login cliente</div>
        <form action="/service/login" method="post">
            email:<br>
            <input value="test@test.it" type="text" name="email"><br>
            password:<br>
            <input value="Prova123" type="password" name="password"><br>
            <input type="submit" value="submit">
        </form>

	{%endif%}
	<p></p>
	
	<div>Check-login (sessionid)</div>
	<form action="/service/my/check-login" method="post">
	    sessionid <br>
	    <input value="" type="text" name="sessionid"><br>
	    <input type="submit" value="Submit">
	</form>

        <p>---Preferiti---</p>

        <div>Aggiungi preferito</div>
        <form action="/service/my/ex-preferito" method="post">

            id entita:<br>
            <input value="1" type="text" name="entity_id"><br>
            tipo entita:<br>
            <input value="cartello" type="text" name="type"><br>
            valore:<br>
            <input value="true" type="text" name="value"><br>

            <input type="submit" value="Submit">
        </form>

        <div>Lista preferiti</div>
        <p>Se un tipo non è selezionato allora sono tutti ritornati</p>
        <form action="/service/my/list-preferito" method="post">

            id entita:<br>
            <input value="1" type="text" name="entity_id"><br>
            tipo entita:<br>
            <input value="cartello" type="text" name="type"><br>

            <input type="submit" value="Submit">
        </form>

    </body>
</html>
