{% macro style_fontHeader() %}
font-family:'Open Sans',Arial,sans-serif
{% endmacro %}

{% macro style_font() %}
font-family:'Open Sans',Arial,sans-serif
{% endmacro %}

{% macro style_fontBase() %}
{{ _self.style_font() }};font-size:14px;color:#414042
{% endmacro %}

{% macro style_fontBaseSmall() %}
{{ _self.style_font() }};font-size:12px;color:#414042
{% endmacro %}

{% macro style_fontTitolo() %}
{{ _self.style_font() }};font-size:22px;margin-bottom:20px
{% endmacro %}

{% macro style_p() %}
padding-bottom:16px
{% endmacro %}

{% macro style_cella() %}
padding-bottom:10px;padding-right:15px
{% endmacro %}

{% macro style_bold() %}
font-weight:bold
{% endmacro %}

{% macro style_label() %}
font-style:italic;color:#999999
{% endmacro %}

{% macro style_rosso() %}
color:#e70e00
{% endmacro %}

{% macro style_link() %}
color:#3da6ff
{% endmacro %}

{% macro tableHeader() %}
    <table border="0" cellpadding="0" cellspacing="0">
{% endmacro %}


{% macro tableFooter() %}
    </table>
{% endmacro %}


{% macro rowTitle(label) %}
    <tr><td colspan="2" style="{{ _self.style_fontBase() }};font-weight:bold;{{ _self.style_p() }};{{ _self.style_bold() }}">{{ label }}</td></tr>
{% endmacro %}

{% macro row(label, value) %}
	<tr>
	<td valign="top" style="{{ _self.style_fontBase() }};{{ _self.style_cella() }};{{ _self.style_label() }}">
	{% if label == '' %}
		&nbsp;
	{% else %}
		{{ label }}:
	{% endif %}
	</td>
	<td valign="top" style="{{ _self.style_fontBase() }};{{ _self.style_cella() }}">
	{{ value }}
	</td>
	</tr>
{% endmacro %}