{% import '_macro.html' as mc %}
{% set _lbl = _h.labels.get('e_mail') %}
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p style="{{ mc.style_fontBaseSmall() }}">Per informazioni e supporto:<br>
			<a href="mailto:{{ _h.settings.get('e_mail_supporto') }}" title="scrivi a {{ _h.settings.get('e_mail_supporto') }}" style="{{ mc.style_link() }}">{{ _h.settings.get('e_mail_supporto') }}</a><br>
		</td></tr>
		</tbody>
		</table>
	</td></tr>
	<tr><td>
		<div style="line-height:1em;{{ mc.style_font() }};font-size:11px;padding:10px;color:#727272">
		Milano Forward &copy; 2015
		</div>	
	</td></tr>
	</tbody></table>
	
</td></tr>
</tbody></table>
</body></html>