{% import '_macro.html' as mc %}

<html><body>
<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
<tbody>
<tr>
<td style="padding:20px">
	
	<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" style="border: 1px solid #6f7c82;">
	<tbody>
	<tr>
		<td height="50" align="left" valign="middle" style="padding:20px;">
			<img src="{{ _h.webAppUrl }}/assets/email/logo.png" height="50">
		</td>
	</tr>
	<tr>
		<td style="padding:20px" bgcolor="#ffffff">
			<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
			<tbody>
			<tr><td style="{{ mc.style_fontBase() }}">