{% import '_macro.html' as mc %}

<p style="{{ mc.style_fontBase() }}">Gentile <strong>{{ nome }}</strong></p>
<p style="{{ mc.style_fontBase() }}">per impostare una nuova password clicca sul seguente link (oppure copia e incolla l'indirizzo riportato sotto nella barra degli indirizzi del tuo browser):</p>

<p style="{{ mc.style_fontBase() }}"><a href="{{ url }}" style="{{ mc.style_link() }}">{{ url }}</a></p>

<p style="{{ mc.style_fontBase() }}">Il link ha una validità di 24 ore a partire dalla richiesta. Scadute le 24 ore puoi ripetere l’operazione accedendo al seguente link: <a href="{{ _h.config('url') }}{{ ext }}{{ _h.url('recupero-password') }}" title="recupero password" style="{{ mc.style_link() }}">{{ _h.config('url') }}{{ ext }}{{ _h.url('recupero-password') }}</a>.</p>
<p style="{{ mc.style_fontBase() }}">&nbsp;</p>
<p style="{{ mc.style_fontBase() }}"><strong>Nota:</strong> hai ricevuto questa e-mail perché hai richiesto il reset della tua password di accesso al portale Balestri e Balestri. Se la richiesta non è partita da te puoi ignorare questa e-mail.</p>
