{% import '_macro.html' as mc %}

<p style="{{ mc.style_fontBase() }}">Il cliente {{ utente.nome }} {{ utente.cognome }} ha segnalato la presenza di errori nei suoi dati.</p>

{{ mc.tableHeader() }}
{{ mc.rowTitle('Gruppo') }}
{{ mc.row('Nome', gruppo.nome) }}
{{ mc.tableFooter() }}

{{ mc.tableHeader() }}
{{ mc.rowTitle('Utente') }}
{{ mc.row('Nome', utente.nome) }}
{{ mc.row('Cognome', utente.cognome) }}
{{ mc.row('E-Mail', utente.e_mail) }}
{{ mc.tableFooter() }}

{% if motivazione %}
<br>
<br>
<p style="{{ mc.style_fontBase() }}">{{ motivazione }}</p>
{% endif %}
