{% import '_macro.html' as mc %}

<p style="{{ mc.style_fontBase() }}">Gentile <strong>{{ nome }}</strong></p>
<p style="{{ mc.style_fontBase() }}">la tua password sul portale Balestri e Balestri è stata modificata.</p>
