{% import '_macro.html' as mc %}

<p style="{{ mc.style_fontBase() }}">Nuova richiesta di contatto da portale <strong>Balestri e Balestri</strong>:</p>

{{ mc.tableHeader() }}
{{ mc.rowTitle('Richiedente') }}
{{ mc.row('Nome', nome) }}
{{ mc.row('Cognome', cognome) }}
{{ mc.row('E-Mail', e_mail) }}
{{ mc.row('Telefono', telefono) }}
{{ mc.tableFooter() }}
{% if testo %}
<p style="{{ mc.style_fontBase() }}"><strong>Testo del messaggio:</strong></p>
<p style="{{ mc.style_fontBase() }}">{{ testo }}</p>
{% endif %}