<div class="window-base window-base-bottombar window-base-tab tab">
    <div class="window-title">
        Cliente
    </div>
    <form data-merge-content="item">
        <input type="hidden" name="id" value="[[=it.id || '']]">
        <div class="window-content-header">
            <div data-tab-rif="principali">Generale</div>
            <div data-tab-rif="immagine">Logo</div>
            {% if _h.session.profile == 'super' %}
            <div data-tab-rif="export">Export</div>
            {%endif%}
        </div>
        <div class="window-content">
            <div data-tab="principali">
                <div class="window-content-inner">
                    [[ var check = ' checkbox-checked'; ]]
                    [[ var check_value = '1'; ]]
                    [[? it.id ]]
                    [[? it.abilitato === 1 ]]

                    [[??]]
                    [[ check = ''; ]]
                    [[ check_value = ''; ]]
                    [[?]]
                    [[?]]
                    <div class="field-line field-line-checkbox">
                        <div class="hrow">
                            <span data-value="1" class="checkbox[[= check]]"><input type="hidden" value="[[= check_value]]" name="abilitato"></span>
                            <label>Abilitato</label>
                        </div>
                    </div>
                    <div class="field-line">
                        <div class="field" data-tips="nome/ragione sociale del cliente">
                            <label>Nome<span>*</span></label>
                            <input type="text" name="nome" maxlength="100" class="valida-required" value="[[=it.nome || '']]">
                        </div>
                    </div>

                <!--
                    <div class="field-line">
                        <div class="field" data-tips="numero contratto associato al cliente">
                            <label>Numero Contratto<span>*</span></label>
                            <input type="text" name="num_contratto" maxlength="100" class="valida-required" value="[[=it.num_contratto || '']]">
                        </div>
                    </div>
                -->
                    <div class="field-line-text">
                        <em>I campi con <span class="obbligatorio">*</span> (asterisco) sono obbligatori</em>
                    </div>
                </div>
            </div>
            <div data-tab="immagine">
                <div class="window-content-inner">
                    {% set vars = {
                    'show_preview': true,
                    'show_alternativo': false,
                    'key': 'logo',
                    'url_upload': 'my/data/upload-image'
                    } %}
                    {% include 'my/template/blocks/img_edit.html.twig' with vars %}
                </div>
            </div>
            {% if _h.session.profile == 'super' %}
            <div data-tab="export">
                <div class="window-content-inner">
                    <div class="field-line">
                        <div class="field" data-tips="identificativo usato per l'esportazione dei cartelli wizard.">
                            <label>Id Export</label>
                            <input type="text" name="export_id" maxlength="100" value="[[=it.export_id || '']]">
                        </div>
                    </div>
                </div>
            </div>
            {%endif%}
        </div>
        <div class="window-bottombar">
            <a class="button button-close button-style action-layer-close-button">Annulla</a>
            <a class="button action-submit-form button-submit" data-action='{"url": "{{ _h.url('my/data/cliente/ex-edit') }}", "onComplete": {"type": "close-win", "update": "cliente"}}'><span>salva</span></a>
        </div>
    </form>
</div>