<div class="window-base">
	<div class="window-title">
	Clienti
	</div>
	<div class="window-toolbar">
		<div class="window-toolbar-button">
                    {% if _h.session.params.user.sola_lettura %}
                    <!--<em>Account abilitato in sola lettura.</em>-->
                    {%else%}
                    
			<!--<a class="button button-style action-template" data-alttext="crea nuovo" data-action='{"css": "layer-small-edit", "template": "cliente/edit"}'><img src="/assets/img/ico/ico-add.png"></a>-->
                        
			<a class="button button-style action-update" data-alttext="modifica dati" data-action='{"select": {"from": "#list_cliente", "check": 1}, "url": "cliente/load", "template": "cliente/edit", "css": "layer-small-edit"}'><img src="/assets/img/ico/ico-mod.png"></a>
                        {% if _h.session.params.user.profile >= 10 and _h.session.params.user.sola_lettura == '0'  %}
			<a class="button button-style action-delete" data-alttext="elimina" data-action='{"select": {"from": "#list_cliente", "check": 0}, "title": "Elimina", "url": "cliente/ex-delete"}'><img src="/assets/img/ico/ico-del.png"></a>
                        {%endif%}
			<span class="button-separator"></span>
			<a class="button button-style action-abilita" data-alttext="abilita" data-action='{"select": {"from": "#list_cliente", "check": 0}, "title":"Accesso", "url":"cliente/ex-abilita", "type": "cliente", "abilita": "1"}'><img src="/assets/img/ico/ico-check.png"></a>
			<a class="button button-style action-abilita" data-alttext="blocca" data-action='{"select": {"from": "#list_cliente", "check": 0}, "title":"Accesso", "url":"cliente/ex-abilita", "type": "cliente", "abilita": ""}'><img src="/assets/img/ico/ico-block.png"></a>
			<span class="button-separator"></span>
		{% endif %}
                        {% if _h.session.params.user.profile > 9 %}
			<a class="button button-style action-template-load-selected-id" data-alttext="account" data-action='{"select": {"from": "#list_cliente", "check": 1}, "url": "cliente/account/list", "css": "layer-big", "template": "cliente/account/index", "paramsIdName": "id_cliente", "paramsTemplate": true}'><img src="/assets/img/ico/ico-account.png"></a>
                        {%endif%}
			<a class="button button-style action-template-load-selected-id" data-alttext="cartello" data-action='{"select": {"from": "#list_cliente", "check": 1}, "url": "cliente/cartello/list", "css": "layer-big", "template": "cliente/cartello/index", "paramsIdName": "id_cliente", "paramsTemplate": true}'><img src="/assets/img/ico/ico-cartello.png"></a>			
			<a class="button button-style action-template-load-selected-id" data-alttext="punti vendita" data-action='{"select": {"from": "#list_cliente", "check": 1}, "url": "cliente/negozio/list", "css": "layer-mid", "template": "cliente/negozio/index", "paramsIdName": "id_cliente", "paramsTemplate": true}'><img src="/assets/img/ico/ico-relatore.png"></a>			
                        <a class="button button-style action-template-load-selected-id" data-alttext="concorrenti" data-action='{"select": {"from": "#list_cliente", "check": 1}, "url": "cliente/concorrente/list", "css": "layer-mid", "template": "cliente/concorrente/index", "paramsIdName": "id_cliente", "paramsTemplate": true}'><img src="/assets/img/ico/ico-user.png"></a>
                        <span class="button-separator"></span>
						{% if _h.session.params.user.profile > 9 %}
                        <a class="button button-style action-download" data-alttext="export elenco" data-action='{"url": "{{ _h.url('my/data/cliente/export') }}"}'><img src="/assets/img/ico/ico-download.png"></a>
						{%endif%}
                        {% if _h.session.params.user.profile >= 10 and _h.session.params.user.sola_lettura == '0' %}
                        <form>
                        <a class="button button-style action-submit-form" data-alttext="aggiorna elenco" data-action='{"url": "{{ _h.url('my/data/cliente/import') }}", "onComplete": {"update": "cliente"}}'><img src="/assets/img/ico/ico-repeat.png"></a>
                        </form>
                        {%endif%}
		</div>
		
	</div>
	<div class="window-content">
	<div id="list_cliente" class="action-load-data action-autoupdate table-wrapper" data-update-content="cliente" data-action='{"mergeTemplate": {"template": "list", "dataType": "list", "insertType": "prepend"}, "loadData": {"url": "cliente/list"}}'>
		<div data-merge-template="list">
		[[~it.list :item:index]]
			<table>
			<tr data-id="[[=item.id]]" data-uid="cliente_[[=item.id]]">
				<td class="td-abilitato-[[=item.abilitato]]"></td>
				<td class="cell-checkbox"><div class="td-simple"><span data-value="[[=item.id]]" class="checkbox"><input type="hidden" value="" name="id"></span></div></td>
                                <td class="details-cell"><div class="td-simple">
									<img src="/my/img/320x240/[[=item.logo || 'void' ]]" style="display:block; margin: auto; max-width: 80px; max-height: 60px;">
								</div></td>
				<td class="details-cell"><div class="td">[[=item.nome]]</div></td>
				<td class="details-cell"><div class="td-simple">[[=item.numero_cartelli]]</div></td>
				<td>
					<div class="td-simple"><a class="button button-style action-item" data-action='{"showIf": ["abilitato-[[=item.abilitato]]"],"options": "menu-context-cliente-list"}'><img src="/assets/img/ico/ico-action.png"></a></div>
				</td>
				<td><div class="td-simple"><a class="button button-style action-info-item item-info-button" data-action='{"type": "cliente"}'><img src="/assets/img/ico/ico-info.png"></a></div></td>
			</tr>
			</table>
		[[~]]
		</div>
		<div data-content="menu-context-cliente-list">
		{% if _h.session.params.user.sola_lettura == '0' %}
		<a class="button item-show-if show-if-abilitato-0 action-abilita" data-action='{"title":"Accesso", "url":"cliente/ex-abilita", "type": "cliente", "abilita": "1"}'>Abilita</a>
		<a class="button item-show-if show-if-abilitato-1 action-abilita" data-action='{"title":"Accesso", "url":"cliente/ex-abilita", "type": "cliente", "abilita": ""}'>Blocca</a>
		<a class="button action-update" data-action='{"url": "cliente/load", "template": "cliente/edit"}'>Modifica</a>
		<a class="button action-delete" data-action='{"title": "Elimina", "url": "cliente/ex-delete"}'>Elimina</a>
		{% endif %}
			{% if _h.session.params.user.profile > 9 %}
		<a class="button action-template-load-selected-id" data-action='{"url": "cliente/account/list", "css": "layer-big", "template": "cliente/account/index", "paramsIdName": "id_cliente", "paramsTemplate": true}'>Account</a>
			{%endif%}
		<a class="button action-template-load-selected-id" data-action='{"url": "cliente/cartello/list", "css": "layer-big", "template": "cliente/cartello/index", "paramsIdName": "id_cliente", "paramsTemplate": true}'>Cartelli</a>
			<a class="button action-template-load-selected-id" data-action='{"url": "cliente/negozio/list", "css": "layer-big", "template": "cliente/negozio/index", "paramsIdName": "id_cliente", "paramsTemplate": true}'>Punti Vendita</a>
		<a class="button action-info-item-all" data-action='{"type": "cliente"}'>Informazioni</a>
		</div>

	<table class="table-single-selection-shift table table-fix-header">
	<colgroup>
		<col class="col col-abilitato">
		<col class="col col-checkbox">
                <col class="col col-100">
		<col class="col">
		<col class="col col-75">
		<col class="col col-action">
		<col class="col col-action">
	</colgroup>
	<thead>
		<tr>
			<th></th>
			<th></th>
                        <th><div class="th">Logo</div></th>
			<th data-order="nome" data-order-type="asc"><div class="th">Nome</div></th>
			<th data-order="numero_cartelli"><div class="th">Num. Cart.</div></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody data-merge-content="list"></tbody>
	</table>
	</div>
	</div>
</div>