<div class="window-base window-base-bottombar window-base-tab tab">
    <div class="window-title">
        Concorrente
    </div>
    <form data-merge-content="item">
        [[? it.id ]]
        <input id="item-id" type="hidden" name="id" value="[[=it.id ]]">
        [[?]]
        <input type="hidden" name="id_cliente" value="%id_cliente%">

        <div class="window-content-header">
            <div data-tab-rif="generale">Generale</div>
            <div data-tab-rif="logo">Logo</div>
            <div data-tab-rif="rivali">Punti vendita rivali</div>
            <div data-tab-rif="indirizzo">Indirizzo</div>
            <div data-tab-rif="posizione">Posizione</div>
        </div>

        <div class="window-content">				
            <div data-tab="generale" scale-window='{"width":"550", "height":"500"}'>
                <div class="window-content-inner">

                    <div class="field-line">
                        <div class="field" data-tips="nome del rivale / concorrente">
                            <label>Nome<span>*</span></label>
                            <input type="text" name="nome" class="valida-required" value="[[=it.nome || '']]">
                        </div>
                    </div>

                    <div class="field-line field-line-textarea">
                        <div class="field">
                            <label>Descrizione</label>
                            <textarea name="descrizione">[[=it.descrizione || '']]</textarea>
                        </div>
                    </div>
                    <div class="field-line-text">
                        <em>I campi con <span class="obbligatorio">*</span> (asterisco) sono obbligatori</em>
                    </div>
                </div>		
            </div>	
            <div data-tab="logo">
                <div class="window-content-inner" scale-window='{"width":"550", "height":"500"}'>
                    {% set vars = {
                    'show_preview': true,
                    'show_alternativo': false,
                    'key': 'logo',
                    'url_upload': 'my/data/upload-image'
                    } %}
                    {% include 'my/template/blocks/img_edit.html.twig' with vars %}
                </div>
            </div>
            <div data-tab="indirizzo" scale-window='{"width":"550", "height":"500"}'>
                <div class="window-content-inner">
                    {% include 'my/template/blocks/address_edit.html.twig' %}
                    <div class="field-line-text">
                        <em>I campi con <span class="obbligatorio">*</span> (asterisco) sono obbligatori</em>
                    </div>
                </div>
            </div>
            <div data-tab="posizione" scale-window='{"width":"1200"}'>
                <div class="window-content-inner">
                    {% include 'my/template/blocks/map_edit.html.twig' %} 
                </div>
            </div>
            <div data-tab="rivali" scale-window='{"width":"550", "height":"500"}'>
                <div class="window-content-inner">
                    <div checkbox-value="[[=it.list_id_negozio || '']]">
                        <div class="field-line-text">
                            Punti vendita concorrenti:
                        </div>
                        {% for item in list_negozio %}
                        <div class="field-line field-line-checkbox">
                            <div class="hrow">
                                <span data-value="{{ item.id }}" class="checkbox"><input type="hidden" value="" name="id_negozio[]"></span>
                                <label>{{ item.nome }}</label>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="window-bottombar">
            <a class="button button-close button-style action-layer-close-button">Annulla</a>
            <a class="button action-submit-position-alert button-submit"
               data-action='{"url": "{{ _h.url('my/data/cliente/concorrente/ex-edit') }}", "onComplete": {"type": "close-win", "update": "concorrente"}}'><span>salva</span></a>
        </div>
    </form>
</div>