<div class="window-base">
	<div class="window-title">
	Concorrenti
	</div>
	<div class="window-toolbar">
		<div class="window-toolbar-button">
                    {% if _h.session.params.user.sola_lettura %}
                    <!--<em>Account abilitato in sola lettura.</em>-->
                    {%else%}
			<a class="button button-style action-template" data-alttext="crea nuovo" data-action='{"css": "layer-small-edit", "template": "cliente/concorrente/edit", "paramsLoad": {"id_cliente": %id_cliente%}, "paramsTemplate":{"id_cliente": %id_cliente%}}'><img src="/assets/img/ico/ico-add.png"></a>
			<a class="button button-style action-update" data-alttext="modifica dati" data-action='{"select": {"from": "#list_concorrente", "check": 1}, "url": "cliente/concorrente/load", "template": "cliente/concorrente/edit", "css": "layer-small-edit", "paramsLoad": {"id_cliente": %id_cliente%}, "paramsTemplate":{"id_cliente": %id_cliente%}}'><img src="/assets/img/ico/ico-mod.png"></a>
			<a class="button button-style action-delete" data-alttext="elimina" data-action='{"select": {"from": "#list_concorrente", "check": 0}, "title": "Elimina", "url": "cliente/concorrente/ex-delete"}'><img src="/assets/img/ico/ico-del.png"></a>
		{% endif %}
                <span class="button-separator"></span>
                        <a class="button button-style action-download" data-alttext="export elenco" data-action='{"url": "{{ _h.url('my/data/cliente/concorrente/export') }}", "params":{"id_cliente":%id_cliente%}}'><img src="/assets/img/ico/ico-download.png"></a>
		</div>
		
	</div>
	<div class="window-content">
	<div id="list_concorrente" class="action-load-data action-autoupdate table-wrapper" data-update-content="concorrente" data-action='{"mergeTemplate": {"template": "list", "dataType": "list", "insertType": "prepend"}, "loadData": {"url": "concorrente/list"}}'>
		<div data-merge-template="list">
		[[~it.list :item:index]]
			<table>
			<tr data-id="[[=item.id]]" data-uid="concorrente_[[=item.id]]">
				<td class="cell-checkbox"><div class="td-simple"><span data-value="[[=item.id]]" class="checkbox"><input type="hidden" value="" name="id"></span></div></td>
                                <td class="details-cell"><div class="td-simple"><img src="/my/img/320x240/[[=item.logo || 'void' ]]" style="max-width: 80px; max-height: 60px;"></div></td>
				<td class="details-cell"><div class="td">[[=item.nome]]</div></td>
                                <td class="details-cell"><div class="td">[[=item.descrizione]]</div></td>
                                <td>
					<div class="td-simple"><a class="button button-style action-item" data-action='{"options": "menu-context-concorrente-list"}'><img src="/assets/img/ico/ico-action.png"></a></div>
				</td>
				<td><div class="td-simple"><a class="button button-style action-info-item item-info-button" data-action='{"type": "concorrente"}'><img src="/assets/img/ico/ico-info.png"></a></div></td>
			</tr>
			</table>
		[[~]]
		</div>
		<div data-content="menu-context-concorrente-list">
		{% if _h.session.params.user.sola_lettura == '0' %}
		<a class="button action-update" data-action='{"url": "cliente/concorrente/load", "template": "cliente/concorrente/edit", "css": "layer-mini-edit"}'>Modifica</a>
		<a class="button action-delete" data-action='{"title": "Elimina", "url": "cliente/concorrente/ex-delete"}'>Elimina</a>
		{% endif %}
		<a class="button action-info-item-all" data-action='{"type": "concorrente"}'>Informazioni</a>
		</div>

	<table class="table-single-selection-shift table table-fix-header">
	<colgroup>
		<col class="col col-checkbox">
                <col class="col col-100">
                <col class="col col-100">
		<col class="col">
		<col class="col col-action">
		<col class="col col-action">
	</colgroup>
	<thead>
		<tr>
			<th></th>
                        <th><div class="th">Logo</div></th>
			<th data-order="nome" data-order-type="asc"><div class="th">Nome</div></th>
			<th data-order="descrizione"><div class="th">Descrizione</div></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody data-merge-content="list"></tbody>
	</table>
	</div>
	</div>
</div>