<div class="window-base window-base-bottombar">
	<div class="window-title">
	Dettaglio
	</div>
	<div data-merge-content="item">
		<input type="hidden" name="id" value="[[=it.id ]]">
		<div class="window-content">
			<div class="window-content-inner">
				<table class="table">
				<colgroup>
					<col class="col col-details-label">
					<col class="col col-details-value">
				</colgroup>
				<tbody>
				<tr>
					<td><div class="td">Abilitato</div></td>
					<td><div class="td">
				[[? it.abilitato === 1 ]] 
					SI
				[[??]]
					NO
				[[?]]
					</div></td>
				</tr>
                                <tr>
					<td><div class="td">Sola Lettura</div></td>
					<td><div class="td">
				[[? it.sola_lettura === 1 ]] 
					SI
				[[??]]
					NO
				[[?]]
					</div></td>
				</tr>
                                <tr>
					<td><div class="td">Profilo</div></td>
					<td><div class="td">
					[[? it.profile == 10]]
					Amministratore
					[[?? it.profile == 8]]
					Operatore Top
					[[?? it.profile == 6]]
					Operatore Zona
					[[?? it.profile == 2]]
					Operatore Cliente
					[[?? it.profile == 1]]
					Operatore
					[[?]]
					</div></td>
				</tr>
				<tr>
					<td><div class="td">E-mail</div></td>
					<td><div class="td">[[=it.e_mail ]]</div></td>
				</tr>
				<tr>
					<td><div class="td">Nome</div></td>
					<td><div class="td">[[=it.nome ]]</div></td>
				</tr>
				<tr>
					<td><div class="td">Cognome</div></td>
					<td><div class="td">[[=it.cognome ]]</div></td>
				</tr>
				<tr>
					<td><div class="td">Creato il</div></td>
					<td><div class="td">[[=it.data_inserimento ]]</div></td>
				</tr>
				<tr>
					<td><div class="td">Ultimo accesso</div></td>
					<td><div class="td">[[=it.ultimo_accesso ]]</div></td>
				</tr>				
				</tbody>				
				</table>		
			</div>		
		</div>
		<div class="window-bottombar">
			{% if not _h.session.params.user.sola_lettura %}
			<a class="button button-close button-style action-update action-layer-close-button"
			   data-action='{"paramsLoad":{"id_cliente":[[=it.id_cliente]]},"id": [[=it.id ]], "url": "account/load", "template": "cliente/account/edit"}'>Modifica</a>
			{% endif %}
		</div>
	</div>
</div>