<div class="window-base window-base-bottombar window-base-tab tab">
	<div class="window-title">
	Account
	</div>
	<form data-merge-content="item">
		[[? it.id ]]
		<input type="hidden" name="id" value="[[=it.id ]]">
		[[??]]
		<input type="hidden" name="id_cliente_profile" value="%id_cliente%">
		[[?]]
		
                <input type="hidden" name="id_cliente" value="{{id_cliente}}">
                
		<div class="window-content-header">
			<div data-tab-rif="account">Account</div>
			<div data-tab-rif="negozi">Negozi che può vedere</div>
		</div>
		
		<div class="window-content">
			<div data-tab="account">
				<div class="window-content-inner">
					[[ var check = ' checkbox-checked'; ]]
					[[ var check_value = '1'; ]]
					[[? it.id ]]
						[[? it.abilitato === 1 ]] 
						
						[[??]]
							[[ check = ''; ]]
							[[ check_value = ''; ]]
						[[?]]
					[[?]]
					<div class="field-line field-line-checkbox">
						<div class="hrow">
							<span data-value="1" class="checkbox[[= check]]"><input type="hidden" value="[[= check_value]]" name="abilitato"></span>
							<label>Account abilitato</label>
						</div>
					</div>
					<div class="field-line">
						<div class="field" data-tips="inserire un indirizzo di posta elettronica valido, verrà utilizzato come username di accesso">
							<label>E-mail<span>*</span></label>
							<input type="text" name="e_mail" maxlength="100" class="valida-required valida-email" value="[[=it.e_mail || '']]">
						</div>
					</div>
					[[? it.id ]]
					[[??]]
					<div class="field-line-multi field-line-50-50">
						<div class="field-line">
							<div class="field" data-tips="la password deve essere lunga almeno 8 caratteri, contenere almeno una lettera maiuscola, una lettera minuscolae un numero">
								<label>Password<span>*</span></label>
								<input type="password" name="password" maxlength="50" class="valida-required valida-check-password valida-password">
							</div>
						</div>
						<div class="field-line">
							<div class="field" data-tips="ripetere la password inserita">
								<label>Conferma password<span>*</span></label>
								<input type="password" name="conferma_password" maxlength="50" class="valida-required valida-confermapassword">
							</div>
						</div>
					</div>
					[[?]]

					<div class="field-line-multi field-line-50-50">
						<div class="field-line">
							<div class="field" data-tips="inserire il nome dell'utente">
								<label>Nome<span>*</span></label>
								<input type="text" name="nome" maxlength="100" class="valida-required" value="[[=it.nome || '']]">
							</div>
						</div>
						<div class="field-line">
							<div class="field" data-tips="cognome dell'utente">
								<label>Cognome<span>*</span></label>
								<input type="text" name="cognome" maxlength="100" class="valida-required" value="[[=it.cognome || '']]">
							</div>
						</div>
					</div>
					<div class="field-line">
						<div class="field" data-tips="tipo di accesso abilitato all'utente">
							<label>Profilo utente<span>*</span></label>
							<select name="profile" class="valida-required update-with-value" data-action='{"updateWithValue":{"content": "profile"}}' selected-value="[[=it.profile || '']]">
								<option></option>
								<option value="8">Operatore Top</option>
								<option value="6">Operatore Zona</option>
							</select>
						</div>
					</div>
					
					<div class="field-line-text">
						<em>I campi con <span class="obbligatorio">*</span> (asterisco) sono obbligatori</em>
					</div>
				</div>
			</div>	

			<div data-content-update-with-value="profile">
			<div data-tab="negozi" class="content-update-with-value">
				<div class="window-content-inner">
					<div data-update-with-value="void">Selezionare prima il profilo utente a livello di account</div>
					<div data-update-with-value="8">Il profilo selezionato ha accesso a tutti i punti vendita per questo cliente.</div>
					<div data-update-with-value="6" checkbox-value="[[=it.list_id_negozio || '']]">
						<div class="field-line-text">
							Punti vendita abilitati:
						</div>
						{% for item in list_negozio %}
							<div class="field-line field-line-checkbox">
								<div class="hrow">
									<span data-value="{{ item.id }}" class="checkbox"><input type="hidden" value="" name="id_negozio[]"></span>
									<label>{{ item.nome }}</label>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
			</div>
		</div>
		<div class="window-bottombar">
			<a class="button button-close button-style action-layer-close-button">Annulla</a>
			[[? it.id ]]
			<a class="button action-submit-form button-submit" data-action='{"url": "{{ _h.url('my/data/account/ex-edit-update') }}", "onComplete": {"type": "close-win", "update": "account"}}'><span>salva</span></a>
			[[??]]
			<a class="button action-submit-form button-submit" data-action='{"url": "{{ _h.url('my/data/account/ex-edit-new') }}", "onComplete": {"type": "close-win", "update": "account"}}'><span>salva</span></a>
			[[?]]
		</div>
	</form>
</div>