<div class="window-base">
	<div class="window-title">
	Account cliente
	</div>
	<div class="window-toolbar">
            {% if _h.session.params.user.sola_lettura %}
            <!--<em>Account abilitato in sola lettura.</em>-->
            {%else%}
		<div class="window-toolbar-button">
			<a class="button button-style action-template" data-alttext="crea nuovo" data-action='{"template": "cliente/account/edit", "paramsLoad": {"id_cliente": %id_cliente%}, "paramsTemplate":{"id_cliente": %id_cliente%}}'><img src="/assets/img/ico/ico-add.png"></a>
			<a class="button button-style action-update" data-alttext="modifica dati" data-action='{"select": {"from": "#list_account", "check": 1}, "url": "account/load", "paramsLoad": {"id_cliente": %id_cliente%}, "template": "cliente/account/edit"}'><img src="/assets/img/ico/ico-mod.png"></a>
			<a class="button button-style action-delete" data-alttext="elimina" data-action='{"select": {"from": "#list_account", "check": 0}, "title": "Elimina", "url": "account/ex-delete"}'><img src="/assets/img/ico/ico-del.png"></a>
			<span class="button-separator"></span>
			<a class="button button-style action-update" data-alttext="modifica password" data-action='{"select": {"from": "#list_account", "check": 1}, "url": "account/load", "template": "account/edit_password", "css": "layer-mini-edit"}'><img src="/assets/img/ico/ico-chiave.png"></a>
			<span class="button-separator"></span>
			<a class="button button-style action-abilita" data-alttext="abilita accesso" data-action='{"select": {"from": "#list_account", "check": 0}, "title":"Accesso", "url":"account/ex-abilita", "type": "account", "abilita": "1"}'><img src="/assets/img/ico/ico-check.png"></a>
			<a class="button button-style action-abilita" data-alttext="blocca accesso" data-action='{"select": {"from": "#list_account", "check": 0}, "title":"Accesso", "url":"account/ex-abilita", "type": "account", "abilita": ""}'><img src="/assets/img/ico/ico-block.png"></a>
		</div>
		{%endif%}
		<div class="window-toolbar-button-filter">
			<a class="button button-style action-attiva-filtro" data-alttext="filtra"><img src="/assets/img/ico/ico-filter.png"></a>
			<a class="button button-style action-reset-filtro button-reset-filtro" data-alttext="annulla filtro" data-action='{"load": "#list_account"}'><img src="/assets/img/ico/ico-filter-remove.png"></a>
		</div>
	</div>
	<div class="window-content">
	<div id="list_account" class="action-load-data action-autoupdate table-wrapper" data-update-content="account" data-load-params='{"id_cliente": %id_cliente%}' data-action='{"mergeTemplate": {"template": "list", "dataType": "list", "insertType": "prepend"}, "loadData": {"url": "cliente/account/list"}}'>
		<div data-merge-template="list">
		[[~it.list :item:index]]
			<table>
			[[? item.eliminato]]
				[[ var background = '#efefef' ]]
			[[??]]
				[[ var background = '' ]]
			[[?]]
			
			<tr data-id="[[=item.id]]" data-id-utente="[[=item.id]]" data-uid="utente_[[=item.id]]" data-background="[[= background]]" class="action-details-cell" data-action='{"action-update": {"url": "account/load", "template": "cliente/account/edit"}, "action-details": {"url": "account/load", "template": "cliente/account/details"}}'>
				<td class="td-abilitato-[[=item.abilitato]]"></td>
				<td class="cell-checkbox"><div class="td-simple"><span data-value="[[=item.id]]" class="checkbox"><input type="hidden" value="" name="id"></span></div></td>
				<td class="details-cell"><div class="td">
				[[? item.profile == 6]]
				Operatore Zona
				[[?? item.profile == 8]]
				Operatore Cliente
				[[?? item.profile == 2]]
				Operatore
				[[?? item.profile == 1]]
				Operatore
				[[?]]
				</div></td>
				<td class="details-cell"><div class="td">[[=item.e_mail]]</div></td>
				<td class="details-cell"><div class="td">[[=item.nome]]</div></td>
				<td class="details-cell"><div class="td">[[=item.cognome]]</div></td>
				<td class="details-cell"><div class="td-simple">[[=item.data_inserimento]]</div></td>
				<td class="details-cell"><div class="td-simple">[[=item.ultimo_accesso]]</div></td>
				<td>
					<div class="td-simple"><a class="button button-style action-item" data-action='{"showIf": ["abilitato-[[=item.abilitato]]", "eliminato-[[=item.eliminato]]"], "options": "menu-context-user-list"}'><img src="/assets/img/ico/ico-action.png"></a></div>
				</td>
				<td><div class="td-simple"><a class="button button-style action-info-item item-info-button" data-action='{"type": "utente"}'><img src="/assets/img/ico/ico-info.png"></a></div></td>
			</tr>
			</table>
		[[~]]
		</div>
		<div data-content="menu-context-user-list">
                    {% if _h.session.params.user.sola_lettura == '0'%}
		<a class="button item-show-if show-if-abilitato-0 action-abilita" data-action='{"title":"Accesso", "url":"account/ex-abilita", "type": "account", "abilita": "1"}'>Abilita</a>
		<a class="button item-show-if show-if-abilitato-1 action-abilita" data-action='{"title":"Accesso", "url":"account/ex-abilita", "type": "account", "abilita": ""}'>Blocca</a>
		<a class="button action-update" data-action='{"url": "account/load", "template": "cliente/account/edit"}'>Modifica</a>
		<a class="button item-show-if show-if-eliminato-0 action-delete" data-action='{"title": "Elimina", "url": "account/ex-delete"}'>Elimina</a>
                {%endif%}
		<a class="button action-details" data-action='{"url": "account/load", "template": "cliente/account/details"}'>Dettaglio</a>
		<a class="button action-info-item-all" data-action='{"type": "utente"}'>Informazioni</a>
		</div>

	<table class="table-single-selection-shift table table-fix-header">
	<colgroup>
		<col class="col col-abilitato">
		<col class="col col-checkbox">
		<col class="col col-profilo">
		<col class="col">
		<col class="col col-nomeaccount">
		<col class="col col-cognome">
		<col class="col col-datetime">
		<col class="col col-datetime">
		<col class="col col-action">
		<col class="col col-action">
	</colgroup>
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th data-order="profile"><div class="th">Profilo</div></th>
			<th data-order="e_mail" data-order-type="asc"><div class="th">E-mail</div></th>
			<th data-order="nome"><div class="th">Nome</div></th>
			<th data-order="cognome"><div class="th">Cognome</div></th>
			<th data-order="data_inserimento"><div class="th">Data creazione</div></th>
			<th data-order="ultimo_accesso"><div class="th">Ultimo accesso</div></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody data-merge-content="list"></tbody>
	</table>
	</div>
	</div>
</div>
<div class="window-filter">
	<form>
	<div class="window-filter-toolbar">
		<span>Filtra account</span>
		<a class="button button-style action-attiva-filtro" data-alttext="chiudi"><img src="/assets/img/ico/ico-close.png"></a>
	</div>
	<div class="window-filter-content">
		<div class="field-group">
			<div class="field-group-title">Cerca per nome, cognome, e-mail</div>
			<div class="field-line">
				<div class="field">
					<label>Cerca</label>
					<input type="text" name="find">
				</div>
			</div>
		</div>
		<div class="field-group checkbox-group field-line-small">
			<div class="field-group-title">Accesso</div>
			<div class="field-line field-line-checkbox">
				<div class="hrow">
					<span data-value="1" class="checkbox checkbox-checked"><input type="hidden" value="1" name="tutti" data-default-value="1"></span>
					<label>Tutti</label>
				</div>
			</div>
			<div class="field-line field-line-checkbox">
				<div class="hrow">
					<span data-value="1" class="checkbox"><input type="hidden" value="" name="abilitati"></span>
					<label>Abilitati</label>
				</div>
			</div>
			<div class="field-line field-line-checkbox">
				<div class="hrow">
					<span data-value="1" class="checkbox"><input type="hidden" value="" name="non_abilitati"></span>
					<label>Non abilitati</label>
				</div>
			</div>
		</div>
		<div class="field-group">
			<div class="field-group-title">Ultimo accesso</div>
			<div class="field-line-multi field-line-50-50">
				<div class="field-line">
					<div class="field">
						<label>Dal</label>
						<input type="text" name="ultimo_accesso_dal" maxlength="10" class="valida-datasimple input-datepicker">
					</div>
				</div>
				<div class="field-line">
					<div class="field">
						<label>Al</label>
						<input type="text" name="ultimo_accesso_al" maxlength="10" class="valida-datasimple input-datepicker">
					</div>
				</div>
			</div>		
		</div>
		<div class="field-group">
			<div class="field-group-title">Data inserimento</div>
			<div class="field-line-multi field-line-50-50">
				<div class="field-line">
					<div class="field">
						<label>Dal</label>
						<input type="text" name="data_inserimento_dal" maxlength="10" class="valida-datasimple input-datepicker">
					</div>
				</div>
				<div class="field-line">
					<div class="field">
						<label>Al</label>
						<input type="text" name="data_inserimento_al" maxlength="10" class="valida-datasimple input-datepicker">
					</div>
				</div>
			</div>		
		</div>			
	</div>
	<div class="window-filter-bottombar">
		<a class="button action-reset-filtro button-close button-style" data-action='{"load": "#list_account"}'>Azzera</a>
		<a class="button action-filtro-load-data button-action" data-action='{"load": "#list_account"}'>Filtra</a>
	</div>
	</form>
</div>