<div class="window-base window-base-bottombar window-base-tab tab">
    <div class="window-title">
        Dettaglio
    </div>
    <div data-merge-content="item">
        <input type="hidden" name="id" value="[[=it.id ]]">

        <div class="window-content-header">
            <div data-tab-rif="evento">Cartello</div>
            <div data-tab-rif="immagini">Foto</div>
            <div data-tab-rif="indirizzo">Indirizzo</div>
        </div>

        <div class="window-content">
            <div data-tab="evento">
                <div class="window-content-inner">
                    <table class="table">
                        <colgroup>
                            <col class="col col-details-label">
                            <col class="col col-details-value">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td><div class="td">Num. Contratto</div></td>
                                <td><div class="td">[[=it.num_contratto || '' ]]</div></td>
                            </tr>
                            <tr>
                                <td><div class="td">Cliente</div></td>
                                <td><div class="td">[[=it.cliente_nome ]]</div></td>
                            </tr>
                            <tr>
                                <td><div class="td">Negozio</div></td>
                                <td><div class="td">[[=it.negozio_nome ]]</div></td>
                            </tr>
                            <tr>
                                <td><div class="td">Tipo cartello</div></td>
                                <td><div class="td">[[=it.tipo_cartello_nome ]]</div></td>
                            </tr>
                            <tr>
                                <td><div class="td">Attivo</div></td>
                                <td><div class="td">
                                        [[? it.abilitato === 1 ]] 
                                        SI
                                        [[??]]
                                        NO
                                        [[?]]
                                    </div></td>
                            </tr>
                            <tr>
                                <td><div class="td">Codice</div></td>
                                <td><div class="td">[[=it.codice ]]</div></td>
                            </tr>
                            <tr>
                                <td><div class="td">Data dal</div></td>
                                <td><div class="td">[[=it.data_dal ]]</div></td>
                            </tr>
                            <tr>
                                <td><div class="td">Data al</div></td>
                                <td><div class="td">[[=it.data_al || '' ]]</div></td>
                            </tr>	
                        </tbody>				
                    </table>		
                </div>		
            </div>
            <div data-tab="immagini">
                <div class="window-content-inner">
                    <table class="table">
                        <colgroup>
                            <col class="col col-details-label">
                            <col class="col col-details-value">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td><div class="td">Foto</div></td>
                                <td><div class="td"><img src="/my/img/320x240/[[=it.foto ]]" style="max-width: 320px; max-height: 240px;"></div></td>
                            </tr>
                        </tbody>				
                    </table>					
                </div>
            </div>
            <div data-tab="indirizzo">
                <div class="window-content-inner">
                    <table class="table">
                        <colgroup>
                            <col class="col col-details-label">
                            <col class="col col-details-value">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td><div class="td">Via</div></td>
                                <td><div class="td">[[=it.recapito_via ]]</div></td>
                            </tr>
                            <tr>
                                <td><div class="td">Num. Civico</div></td>
                                <td><div class="td">[[=it.recapito_num_civico ]]</div></td>
                            </tr>
                            <tr>
                                <td><div class="td">CAP</div></td>
                                <td><div class="td">[[=it.recapito_cap ]]</div></td>
                            </tr>
                            <tr>
                                <td><div class="td">Comune</div></td>
                                <td><div class="td">[[=it.recapito_comune ]]</div></td>
                            </tr>
                            <tr>
                                <td><div class="td">Provincia</div></td>
                                <td><div class="td">[[=it.provincia_nome ]]</div></td>
                            </tr>
                            <tr>
                                <td><div class="td">Ubicazione</div></td>
                                <td><div class="td">[[=it.recapito_ubicazione ]]</div></td>
                            </tr>
                        </tbody>				
                    </table>		
                </div>		
            </div>
        </div>
        <div class="window-bottombar">
            {% if not _h.session.params.user.sola_lettura %}
            <a class="button button-close button-style action-update action-layer-close-button" data-action='{"id": [[=it.id ]], "url": "cliente/cartello/load", "template": "cliente/cartello/edit", "paramsLoad":{"id_cliente": [[=it.id_cliente]]}, "paramsTemplate":{"id_cliente": [[=it.id_cliente]]}}'>Modifica</a>
            {% endif %}
        </div>
    </div>
</div>