<div class="window-base window-base-bottombar window-base-tab tab">
    <div class="window-title">
        Cartello
    </div>
    <form data-merge-content="item">
        [[? it.id ]]
        <input id="item-id" type="hidden" name="id" value="[[=it.id ]]">
        [[??]]
        <input type="hidden" name="id_cliente" value="%id_cliente%">
        [[?]]

        <div class="window-content-header">
            <div data-tab-rif="cartello">Cartello</div>
            <div data-tab-rif="indirizzo">Indirizzo</div>
            <div data-tab-rif="posizione">Posizione</div>
        </div>

        <div class="window-content">				
            <div data-tab="cartello" scale-window='{"width":"550", "height":"500"}'>
                <div class="window-content-inner">
                    [[ var enabled_check = ' checkbox-checked'; ]]
                    [[ var enabled_value = '1'; ]]
                    [[ var disable_check = ' checkbox-checked'; ]]
                    [[ var disable_value = '1'; ]]
                    [[ var show_date = ' visible'; ]]
                    [[ var date_value = it.data_disinstallazione; ]]

                    [[? it.id ]]
                        [[? it.disinstallato === 1 ]]

                        [[??]]
                            [[ disable_check = ''; ]]
                            [[ disable_value = ''; ]]
                            [[ show_date = ' not-visible'; ]]
                            [[ date_value = ''; ]]

                            [[? it.abilitato === 1 ]]

                            [[??]]
                                [[ enabled_check = ''; ]]
                                [[ enabled_value = ''; ]]
                            [[?]]
                        [[?]]
                    [[?]]
                    <div class="field-line field-line-checkbox">
                        <div class="hrow">
                            <span data-value="1" class="checkbox [[= enabled_check]]" id="check_abilitato"><input type="hidden" value="[[= enabled_value]]" name="abilitato"></span>
                            <label>Attivo</label>
                        </div>
                    </div>
                    <div class="field-line-multi field-line-50-50">
                        <div class="field-line">
                            <span data-value="1" class="checkbox[[= disable_check]]" id="check_disinstallato"><input type="hidden" value="[[= disable_value]]" name="disinstallato"></span>
                            <label>Disinstallato</label>
                        </div>
                        <div class="field-line [[=show_date]]" id="disinstallato-container">
                            <div class="field" data-tips="data disinstallazione">
                                <label>Disinstallato in data</label>
                                <input type="text" name="data_disinstallazione" maxlength="10" class="valida-datasimple input-datepicker" value="[[=date_value]]">
                            </div>
                        </div>
                    </div>
                    <div class="field-line">
                        <div class="field" data-tips="numero contratto associato al cartello">
                            <label>Numero Contratto</label>
                            <input type="text" name="num_contratto" maxlength="100" class="" value="[[=it.num_contratto || '']]">
                        </div>
                    </div>
                    <div class="field-line">
                        <div class="field" data-tips="punto vendita relativo al cartello">
                            <label>Punto vendita<span>*</span></label>
                            <select name="id_negozio" class="valida-required" selected-value="[[=it.id_negozio || '']]">
                                <option></option>
                                {% for item in list_negozio %}
                                <option value="{{ item.id }}">{{ item.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="field-line-multi field-line-50-50">
                        <div class="field-line">
                            <div class="field" data-tips="tipologia cartello">
                                <label>Tipo cartello<span>*</span></label>
                                <select name="id_tipo_cartello" class="valida-required" selected-value="[[=it.id_tipo_cartello || '']]">
                                    <option></option>
                                    {% for item in list_tipo_cartello %}
                                    <option value="{{ item.id }}">{{ item.nome }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="field-line">
                            <div class="field" data-tips="codice cartello">
                                <label>Codice<span>*</span></label>
                                <input type="text" name="codice" maxlength="10" class="valida-required valida-digitalphanum" value="[[=it.codice || '']]">
                            </div>
                        </div>
                    </div>
                    <div class="field-line-multi field-line-50-50">
                        <div class="field-line">
                            <div class="field" data-tips="chi fornisce il cartello">
                                <label>Fornitore<span>*</span></label>
                                <select name="id_fornitore" class="valida-required" selected-value="[[=it.id_fornitore || '']]">
                                    <option></option>
                                    {% for item in list_fornitore %}
                                    <option value="{{ item.id }}">{{ item.nome }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field-line-multi field-line-33-33-33">
                        <div class="field-line">
                            <div class="field" data-tips="data inizio">
                                <label>Data dal</label>
                                <input type="text" name="data_dal" maxlength="10" class=" valida-datasimple input-datepicker" value="[[=it.data_dal || '']]">
                            </div>
                        </div>
                        <div class="field-line">
                            <div class="field" data-tips="data fine">
                                <label>Data al</label>
                                <input type="text" name="data_al" maxlength="10" class="valida-datasimple input-datepicker" value="[[=it.data_al || '']]">
                            </div>
                        </div>
                    </div>
                    <div class="field-line field-line-textarea">
                        <div class="field">
                            <label>Descrizione</label>
                            <textarea name="descrizione">[[=it.descrizione || '']]</textarea>
                        </div>
                    </div>
                    <div class="field-line-text">
                        <em>I campi con <span class="obbligatorio">*</span> (asterisco) sono obbligatori</em>
                    </div>
                </div>		
            </div>	
            <div data-tab="indirizzo" scale-window='{"width":"550", "height":"500"}'>
                <div class="window-content-inner">
                    {% include 'my/template/blocks/address_edit.html.twig' %}
                    
                    <div class="field-line field-line-textarea">
                        <div class="field" data-tips="Informazioni sulla posizione stradale. Importante ai fini della fatturazione.">
                            <label>Ubicazione stradale<span>*</span></label>
                            <textarea class="valida-required" name="recapito_ubicazione">[[=it.recapito_ubicazione || '']]</textarea>
                        </div>
                    </div>
                    <div class="field-line-text">
                        <em>I campi con <span class="obbligatorio">*</span> (asterisco) sono obbligatori</em>
                    </div>
                </div>
            </div>
            <div data-tab="posizione" scale-window='{"width":"1200"}'>
                <div class="window-content-inner">
                    {% include 'my/template/blocks/map_edit.html.twig' %}
                </div>
            </div>
        </div>
        <div class="window-bottombar">
            <a class="button button-close button-style action-layer-close-button">Annulla</a>
            <a class="button action-submit-position-alert button-submit" data-action='{"url": "{{ _h.url('my/data/cliente/cartello/ex-edit') }}", "onComplete": {"type": "close-win", "update": "cartello"}}'><span>salva</span></a>
        </div>
    </form>
</div>
<script>
    $('#check_abilitato').on('checkbox-change',function () {
        if ($('#check_abilitato').hasClass('checkbox-checked')) {
            $('#check_disinstallato').removeClass('checkbox-checked');
            $('#disinstallato-container').removeClass('visible');
            $('#disinstallato-container').addClass('not-visible');
        }
    });

    $('#check_disinstallato').on('checkbox-change',function () {
        if ($('#check_disinstallato').hasClass('checkbox-checked')) {
            $('#check_abilitato').addClass('checkbox-checked');
            $('#disinstallato-container').removeClass('not-visible');
            $('#disinstallato-container').addClass('visible');
        }
        else {
            $('#disinstallato-container input').val('');
            $('#disinstallato-container').removeClass('visible');
            $('#disinstallato-container').addClass('not-visible');
        }
    });
</script>