<div class="window-base">
	<div class="window-title">
		{% if _all %}
		Cartelli cliente
		{% else %}
		Cartelli
		{% endif %}
	</div>
	<div class="window-toolbar">
		<div class="window-toolbar-button">
			{% if not(_all) %}
			{% if _h.session.params.user.sola_lettura == '0' %}
			<a class="button button-style action-template" data-alttext="crea nuovo"
			   data-action='{"css": "layer-small-edit", "template": "cliente/cartello/edit", "paramsLoad":{"id_cliente": %id_cliente%}, "paramsTemplate":{"id_cliente": %id_cliente%}}'><img
					src="/assets/img/ico/ico-add.png"></a>
			<a class="button button-style action-update" data-alttext="modifica dati"
			   data-action='{"css": "layer-small-edit", "select": {"from": "#list_cartello", "check": 1}, "paramsLoad":{"id_cliente": %id_cliente%}, "url": "cliente/cartello/load", "template": "cliente/cartello/edit"}'><img
					src="/assets/img/ico/ico-mod.png"></a>
			<a class="button button-style action-delete" data-alttext="elimina"
			   data-action='{"select": {"from": "#list_cartello", "check": 0}, "title": "Elimina", "url": "cliente/cartello/ex-delete"}'><img
					src="/assets/img/ico/ico-del.png"></a>
			<span class="button-separator"></span>
			<a class="button button-style action-abilita" data-alttext="abilita"
			   data-action='{"select": {"from": "#list_cartello", "check": 0}, "title":"Visibilità", "url":"cliente/cartello/ex-abilita", "type": "cartello", "abilita": "1"}'><img
					src="/assets/img/ico/ico-check.png"></a>
			<a class="button button-style action-abilita" data-alttext="blocca"
			   data-action='{"select": {"from": "#list_cartello", "check": 0}, "title":"Visibilità", "url":"cliente/cartello/ex-abilita", "type": "cartello", "abilita": ""}'><img
					src="/assets/img/ico/ico-block.png"></a>
			<span class="button-separator"></span>
			{%endif%}
			{% endif %}
			{% if _h.session.params.user.sola_lettura == '0' %}
			<a class="button button-style action-upload-file" data-alttext="foto principale"
			   data-action='{"select": {"from": "#list_cartello", "check": 1}, "fileType": ["jpg", "jpeg", "png", "gif"], "url": "{{ _h.url('my/data/cliente/cartello/ex-image-foto') }}", "onComplete": {"update": "cartello"}}'>
			<img src="/assets/img/ico/ico-image.png"></a>
			{%endif%}
			<a class="button button-style action-template-load-selected-id" data-alttext="gallery"
			   data-action='{"select": {"from": "#list_cartello", "check": 1}, "url": "cliente/cartello/gallery/list", "template": "cliente/cartello/gallery/index", "paramsIdName": "id_entita", "paramsTemplate": true}'><img
					src="/assets/img/ico/ico-gallery.png"></a>
			<span class="button-separator"></span>

			<a class="button button-style action-download" data-alttext="export elenco"
			   data-action='{"url": "{{ _h.url('my/data/cliente/cartello/export') }}"}'><img
				src="/assets/img/ico/ico-download.png"></a>

			<!--<a class="button button-style action-template-load-selected-id" data-alttext="documenti/materiale" data-action='{"select": {"from": "#list_cartello", "check": 1}, "url": "cliente/cartello/documento/list", "template": "cliente/cartello/documento/index", "css": "layer-mid", "paramsIdName": "id_entita", "paramsTemplate": true}'><img src="/assets/img/ico/ico-contenuto.png"></a>-->
		</div>

		<div class="window-toolbar-button-filter">
			<a class="button button-style action-attiva-filtro" data-alttext="filtra"><img
					src="/assets/img/ico/ico-filter.png"></a>
			<a class="button button-style action-reset-filtro button-reset-filtro" data-alttext="annulla filtro"
			   data-action='{"load": "#list_cartello"}'><img src="/assets/img/ico/ico-filter-remove.png"></a>
		</div>
	</div>
	<div class="window-content">
		<div id="list_cartello" class="action-load-data action-autoupdate table-wrapper" data-update-content="cartello"
			 {% if not(_all)%}data-load-params='{"id_cliente": %id_cliente%}' {% endif %}
			 data-action='{"mergeTemplate": {"template": "list", "dataType": "list", "insertType": "prepend"}, "loadData": {"url": "cliente/cartello/list"}}'>
			<div data-merge-template="list">
				[[~it.list :item:index]]
				<table>
					[[? item.abilitato]]
						[[? item.disinstallato ]]
							[[ var background = '#efffff' ]]
						[[??]]
							[[ var background = '' ]]
						[[?]]
					[[??]]
						[[ var background = '#efefef' ]]
					[[?]]
					<tr data-id="[[=item.id]]" data-background="[[= background]]" data-uid="cartello_[[=item.id]]"
						class="action-details-cell"
						data-action='{"action-update": {"url": "cliente/cartello/load", "template": "cliente/cartello/edit"}, "action-details": {"url": "cliente/cartello/load", "template": "cliente/cartello/details"}}'>
						<td class="td-abilitato-[[=item.abilitato]]"></td>
						<td class="cell-checkbox">
							<div class="td-simple"><span data-value="[[=item.id]]" class="checkbox"><input type="hidden"
																										   value=""
																										   name="id"></span>
							</div>
						</td>
						<td class="details-cell">
							<div class="td-simple">
								<div class="img-crop"><img src="/my/img/320x240/[[=item.foto || 'void' ]]"></div>
							</div>
						</td>
						{% if _all %}
						<td class="details-cell">
							<div class="td">[[=item.cliente_nome]]</div>
						</td>
						{% endif %}
						{% if _h.session.params.user.profile > 8 %}
						<td class="details-cell">
							<div class="td">[[=item.fornitore_nome]]</div>
						</td>
						{%endif%}
						<td class="details-cell">
							<div class="td">[[=item.negozio_nome]]</div>
						</td>
						<td class="details-cell">
							<div class="td">[[=item.tipo_cartello_nome]]</div>
						</td>
						<td class="details-cell">
							<div class="td">[[=item.codice]]</div>
						</td>
						<td class="details-cell">
							<div class="td">[[=item.ubicazione]]</div>
						</td>
						<td class="details-cell">
							<div class="td">[[=item.provincia_nome]]</div>
						</td>
						<td class="details-cell">
							<div class="td-simple">[[=item.data_dal]]</div>
						</td>
						<td class="details-cell">
							<div class="td-simple">[[=item.data_al]]</div>
						</td>
						<td>
							<div class="td-simple"><a class="button button-style action-item"
													  data-action='{"showIf": ["abilitato-[[=item.abilitato]]"],"options": "menu-context-cartello-list"}'><img
									src="/assets/img/ico/ico-action.png"></a></div>
						</td>
						<td>
							<div class="td-simple"><a class="button button-style action-info-item item-info-button"
													  data-action='{"type": "cartello"}'><img
									src="/assets/img/ico/ico-info.png"></a></div>
						</td>
					</tr>
				</table>
				[[~]]
			</div>
			<div data-content="menu-context-cartello-list">
				{% if not(_all) %}
				{% if _h.session.params.user.sola_lettura == '0' %}
				<a class="button item-show-if show-if-abilitato-0 action-abilita"
				   data-action='{"title":"Visibilità", "url":"cliente/cartello/ex-abilita", "type": "cartello", "abilita": "1"}'>Abilita</a>
				<a class="button item-show-if show-if-abilitato-1 action-abilita"
				   data-action='{"title":"Visibilità", "url":"cliente/cartello/ex-abilita", "type": "cartello", "abilita": ""}'>Blocca</a>
				<a class="button action-update"
				   data-action='{"url": "cliente/cartello/load", "template": "cliente/cartello/edit"}'>Modifica</a>
				<a class="button action-delete" data-action='{"title": "Elimina", "url": "cliente/cartello/ex-delete"}'>Elimina</a>
				<a class="button action-details"
				   data-action='{"url": "cliente/cartello/load", "template": "cliente/cartello/details"}'>Dettaglio</a>
				{% endif %}
				{% endif %}
				{% if _h.session.params.user.sola_lettura == '0' %}
				<a class="button action-upload-file"
				   data-action='{"select": true, "fileType": ["jpg", "jpeg", "png", "gif"], "url": "{{ _h.url(' my/data/cliente/cartello/ex-image-foto') }}", "onComplete": {"light": "cartello", "from": "#list_cartello"}}'>Foto</a>
				{%endif%}
				<a class="button action-template-load-selected-id"
				   data-action='{"url": "cliente/cartello/gallery/list", "template": "cliente/cartello/gallery/index", "paramsIdName": "id_entita", "paramsTemplate": true}'>Gallery</a>
				<a class="button action-info-item-all" data-action='{"type": "cartello",  "template": "info/list-cartello"}'>Informazioni</a>
			</div>

			<table class="table-single-selection-shift table table-fix-header">
				<colgroup>
					<col class="col col-abilitato">
					<col class="col col-checkbox">
					<col class="col col-100">
					{% if _all %}
					<col class="col col-200">
					{% endif %}
					{% if _h.session.params.user.profile > 8 %}
					<col class="col col-200">
					{%endif%}
					<col class="col col-200">
					<col class="col col-100">
					<col class="col col-100">
					<col class="col ">
					<col class="col col-150">
					<col class="col col-date">
					<col class="col col-date">
					<col class="col col-action">
					<col class="col col-action">
				</colgroup>
				<thead>
				<tr>
					<th></th>
					<th></th>
					<th></th>
					{% if _all %}
					<th data-order="cliente_nome">
						<div class="th">Cliente</div>
					</th>
					{% endif %}
					{% if _h.session.params.user.profile > 8 %}
					<th data-order="fornitore_nome">
						<div class="th">Fornitore</div>
					</th>
					{%endif%}
					<th data-order="negozio_nome">
						<div class="th">Punto vendita</div>
					</th>
					<th data-order="tipo_cartello_nome">
						<div class="th">Tipo</div>
					</th>
					<th data-order="codice_int" data-order-type="asc">
						<div class="th">Codice</div>
					</th>
					<th data-order="ubicazione">
						<div class="th">Ubicazione</div>
					</th>
					<th data-order="provincia_nome">
						<div class="th">Provincia</div>
					</th>
					<th data-order="data_dal">
						<div class="th">Data dal</div>
					</th>
					<th data-order="data_al">
						<div class="th">Data al</div>
					</th>
					<th></th>
					<th></th>
				</tr>
				</thead>
				<tbody data-merge-content="list"></tbody>
			</table>
		</div>
	</div>
</div>

<div class="window-filter">
	<form>
		<div class="window-filter-toolbar">
			<span>Filtra cartello</span>
			<a class="button button-style action-attiva-filtro" data-alttext="chiudi">
				<img src="/assets/img/ico/ico-close.png"></a>
		</div>
		<div class="window-filter-content">
			{% if _all and _h.session.params.user.profile > 8 %}
			{% if list_cliente and list_cliente|length > 0 %}
			<div class="field-group field-line-small field-group-expand">
				<div class="field-group-title">Cliente</div>
				<div class="field-group-body update-with-data"
					 data-action='{"updateWithData":{"content": "cliente"}}'>
					{% for item in list_cliente %}
					<div class="field-line field-line-checkbox ">
						<div class="hrow">
							<span data-value="{{ item.id }}" class="checkbox"><input type="hidden" value=""
																					 name="id_cliente[]"></span>
							<label>{{ item.nome }}</label>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			{% endif %}
			{% endif %}
			{% if _h.session.params.user.profile > 8 %}
			{% if list_negozio and list_negozio|length > 0 %}
			<div class="field-group field-line-small field-group-expand">
				<div class="field-group-title">Punto vendita</div>
				<div class="field-group-body"
					 data-content-update-with-data="cliente">
					{% for item in list_negozio %}
					<div class="field-line field-line-checkbox" data-id-data="{{item.id_cliente}}">
						<div class="hrow">
							<span data-value="{{ item.id }}" class="checkbox"><input type="hidden" value=""
																					 name="id_negozio[]"></span>
							<label>{{ item.nome }}</label>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			{% endif %}
			{% endif %}
			{% if _h.session.params.user.profile > 8 %}
			<div class="field-group field-line-small field-group-expand">
				<div class="field-group-title">Fornitore</div>
				<div class="field-group-body">
					{% for item in list_fornitore %}
					<div class="field-line field-line-checkbox">
						<div class="hrow">
							<span data-value="{{ item.id }}" class="checkbox"><input type="hidden" value=""
																					 name="id_fornitore[]"></span>
							<label>{{ item.nome }}</label>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			{%endif%}
			<div class="field-group field-line-small field-group-expand">
				<div class="field-group-title">Tipo Cartello</div>
				<div class="field-group-body">
					{% for item in list_tipocartello %}
					<div class="field-line field-line-checkbox">
						<div class="hrow">
							<span data-value="{{ item.id }}" class="checkbox"><input type="hidden" value=""
																					 name="id_tipo_cartello[]"></span>
							<label>{{ item.nome }}</label>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="field-group">
				<div class="field-group-title">Provincia</div>
				<div class="field-line">
					<div class="field">
						<label>Provincia</label>
						<select name="recapito_id_provincia">
							<option></option>
							{% for item in list_provincia %}
							<option value="{{ item.id }}">{{ item.nome }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			</div>
			<div class="field-group">
				<div class="field-group-title">Data inizio</div>
				<div class="field-line-multi field-line-50-50">
					<div class="field-line">
						<div class="field">
							<label>Dal</label>
							<input type="text" name="data_dal" maxlength="10"
								   class="valida-datasimple input-datepicker">
						</div>
					</div>
					<div class="field-line">
						<div class="field">
							<label>Al</label>
							<input type="text" name="data_al" maxlength="10" class="valida-datasimple input-datepicker">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="window-filter-bottombar">
			<a class="button action-reset-filtro button-close button-style" data-action='{"load": "#list_cartello"}'>Azzera</a>
			{% if _h.session.params.user.profile > 8 %}
			<a class="button button-style action-download" data-action='{"url": "{{ _h.url(' my/data/cliente/cartello/export')
			}}"}'><img src="/assets/img/ico/ico-download.png">Export</a>
			{% endif %}
			<a class="button action-filtro-load-data button-action" data-action='{"load": "#list_cartello"}'>Filtra</a>
		</div>
	</form>
</div>