<div class="window-base">
	<div class="window-title">
	Log accesso
	</div>
	<div class="window-toolbar">
		<div class="window-toolbar-button">
			<a class="button button-style action-download" data-alttext="export elenco" data-action='{"url": "{{ _h.url('my/data/log/access/export') }}"}'><img src="/assets/img/ico/ico-download.png"></a>
			<span class="button-separator"></span>
			<a class="button button-style action-ip-bloccati" data-alttext="IP bloccati"><img src="/assets/img/ico/ico-ip-blocco.png"></a>
		</div>
		<div class="window-toolbar-button-filter">
			<a class="button button-style action-attiva-filtro" data-alttext="filtra"><img src="/assets/img/ico/ico-filter.png"></a>
			<a class="button button-style action-reset-filtro button-reset-filtro" data-alttext="annulla filtro" data-action='{"load": "#list_log_access"}'><img src="/assets/img/ico/ico-filter-remove.png"></a>
		</div>
	</div>
	<div class="window-content">
	<div id="list_log_access" class="action-load-data action-autoupdate table-wrapper" data-update-content="log_access" data-load-params='' data-action='{"mergeTemplate": {"template": "list", "dataType": "list", "insertType": "prepend"}, "loadData": {"url": "log/access/list"}}'>
		<div data-merge-template="list">
		[[~it.list :item:index]]
			<table>
			<tr data-ip="[[=item.ip]]" data-id-utente="[[=item.id_utente]]">
				<td><div class="td-simple">[[=item.data_operazione]]</div></td>
				<td><div class="td">[[=item.ip]]</div></td>
				<td><div class="td">[[=item.tipo_operazione]]</div></td>
				<td><div class="td">[[=item.id_utente]]</div></td>
				<td><div class="td">
					[[=item.e_mail || '']]
				</div></td>
				<td><div class="td" data-alttext="[[=item.utente.e_mail || '']] [[=item.utente.nome]] [[=item.utente.cognome || '']]">
					[[=item.utente.nome]] [[=item.utente.cognome || '']]
				</div></td>
				<td>
					<div class="td-simple"><a class="button button-style action-item" data-action='{"options": "menu-context-log-list"}'><img src="/assets/img/ico/ico-action.png"></a></div>
				</td>
			</tr>
			</table>
		[[~]]
		</div>
		<div data-content="menu-context-log-list">
		<a class="button action-utente-scrivi">Scrivi a utente</a>
		<a class="button action-confirm" data-action='{"title": "Blocco IP", "text": "Procedere con il blcocco IP?", "url": "system/ip/ex-blocco", "paramId": "data-ip"}'>Blocca IP</a>
		</div>
		
	<table class="table-single-selection-shift table table-fix-header">
	<colgroup>
		<col class="col col-datetime">
		<col class="col col-ip">
		<col class="col col-100">
		<col class="col col-100">
		<col class="col">
		<col class="col col-utente">
		<col class="col col-action">
	</colgroup>
	<thead>
		<tr>
			<th data-order="data_operazione" data-order-type="desc"><div class="th">Data</div></th>
			<th data-order="ip"><div class="th">IP</div></th>
			<th data-order="tipo_operazione"><div class="th">Azione</div></th>
			<th data-order="id_utente"><div class="th">ID utente</div></th>
			<th data-order="e_mail"><div class="th">E-Mail</div></th>
			<th data-order="find_utente"><div class="th">Utente</div></th>
			<th></th>
		</tr>
	</thead>
	<tbody data-merge-content="list"></tbody>
	</table>
	</div>
	</div>
</div>
<div class="window-filter">
	<form>
	<div class="window-filter-toolbar">
		<span>Filtra Log Accessi</span>
		<a class="button button-style action-attiva-filtro" data-alttext="chiudi"><img src="/assets/img/ico/ico-close.png"></a>
	</div>
	<div class="window-filter-content">
		<div class="field-group">
			<div class="field-group-title">Cerca per IP</div>
			<div class="field-line">
				<div class="field">
					<label>Cerca</label>
					<input type="text" name="ip">
				</div>
			</div>
		</div>
		<div class="field-group">
			<div class="field-group-title">Cerca utente</div>
			<div class="field-line">
				<div class="field">
					<label>Cerca</label>
					<input type="text" name="find_utente">
				</div>
			</div>
		</div>
		<div class="field-group">
			<div class="field-group-title">Cerca per ID utente</div>
			<div class="field-line">
				<div class="field">
					<label>Cerca</label>
					<input type="text" name="id_utente">
				</div>
			</div>
		</div>
		<div class="field-group">
			<div class="field-group-title">Data operazione</div>
			<div class="field-line-multi field-line-50-50">
				<div class="field-line">
					<div class="field">
						<label>Dal</label>
						<input type="text" name="data_operazione_dal" maxlength="10" class="valida-datasimple input-datepicker">
					</div>
				</div>
				<div class="field-line">
					<div class="field">
						<label>Al</label>
						<input type="text" name="data_operazione_al" maxlength="10" class="valida-datasimple input-datepicker">
					</div>
				</div>
			</div>		
		</div>
		<div class="field-group field-line-small">
			<div class="field-group-title">Azione</div>
			<div class="field-line field-line-checkbox">
				<div class="hrow">
					<span data-value="login" class="checkbox"><input type="hidden" value="" name="tipo_operazione[]"></span>
					<label>Login</label>
				</div>
			</div>
			<div class="field-line field-line-checkbox">
				<div class="hrow">
					<span data-value="logout" class="checkbox"><input type="hidden" value="" name="tipo_operazione[]"></span>
					<label>Logout</label>
				</div>
			</div>
			<div class="field-line field-line-checkbox">
				<div class="hrow">
					<span data-value="login_err" class="checkbox"><input type="hidden" value="" name="tipo_operazione[]"></span>
					<label>Login Errore</label>
				</div>
			</div>
		</div>			
	</div>
	<div class="window-filter-bottombar">
		<a class="button action-reset-filtro button-close button-style" data-action='{"load": "#list_log_access"}'>Azzera</a>
		<a class="button action-filtro-load-data button-action" data-action='{"load": "#list_log_access"}'>Filtra</a>
	</div>
	</form>
</div>