<div class="window-base window-base-bottombar">
	<div class="window-title">
	Dettaglio
	</div>
	<div data-merge-content="item">
		<div class="window-content">
			<div class="window-content-inner">
				<table class="table">
				<colgroup>
					<col class="col col-details-label">
					<col class="col col-details-value">
				</colgroup>
				<tbody>
				<tr>
					<td><div class="td">Nome</div></td>
					<td><div class="td">[[=it.nome ]]</div></td>
				</tr>
				<tr>
					<td><div class="td">Cognome</div></td>
					<td><div class="td">[[=it.cognome ]]</div></td>
				</tr>
				<tr>
					<td><div class="td">E-Mail</div></td>
					<td><div class="td">[[=it.e_mail ]]</div></td>
				</tr>
				<tr>
					<td><div class="td">Telefono</div></td>
					<td><div class="td">[[=it.telefono ]]</div></td>
				</tr>
				<tr>
					<td><div class="td">Testo</div></td>
					<td><div class="td td-text">[[=it.testo || '' ]]</div></td>
				</tr>
				<tr>
					<td><div class="td">Creato il</div></td>
					<td><div class="td">[[=it.data_inserimento ]]</div></td>
				</tr>				
				</tbody>				
				</table>
				[[? it.dettaglio ]]
				[[? it.dettaglio.elenco_risposte ]]
				[[~it.dettaglio.elenco_risposte :item:index]]
				<br><br>
				<table class="table">
				<colgroup>
					<col class="col col-details-label">
					<col class="col col-details-value">
				</colgroup>
				<tbody>
				<tr>
					<td><div class="td">Risposta del</div></td>
					<td><div class="td">[[=item.data_risposta ]]</div></td>
				</tr>
				<tr>
					<td><div class="td">Mittente</div></td>
					<td><div class="td">[[=item.mittente.nome ]] [[=item.mittente.cognome ]]</div></td>
				</tr>
				<tr>
					<td><div class="td">Oggetto</div></td>
					<td><div class="td">[[=item.oggetto ]]</div></td>
				</tr>
				<tr>
					<td><div class="td">Testo</div></td>
					<td><div class="td td-text">[[=item.testo ]]</div></td>
				</tr>
				</tbody>				
				</table>				
				[[~]]
				[[?]]
				[[?]]
			</div>		
		</div>
		<div class="window-bottombar">
			<a class="button button-close button-style action-richiestacontatto-messaggio action-layer-close-button" data-action='{"id": [[=it.id ]]}'>Rispondi</a>
		</div>
	</div>
</div>