<div class="window-base">
	<div class="window-title">
	Richieste contatto
	</div>
	<div class="window-toolbar">
		<div class="window-toolbar-button">
			<a class="button button-style action-delete" data-alttext="elimina" data-action='{"select": {"from": "#list_richiestacontatto", "check": 0}, "title": "Elimina richiesta", "url": "richiestacontatto/ex-delete"}'><img src="/assets/img/ico/ico-del.png"></a>
			{% if _h.session.profile == 'super' %}
			<span class="button-separator"></span>
			<a class="button button-style action-ripristina" data-alttext="ripristina eliminato" data-action='{"select": {"from": "#list_richiestacontatto", "check": 0}, "title": "Ripristina", "url": "richiestacontatto/ex-delete-ripristina", "type": "richiestacontatto"}'><img src="/assets/img/ico/ico-check.png"></a>
			<a class="button button-style action-delete" data-alttext="elimina definitivamente" data-action='{"select": {"from": "#list_richiestacontatto", "check": 0}, "title": "Elimina definitivamente", "url": "richiestacontatto/ex-delete-real"}'><img src="/assets/img/ico/ico-close.png"></a>
			{% endif %}
		</div>
		<div class="window-toolbar-button-filter">
			<a class="button button-style action-attiva-filtro" data-alttext="filtra"><img src="/assets/img/ico/ico-filter.png"></a>
			<a class="button button-style action-reset-filtro button-reset-filtro" data-alttext="annulla filtro" data-action='{"load": "#list_richiestacontatto"}'><img src="/assets/img/ico/ico-filter-remove.png"></a>
		</div>
	</div>
	<div class="window-content">
	<div id="list_richiestacontatto" class="action-load-data action-autoupdate table-wrapper" data-update-content="richiestacontatto" data-load-params='{"nascondi_eliminati": 1}' data-action='{"mergeTemplate": {"template": "list", "dataType": "list", "insertType": "prepend"}, "loadData": {"url": "richiestacontatto/list"}}'>
		<div data-merge-template="list">
		[[~it.list :item:index]]
			[[? item.eliminato ]]
				[[ var background = '#efefef' ]]
			[[??]]
				[[? item.stato == 1 ]]
					[[ var background = '#efefef' ]]
				[[??]]
					[[ var background = '' ]]
				[[?]]
			[[?]]
			
			<table>
			<tr data-id="[[=item.id]]" data-uid="richiestacontatto_[[=item.id]]" data-background="[[= background]]" class="action-details-cell" data-action='{"action-details": {"url": "richiestacontatto/load-details", "template": "richiestacontatto/details", "update": {"url": "richiestacontatto/load", "type": "richiestacontatto"}}}'>
				<td class="cell-checkbox"><div class="td-simple"><span data-value="[[=item.id]]" class="checkbox"><input type="hidden" value="" name="id"></span></div></td>
				<td class="details-cell"><div class="td">[[=item.nome]]</div></td>
				<td class="details-cell"><div class="td">[[=item.cognome]]</div></td>
				<td class="details-cell"><div class="td">[[=item.telefono]]</div></td>
				<td class="details-cell"><div class="td">[[=item.e_mail]]</div></td>
				<td class="details-cell"><div class="td-simple">[[=item.data_inserimento]]</div></td>
				<td class="details-cell"><div class="td-simple">[[=item.data_risposta]]</div></td>
				<td>
					<div class="td-simple"><a class="button button-style action-item" data-action='{"showIf": ["eliminato-[[=item.eliminato]]"], "options": "menu-context-richiestacontatto-list"}'><img src="/assets/img/ico/ico-action.png"></a></div>
				</td>
				<td><div class="td-simple"><a class="button button-style action-info-item item-info-button" data-action='{"type": "richiesta_contatto"}'><img src="/assets/img/ico/ico-info.png"></a></div></td>
			</tr>
			</table>
		[[~]]
		</div>
		<div data-content="menu-context-richiestacontatto-list">
		<a class="button action-richiestacontatto-messaggio">Rispondi</a>
		<a class="button item-show-if show-if-eliminato-0 action-delete" data-action='{"title": "Elimina", "url": "richiestacontatto/ex-delete"}'>Elimina</a>
		{% if _h.session.profile == 'super' %}
		<a class="button item-show-if show-if-eliminato-1 action-ripristina" data-action='{"title": "Ripristina", "url": "richiestacontatto/ex-delete-ripristina", "type": "richiestacontatto"}'>Ripristina</a>
		<a class="button item-show-if show-if-eliminato-1 action-delete" data-action='{"title": "Elimina definitivamente", "url": "richiestacontatto/ex-delete-real"}'>Elimina definitiv.</a>
		{% endif %}
		<a class="button action-details" data-action='{"url": "richiestacontatto/load-details", "template": "richiestacontatto/details", "update": {"url": "richiestacontatto/load", "type": "richiestacontatto"}}'>Dettaglio</a>
		<a class="button action-info-item-all" data-action='{"type": "richiesta_contatto"}'>Informazioni</a>
		</div>

	<table class="table-single-selection-shift table table-fix-header">
	<colgroup>
		<col class="col col-checkbox">
		<col class="col col-nome">
		<col class="col col-cognome">
		<col class="col col-cognome">
		<col class="col">
		<col class="col col-datetime">
		<col class="col col-datetime">
		<col class="col col-action">
		<col class="col col-action">
	</colgroup>
	<thead>
		<tr>
			<th></th>
			<th data-order="nome"><div class="th">Nome</div></th>
			<th data-order="cognome"><div class="th">Cognome</div></th>
			<th><div class="th">Telefono</div></th>
			<th><div class="th">E-Mail</div></th>
			<th data-order="data_inserimento"  data-order-type="desc"><div class="th">Data richiesta</div></th>
			<th data-order="data_risposta"><div class="th">Data risposta</div></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody data-merge-content="list"></tbody>
	</table>
	</div>
	</div>
</div>
<div class="window-filter">
	<form>
	<div class="window-filter-toolbar">
		<span>Filtra richieste contatto</span>
		<a class="button button-style action-attiva-filtro" data-alttext="chiudi"><img src="/assets/img/ico/ico-close.png"></a>
	</div>
	<div class="window-filter-content">
		<div class="field-line field-line-checkbox">
			<div class="hrow">
				<span data-value="1" class="checkbox checkbox-checked"><input type="hidden" value="1" name="nascondi_eliminati" data-default-value="1"></span>
				<label>Nascondi eliminati</label>
			</div>
		</div>
		<div class="field-group">
			<div class="field-group-title">Cerca per nome, cognome, e-mail</div>
			<div class="field-line">
				<div class="field">
					<label>Cerca</label>
					<input type="text" name="find">
				</div>
			</div>
		</div>
		<div class="field-group checkbox-group field-line-small">
			<div class="field-group-title">Stato</div>
			<div class="field-line field-line-checkbox">
				<div class="hrow">
					<span data-value="1" class="checkbox checkbox-checked"><input type="hidden" value="" name="tutti" data-default-value="1"></span>
					<label>Tutti</label>
				</div>
			</div>
			<div class="field-line field-line-checkbox">
				<div class="hrow">
					<span data-value="0" class="checkbox"><input type="hidden" value="" name="stato[]"></span>
					<label>Da leggere</label>
				</div>
			</div>
			<div class="field-line field-line-checkbox">
				<div class="hrow">
					<span data-value="1" class="checkbox"><input type="hidden" value="" name="stato[]"></span>
					<label>Letto</label>
				</div>
			</div>
		</div>
		<div class="field-group checkbox-group field-line-small">
			<div class="field-group-title">Tipologia</div>
			<div class="field-line field-line-checkbox">
				<div class="hrow">
					<span data-value="1" class="checkbox checkbox-checked"><input type="hidden" value="1" name="tutti" data-default-value="1"></span>
					<label>Tutti</label>
				</div>
			</div>
			<div class="field-line field-line-checkbox">
				<div class="hrow">
					<span data-value="1" class="checkbox"><input type="hidden" value="" name="con_risposta"></span>
					<label>Con risposta</label>
				</div>
			</div>
			<div class="field-line field-line-checkbox">
				<div class="hrow">
					<span data-value="1" class="checkbox"><input type="hidden" value="" name="senza_risposta"></span>
					<label>Senza risposta</label>
				</div>
			</div>
		</div>
		<div class="field-group">
			<div class="field-group-title">Data ricezione</div>
			<div class="field-line-multi field-line-50-50">
				<div class="field-line">
					<div class="field">
						<label>Dal</label>
						<input type="text" name="data_inserimento_dal" maxlength="10" class="valida-datasimple input-datepicker">
					</div>
				</div>
				<div class="field-line">
					<div class="field">
						<label>Al</label>
						<input type="text" name="data_inserimento_al" maxlength="10" class="valida-datasimple input-datepicker">
					</div>
				</div>
			</div>		
		</div>
		<div class="field-group">
			<div class="field-group-title">Data invio risposta</div>
			<div class="field-line-multi field-line-50-50">
				<div class="field-line">
					<div class="field">
						<label>Dal</label>
						<input type="text" name="data_risposta_dal" maxlength="10" class="valida-datasimple input-datepicker">
					</div>
				</div>
				<div class="field-line">
					<div class="field">
						<label>Al</label>
						<input type="text" name="data_risposta_al" maxlength="10" class="valida-datasimple input-datepicker">
					</div>
				</div>
			</div>		
		</div>			
	</div>
	<div class="window-filter-bottombar">
		<a class="button action-reset-filtro button-close button-style" data-action='{"load": "#list_richiestacontatto"}'>Azzera</a>
		<a class="button action-filtro-load-data button-action" data-action='{"load": "#list_richiestacontatto"}'>Filtra</a>
	</div>
	</form>
</div>