
<div class="window-base window-base-bottombar">
	<div class="window-title">
	Rispondi a richiesta
	</div>
	<div data-merge-template="item">
		<strong>
		<input type="hidden" name="id" value="[[=it.id]]">
		[[=it.nome]] [[=it.cognome]]
		</strong>
	</div>
	<form>
		<div class="window-content">
			<div class="window-content-inner">
				<div class="field-line-text">
					Rispondi alla richiesta di:
				</div>
				<div class="field-line-text" data-merge-content="item"></div>
				<div class="field-line">
					<div class="field" data-tips="oggetto della risposta">
						<label>Oggetto<span>*</span></label>
						<input type="text" name="oggetto" class="valida-required" value="">
					</div>
				</div>
				<div class="field-line field-line-textarea">
					<div class="field">
						<label>Testo del messaggio<span>*</span></label>
						<textarea name="testo" class="valida-required"></textarea>
					</div>
				</div>
								
				<div class="field-line-text">
					<em>I campi con <span class="obbligatorio">*</span> (asterisco) sono obbligatori</em>
				</div>
			</div>		
		</div>
		<div class="window-bottombar">
			<a class="button button-close button-style action-layer-close-button">Annulla</a>
			<a class="button action-submit-form button-submit" data-action='{"url": "{{ _h.url('my/data/richiestacontatto/ex-messaggio') }}", "onComplete": {"type": "close-win", "update": "richiestacontatto"}}'>invia</a>
		</div>
	</form>
</div>