		</div>
		
{% macro button(label, ico, hash, action, num, key_num) %}
	<a class="button button-img button-count" data-section="{{ hash }}" data-action='{{ action }}' href="#{{ hash }}">
	<img src="/assets/img/ico/ico-{{ ico }}.png" class="img-base">
	<img src="/assets/img/ico/ico-{{ ico }}-red.png" class="img-selected">
	<span>{{ label }}</span>
	{% if key_num %}
	<em class="{{ key_num }}" data-num="{{ num }}">{{ num }}</em>
	{% endif %}
	</a>
{% endmacro %}

{% macro button_simple(label, ico, action) %}
	<a class="button button-img action-section-win" data-action='{{ action }}'>
	<img src="/assets/img/ico/ico-{{ ico }}.png" class="img-base">
	<img src="/assets/img/ico/ico-{{ ico }}-red.png" class="img-selected">
	<span>{{ label }}</span>
	</a>
{% endmacro %}

{% macro button_message(label, ico, action) %}
	<a class="button button-img action-message" data-action='{{ action }}'>
	<img src="/assets/img/ico/ico-{{ ico }}.png" class="img-base">
	<img src="/assets/img/ico/ico-{{ ico }}-red.png" class="img-selected">
	<span>{{ label }}</span>
	</a>
{% endmacro %}


{% macro button_title(label, ico, num, key_num) %}
	<a class="button button-img button-count action-section-list">
	<img src="/assets/img/ico/ico-{{ ico }}.png" class="img-base">
	<img src="/assets/img/ico/ico-{{ ico }}-red.png" class="img-selected">
	<span>{{ label }}</span>
	{% if key_num %}
	<em class="{{ key_num }}" data-num="{{ num }}">{{ num }}</em>
	{% endif %}
	</a>
{% endmacro %}
	<div id="content_menu" class="menu-implode">
		<div class="menu-wrapper">
			<!--{{ _self.button('Dashboard', 'dashboard', 'dashboard', '{"loadTemplate": {"template": "dashboard/index"}}') }}-->
		{% if _h.session.params.user.profile >= 10 %}
			{{ _self.button('Account', 'account', 'account', '{"loadTemplate": {"template": "account/index"}, "loadData": {"url": "account/list"}}') }}
		{% endif %}
		{{ _self.button('Clienti', 'cliente', 'cliente', '{"loadTemplate": {"template": "cliente/index"}, "loadData": {"url": "cliente/list"}}') }}
		{{ _self.button('Cartelli', 'cartello', 'cartello', '{"loadTemplate": {"template": "cliente/cartello/index_all"}, "loadData": {"url": "cliente/cartello/list"}}') }}
			{% if _h.session.params.user.profile > 9 %}
				{{ _self.button('Fornitori', 'factory', 'fornitore', '{"loadTemplate": {"template": "fornitore/index"}, "loadData": {"url": "fornitore/list"}}') }}
			{%endif%}
        {{ _self.button('Tipo Cartello', 'tipo', 'tipo', '{"loadTemplate": {"template": "tipocartello/index"}, "loadData": {"url": "tipocartello/list"}}') }}
        {{ _self.button('Mappa', 'dashboard', 'mappa', '{"loadTemplate": {"template": "mappa/index"}, "loadData": {"url": "mappa/list"}}') }}
                {% if _h.session.params.user.profile > 9 %}
                    {{ _self.button_simple('Export', 'archivio', '{"loadTemplate": {"template": "export/edit"}}') }}
                {% endif %}
		{% if _h.session.params.user.sola_lettura == '0' %}
			{% if _h.session.params.user.profile >= 10 %}
			<div class="button-list-section-wrapper">
				{{ _self.button_title('Impostazioni', 'settings') }}
				<div class="button-list-section">
					{{ _self.button_simple('Configura', 'configura', '{"loadTemplate": {"template": "impostazioni/edit"}, "loadData": {"url": "impostazioni/load"}}') }}
					{{ _self.button_message('Export Wizard', 'configura', '{"message": {"success": "Esportazione completata con successo."}, "loadData": {"url": "export-wizard"}}') }}
				</div>
			</div>
			{% endif %}
		{% endif %}
		
		{% if _h.session.params.user.profile > 10 %}
			{{ _self.button('Richieste contatto', 'contatto', 'contatto', '{"loadTemplate": {"template": "richiestacontatto/index"}, "loadData": {"url": "richiestacontatto/list"}}', user_info.num_richieste_contatto_nuovo, 'update_num_richieste_contatto') }}
		{% endif %}
	
		{% if _h.session.params.user.profile > 10 %}
			<div class="button-list-section-wrapper">
				{{ _self.button_title('Log', 'log') }}
				<div class="button-list-section">
				{{ _self.button('Log generici', 'user', 'log_generic', '{"loadTemplate": {"template": "log/generic/index"}, "loadData": {"url": "log/generic/list"}}') }}
				{{ _self.button('Log accesso', 'chiave', 'log_access', '{"loadTemplate": {"template": "log/access/index"}, "loadData": {"url": "log/access/list"}}') }}
				{{ _self.button_simple('IP bloccati', 'ip-blocco', '{"loadTemplate": {"template": "system/ip/index"}, "loadData": {"url": "system/ip/list"}}') }}
				</div>
			</div>
		{% endif %}
		</div>
		
		<footer>
			<div class="copy">Balestri e Balestri &copy; 2016</div>
		</footer>
	</div>
	
	</div>
</body>
</html>