<header class="hrow">
	<a class="logo link" title="Balestri e Balestri" href="{{ _h.url('my/index') }}">
		<img src="/assets/img/logo-white.png" alt="Balestri e Balestri">
	</a>
	
	<section class="toolbar action-item" data-action='{"options": "menu-account-user-list", "position": "right"}' data-id="{{ _h.session.params.user.id }}">
		<a class="button user" >
			<img src="/assets/img/ico-login.png"><span class="dati-current-utente">{{ _h.session.params.user.nome }} {{ _h.session.params.user.cognome }}</span>
		</a>
		<a class="button user-impostazioni" data-alttext="impostazioni">
		<img src="/assets/img/ico/ico-settings-white.png">
		</a>
		
		<div data-content="menu-account-user-list">
		<a class="button action-utente-modifica-dati">Modifica dati</a>
		{% if _h.session.params.user.profile <= 10 %}
		<a class="button action-utente-modifica-password">Modifica password</a>
		{% endif %}
		<a class="button link" href="{{ _h.url('my/logout') }}">Esci</a>
		</div>

	</section>
	<a class="button togglemenu">
	<img src="/assets/img/ico/ico-menu.png">
	</a>
</header>
<div id="main">
	<div id="content" class="layer layer-strong">